USE [DataWarehouse]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 2014/11/12 17:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL
) ON [PRIMARY]

GO
