USE [DataWarehouse]
GO
/****** Object:  View [dbo].[V_TTFGLD005180]    Script Date: 2014/11/12 17:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE VIEW [dbo].[V_TTFGLD005180] AS SELECT * FROM OPENQUERY(AS1P1,'SELECT * FROM BAAN.TTFGLD005180')

GO
