USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[Synchronous_Baan_table_tfgld106]    Script Date: 2014/11/12 17:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Synchronous_Baan_table_tfgld106]
AS
BEGIN
	
--BAAN_TTFGLD106180.T$FYER >2006 AND BAAN_TTFGLD106180.T$LEAC BETWEEN '300000' AND '400000' AND BAAN_TTFGLD106180.T$LEAC <> '341103' AND BAAN_TTFGLD106180.T$LEAC <> '300199

	SET NOCOUNT ON;

    -- Init Temp table 
		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106180') AND TYPE = 'U')
			DROP TABLE #tfgld106180

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106181') AND TYPE = 'U')
			DROP TABLE #tfgld106181

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106183') AND TYPE = 'U')
			DROP TABLE #tfgld106183

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106184') AND TYPE = 'U')
			DROP TABLE #tfgld106184

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106185') AND TYPE = 'U')
			DROP TABLE #tfgld106185

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106186') AND TYPE = 'U')
			DROP TABLE #tfgld106186

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#tfgld106819') AND TYPE = 'U')
			DROP TABLE #tfgld106819

	-- Process leager account not in list
		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.tfscpp768180') AND TYPE = 'U')
			DROP TABLE DataWarehouse.dbo.tfscpp768180

		SELECT	* INTO DataWarehouse.dbo.tfscpp768180 FROM OPENQUERY(AS1P1,'SELECT * FROM BAAN.TFSCPP768180')

	-- Process 180 Data
		SELECT * INTO #tfgld106180 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106180 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' AND T$LEAC <> ''341103'' AND T$LEAC <> ''300199'' ')
		CREATE INDEX Index_temp_tfgld180 ON #tfgld106180(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106180') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106180
			END

		SELECT * INTO TTFGLD106180 FROM #tfgld106180
		CREATE INDEX Index_tfgld180 ON TTFGLD106180(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 181 Data
		SELECT * INTO #tfgld106181 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106181 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld181 ON #tfgld106181(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106181') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106181
			END

		SELECT * INTO TTFGLD106181 FROM #tfgld106181
		CREATE INDEX Index_tfgld181 ON TTFGLD106181(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 183 Data
		SELECT * INTO #tfgld106183 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106183 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld183 ON #tfgld106183(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106183') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106183
			END

		SELECT * INTO TTFGLD106183 FROM #tfgld106183
		CREATE INDEX Index_tfgld183 ON TTFGLD106183(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 184 Data
		SELECT * INTO #tfgld106184 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106184 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld184 ON #tfgld106184(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106184') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106184
			END
		ELSE

		SELECT * INTO TTFGLD106184 FROM #tfgld106184
		CREATE INDEX Index_tfgld184 ON TTFGLD106184(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 185 Data
		SELECT * INTO #tfgld106185 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106185 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld185 ON #tfgld106185(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106185') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106185
			END

		SELECT * INTO TTFGLD106185 FROM #tfgld106185
		CREATE INDEX Index_tfgld185 ON TTFGLD106185(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 186 Data
		SELECT * INTO #tfgld106186 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106186 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld186 ON #tfgld106186(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106186') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106186
			END

		SELECT * INTO TTFGLD106186 FROM #tfgld106186
		CREATE INDEX Index_tfgld186 ON TTFGLD106186(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

	-- Process 819 Data
		SELECT * INTO #tfgld106819 FROM OPENQUERY(AS1P1,'SELECT T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN,T$OCMP,T$FTYP,T$FDOC,T$OYER,T$OBAT,T$LEAC,
													CASE WHEN T$DCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DCDT,
													T$TYP1,T$DIM1,T$TYP2,T$DIM2,T$TYP3,T$DIM3,T$TYP4,T$DIM4,T$TYP5,T$DIM5,T$REFR,T$AMNT,T$CCUR,T$RATE,
													T$FACT,T$AMTH,T$DBCR,T$CCTY,T$CVAT,T$VTYP,T$VLAC,T$VAMT,T$VAMH,T$QTY1,T$QTY2,T$FPRD,T$FYER,T$RPRD,
													T$RYER,T$VPRD,T$VYER,T$CUNO,T$SUNO,T$CATG,T$USER,
													CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'')   THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DCDT END AS T$DATE,
													T$TIME,T$TRUN,T$CONT,T$CTYP,T$CINV,T$CORN,T$CSRN,T$TCSH,T$TRAN,T$TXTA,T$DELE,T$INTT,T$REFCNTD,T$REFCNTU
											FROM BAAN.TTFGLD106819 WHERE T$LEAC BETWEEN ''300000'' AND ''399999'' AND T$FYER > ''2006'' ')
		CREATE INDEX Index_temp_tfgld819 ON #tfgld106819(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)

		IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'DataWarehouse.dbo.TTFGLD106819') AND TYPE = 'U')
			BEGIN
				DROP TABLE dbo.TTFGLD106819
--				INSERT INTO TTFGLD106819 
--				SELECT	A.*
--				FROM	#tfgld106819 AS A
--				WHERE	NOT EXISTS(SELECT B.* FROM TTFGLD106819 AS B WHERE B.T$OTYP+CAST(B.T$ODOC AS NVARCHAR(20))+CAST(B.T$OLIN AS NVARCHAR(20))+CAST(B.T$OSRL AS NVARCHAR(20))+CAST(B.T$OSRN AS NVARCHAR(20)) = A.T$OTYP+CAST(A.T$ODOC AS NVARCHAR(20))+CAST(A.T$OLIN AS NVARCHAR(20))+CAST(A.T$OSRL AS NVARCHAR(20))+CAST(A.T$OSRN AS NVARCHAR(20)))
--
--				UPDATE	TTFGLD106819
--				SET		T$OCMP=B.T$OCMP,T$FTYP=B.T$FTYP,T$FDOC=B.T$FDOC,T$OYER=B.T$OYER,T$OBAT=B.T$OBAT,T$LEAC=B.T$LEAC,T$DCDT=B.T$DCDT,T$TYP1=B.T$TYP1,T$DIM1=B.T$DIM1,T$TYP2=B.T$TYP2,T$DIM2=B.T$DIM2,T$TYP3=B.T$TYP3,T$DIM3=B.T$DIM3,T$TYP4=B.T$TYP4,T$DIM4=B.T$DIM4,T$TYP5=B.T$TYP5,T$DIM5=B.T$DIM5,T$REFR=B.T$REFR,T$AMNT=B.T$AMNT,T$CCUR=B.T$CCUR,T$RATE=B.T$RATE,T$FACT=B.T$FACT,T$AMTH=B.T$AMTH,T$DBCR=B.T$DBCR,T$CCTY=B.T$CCTY,T$CVAT=B.T$CVAT,T$VTYP=B.T$VTYP,T$VLAC=B.T$VLAC,T$VAMT=B.T$VAMT,T$VAMH=B.T$VAMH,T$QTY1=B.T$QTY1,T$QTY2=B.T$QTY2,T$FPRD=B.T$FPRD,T$FYER=B.T$FYER,T$RPRD=B.T$RPRD,T$RYER=B.T$RYER,T$VPRD=B.T$VPRD,T$VYER=B.T$VYER,T$CUNO=B.T$CUNO,T$SUNO=B.T$SUNO,T$CATG=B.T$CATG,T$USER=B.T$USER,T$DATE=B.T$DATE,T$TIME=B.T$TIME,T$TRUN=B.T$TRUN,T$CONT=B.T$CONT,T$CTYP=B.T$CTYP,T$CINV=B.T$CINV,T$CORN=B.T$CORN,T$CSRN=B.T$CSRN,T$TCSH=B.T$TCSH,T$TRAN=B.T$TRAN,T$TXTA=B.T$TXTA,T$DELE=B.T$DELE,T$INTT=B.T$INTT--,T$REFCNTD=B.T$REFCNTD,T$REFCNTU=B.T$REFCNTU
--				FROM	TTFGLD106819 AS A,#tfgld106819 AS B
--				WHERE	A.T$OTYP = B.T$OTYP
--				AND		A.T$ODOC = B.T$ODOC
--				AND		A.T$OLIN = B.T$OLIN
--				AND		A.T$OSRL = B.T$OSRL
--				AND		A.T$OSRN = B.T$OSRN
			END

		SELECT * INTO TTFGLD106819 FROM #tfgld106819
		CREATE INDEX Index_tfgld819 ON TTFGLD106819(T$OTYP,T$ODOC,T$OLIN,T$OSRL,T$OSRN)
END
GO
