USE [DataWarehouse]
GO
/****** Object:  Table [dbo].[Item_OEM]    Script Date: 2014/11/12 17:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item_OEM](
	[t$item] [char](32) NOT NULL,
	[t$csgs] [char](6) NOT NULL,
	[T$DESC] [nvarchar](30) NULL,
 CONSTRAINT [PK_Item_OEM] PRIMARY KEY CLUSTERED 
(
	[t$item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
