USE [DataWarehouse]
GO
/****** Object:  Table [dbo].[DW_DIM_Country]    Script Date: 2014/11/12 17:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DW_DIM_Country](
	[T$CCTY] [char](3) NOT NULL,
	[T$DSCA] [char](30) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Index_Country]    Script Date: 2014/11/12 17:04:26 ******/
CREATE NONCLUSTERED INDEX [Index_Country] ON [dbo].[DW_DIM_Country]
(
	[T$CCTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
