USE [BOC]
GO
/****** Object:  View [dbo].[Trend_Key_Customer]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Trend_Key_Customer]
AS
SELECT     [Data Source Type_1].Data_Source, '1' AS Sequence, Week_Period_1.Fiscal_Year, Week_Period_1.Fiscal_Period, Trend_Key_Plant_1.Plant, 
                      '' AS OEM_Code, 'Week/Period' AS Customer, Trend_key_report_type_1.Description AS RType, Week_Period_1.Week_Period AS Tvalue
FROM         dbo.Trend_Key_Plant AS Trend_Key_Plant_1 CROSS JOIN
                      dbo.[Data Source Type] AS [Data Source Type_1] CROSS JOIN
                      dbo.Week_Period AS Week_Period_1 CROSS JOIN
                      dbo.Trend_key_report_type AS Trend_key_report_type_1
WHERE     (Trend_key_report_type_1.Description LIKE N'%Trend Key Customer%')
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - No of Project' AS Rtype, No_of_Project
FROM         dbo.tfsboc103180
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - ASP.' AS Rtype, CAST(ROUND(ASP$, 2) AS decimal(10, 1)) 
                      AS Expr1
FROM         dbo.tfsboc103180 AS tfsboc103180_7
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - Avg Layer Count' AS Rtype, CAST(ROUND(Avg_Layer_Count, 2) 
                      AS decimal(10, 1)) AS Expr1
FROM         dbo.tfsboc103180 AS tfsboc103180_6
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - ASP Per Layer' AS Rtype, CAST(ROUND(ASP_Layer, 2) AS decimal(10, 
                      1)) AS Expr1
FROM         dbo.tfsboc103180 AS tfsboc103180_5
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - Output SQFT' AS Rtype, Output_SQFT
FROM         dbo.tfsboc103180 AS tfsboc103180_4
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - Output Amount' AS Rtype, Output_Amount
FROM         dbo.tfsboc103180 AS tfsboc103180_3
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - Margin K Amount' AS Rtype, Margin$
FROM         dbo.tfsboc103180 AS tfsboc103180_2
UNION ALL
SELECT     RTRIM(Data_Source) AS Data_Source, 
                      CASE Customer WHEN 'Week/Period' THEN 1 WHEN 'Others' THEN 3 WHEN 'Total per Week' THEN 4 WHEN 'Total' THEN 5 ELSE 2 END AS Sequence,
                       Fiscal_Year, Fiscal_Period, Plant, OEM_Code, Customer, 'Trend Key Customer - Margin_Percent' AS Rtype, Margin_Percent
FROM         dbo.tfsboc103180 AS tfsboc103180_1

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4[50] 3) )"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 5
         Column = 1440
         Alias = 1275
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Trend_Key_Customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Trend_Key_Customer'
GO
