USE [BOC]
GO
/****** Object:  Table [dbo].[Authority_Trend_Key_Plant_2012_1_16]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authority_Trend_Key_Plant_2012_1_16](
	[userid] [nvarchar](15) NOT NULL,
	[authority] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
