USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc106180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc106180](
	[Plant] [nvarchar](50) NULL,
	[OEM_Code] [nvarchar](50) NULL,
	[Key_Customer] [nvarchar](50) NULL,
	[Serial] [int] NULL,
	[Avalilable] [nvarchar](50) NULL,
	[Group OEM Code] [nvarchar](50) NULL,
	[Group Customer] [nvarchar](50) NULL,
	[Column9] [nvarchar](50) NULL,
	[Column10] [nvarchar](50) NULL
) ON [PRIMARY]

GO
