USE [BOC]
GO
/****** Object:  Table [dbo].[Authority_User_2012_1_16]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authority_User_2012_1_16](
	[Autoid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nvarchar](50) NOT NULL,
	[Region] [nvarchar](50) NULL,
	[Account] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[role] [int] NULL,
	[price] [int] NULL,
	[Enable] [bit] NULL
) ON [PRIMARY]

GO
