USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc107180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc107180](
	[Plant] [nvarchar](10) NULL,
	[Product_Type] [nvarchar](50) NULL,
	[Serial] [int] NULL,
	[Available] [nvarchar](50) NULL,
	[Column 4] [nvarchar](50) NULL,
	[Column 5] [nvarchar](50) NULL
) ON [PRIMARY]

GO
