USE [BOC]
GO
/****** Object:  StoredProcedure [dbo].[pTop_ten_Project]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[pTop_ten_Project]
@year int,
@period int,
@plant varchar(10),
@project_from varchar(20),
@project_to varchar(20),
@top_project int
as
declare @sqlstr varchar(8000)
begin
set @sqlstr = 'select top ' + convert(varchar(8),@top_project)+' '+'
[Projects(10)] as Projects,
[Project(4)] as [Project No],
[Customer_Name] as [Customer Name],
[End_customer] as [End Customer],
[Product_Name] as [Product Name],
[Part_number] as [Part Number],
Configuration,
[Material-core] as [material - Core],
[Material-RCC] as [Material - RCC],
substring([Projects(10)],2,2) as [Layer Count],
[Array Size(mm)] as [Array Size],
Unit_per_Panel as [Unit Per Panel],
round([Panel Size(sqft)],2) as [Panel Size],
cast(round(Material_Utilization_per_Panel,2) as nvarchar(20))+"%" as [Material Utilization per Panel],
[Min_Line_Width & Spacing (mil)] as [Min Line Width & Spacing (mil)],
[Mechanical)_Through_Hole] as [Mechanical Through Hole],
[Mechanical Blind_Buried Hole] as [Mechanical Blind Buried Hole],
[Total Mechanical Hole Count] as [Total Mechanical Hole Count],
[Laser Via - External Layer] as [Laser Via External Layer],
[Laser Via - Internal Layer] as [Laser Via Internal Layer],
[Total Laser Via Hole Count],
[Number of Plating],
[Number of Pressing],
[Number of Image Transfer],
[Surface Finish(EAU)],
[Surface Finish(ENTEK)],
[Surface Finish(HASL)],
[Surface Finish(GOLD PLATE)],
[Surface Finish(EAG)],
[Surface Finish(ETN)],
[X-out],
round([Selling Price Per Unit (US$)],2) as [Selling Price Per Unit (US$)],
round([ASP US$],2) as [ASP US$],
cast(round([Yield (Current)%],2) as nvarchar(20))+"%" as [Yield (Current)%],
round([Material cost (Scrap included)],3) as [Material cost (Scrap included)],
cast(round([Material Cost _Sale(Current)],2) as nvarchar(20)) as [Material Cost/Sale(Current)],
round([Total Cost per unit(US$)],2) as [Total Cost per unit(US$)],
cast(round([%Margin],2) as nvarchar(20))+"%" as [%Margin],
round([Profit per PCS],2) as [Profit per PCS],
[Production Volume Booking (Units)],
round([Production Volume Booking (Square F],0) as [Production Volume Booking (Square Foot],
cast(round([% of Production Volume (Square Foot],1) as nvarchar(20))+"%" as [% of Production Volume (Square Foot)],
round([Total Sales (USD)],2) as [Total Sales (USD)],
cast(round([% of Total Sales],1) as nvarchar(20)) as [% of Total Sales],
[Boc Item Type1],
[Boc Item Type2],
[Boc Item Type3],
[Boc Item Type4],
[Boc Item Type5],
[Boc Item Type6],
[Boc Item Type7],
[Boc Item Type8],
[Boc Item Type9],
[Boc Item Type10],
[Boc Item Type11],
[Boc Item Type12],
[Boc Item Type13],
[Boc Item Type14],
[Boc Item Type15],
cast(round([Boc Consumed1],2) as nvarchar(20)) as [Boc Consumed1],
cast(round([Boc Consumed2],2) as nvarchar(20)) as [Boc Consumed2],
cast(round([Boc Consumed3],2) as nvarchar(20)) as [Boc Consumed3],
cast(round([Boc Consumed4],2) as nvarchar(20)) as [Boc Consumed4],
cast(round([Boc Consumed5],2) as nvarchar(20)) as [Boc Consumed5],
cast(round([Boc Consumed6],2) as nvarchar(20)) as [Boc Consumed6],
cast(round([Boc Consumed7],2) as nvarchar(20)) as [Boc Consumed7],
cast(round([Boc Consumed8],2) as nvarchar(20)) as [Boc Consumed8],
cast(round([Boc Consumed9],2) as nvarchar(20)) as [Boc Consumed9],
cast(round([Boc Consumed10],2) as nvarchar(20)) as [Boc Consumed10],
cast(round([Boc Consumed11],2) as nvarchar(20)) as [Boc Consumed11],
cast(round([Boc Consumed12],2) as nvarchar(20)) as [Boc Consumed12],
cast(round([Boc Consumed13],2) as nvarchar(20)) as [Boc Consumed13],
cast(round([Boc Consumed14],2) as nvarchar(20)) as [Boc Consumed14],
cast(round([Boc Consumed15],2) as nvarchar(20)) as [Boc Consumed15],
round([Percent of Boc Consumed1],2) as [Percent of Boc Consumed1],
round([Percent of Boc Consumed2],2) as [Percent of Boc Consumed2],
round([Percent of Boc Consumed3],2) as [Percent of Boc Consumed3],
round([Percent of Boc Consumed4],2) as [Percent of Boc Consumed4],
round([Percent of Boc Consumed5],2) as [Percent of Boc Consumed5],
round([Percent of Boc Consumed6],2) as [Percent of Boc Consumed6],
round([Percent of Boc Consumed7],2) as [Percent of Boc Consumed7],
round([Percent of Boc Consumed8],2) as [Percent of Boc Consumed8],
round([Percent of Boc Consumed9],2) as [Percent of Boc Consumed9],
round([Percent of Boc Consumed10],2) as [Percent of Boc Consumed10],
round([Percent of Boc Consumed11],2) as [Percent of Boc Consumed11],
round([Percent of Boc Consumed12],2) as [Percent of Boc Consumed12],
round([Percent of Boc Consumed13],2) as [Percent of Boc Consumed13],
round([Percent of Boc Consumed14],2) as [Percent of Boc Consumed14],
round([Percent of Boc Consumed15],2) as [Percent of Boc Consumed15],
round([% of Margin (total)],0) as [% of Margin (total)],
cast(round([Margin$ (total)],2) as nvarchar(20))+"%" as [Margin$ (total)] ,
round([Cycle time1],2) as [Cycle time1],
round([Cycle time2],2) as [Cycle time2],
round([Cycle time3],2) as [Cycle time3],
round([Cycle time4],2) as [Cycle time4],
round([Cycle time5],2) as [Cycle time5],
round([Cycle time6],2) as [Cycle time6],
round([Cycle time7],2) as [Cycle time7],
round([Cycle time8],2) as [Cycle time8],
round([Cycle time9],2) as [Cycle time9],
round([Cycle time10],2) as [Cycle time10],
round([Cycle time11],2) as [Cycle time11],
round([Cycle time12],2) as [Cycle time12],
round([Cycle time13],2) as [Cycle time13],
round([Cycle time14],2) as [Cycle time14],
round([Cycle time15],2) as [Cycle time15]
from dbo.tfsboc100180
where	([Fiscal_Year] = '+@year+') 
and (Fiscal_Period = '+@period+') 
and ([Projects(8)] between '+@project_from+' and '+@project_to+') 
and (Plant = '+@plant+')'
end
--exec sp_executesql @sqlstr,@top_project,@year,@period,@plant,@project_from ,@project_to
--print @sqlstr
exec(@sqlstr)

GO
