USE [BOC]
GO
/****** Object:  Table [dbo].[Authority_Price_bk_2012_1_16]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authority_Price_bk_2012_1_16](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[price_authority] [nvarchar](50) NULL
) ON [PRIMARY]

GO
