USE [BOC]
GO
/****** Object:  Table [dbo].[TTDPUR_PRODUCTION_OUTPUT]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTDPUR_PRODUCTION_OUTPUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FYear] [nvarchar](10) NULL,
	[FPeriod] [nvarchar](50) NULL,
	[Plant] [nvarchar](10) NULL,
	[Amnt_Forecast] [float] NULL,
	[Amnt_Actual] [float] NULL,
 CONSTRAINT [PK_PRODUCTION_OUTPUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
