USE [BOC]
GO
/****** Object:  Table [dbo].[TTCMCS023180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTCMCS023180](
	[T$CITG] [char](6) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$MMPO] [float] NOT NULL,
	[T$MMNO] [float] NOT NULL,
	[T$RPSD] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
