USE [BOC]
GO
/****** Object:  Table [dbo].[fiscal_week]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fiscal_week](
	[Column 0] [nvarchar](50) NULL,
	[Column 1] [nvarchar](50) NULL,
	[Column 2] [nvarchar](50) NULL
) ON [PRIMARY]

GO
