USE [BOC]
GO
/****** Object:  Table [dbo].[ManageReportAnalysis_TopProject]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageReportAnalysis_TopProject](
	[TopProject] [int] NULL
) ON [PRIMARY]

GO
