USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc105180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc105180](
	[Column 0] [nvarchar](50) NULL,
	[Column 1] [nvarchar](50) NULL,
	[Column 2] [nvarchar](50) NULL,
	[Column 3] [nvarchar](50) NULL,
	[Column 4] [nvarchar](50) NULL,
	[Column 5] [nvarchar](50) NULL,
	[Column 6] [nvarchar](50) NULL,
	[Column 7] [nvarchar](50) NULL,
	[Column 8] [nvarchar](50) NULL,
	[Column 9] [nvarchar](50) NULL,
	[Column 10] [nvarchar](50) NULL,
	[Column 11] [nvarchar](50) NULL,
	[Column 12] [nvarchar](50) NULL,
	[Column 13] [nvarchar](50) NULL,
	[Column 14] [nvarchar](50) NULL,
	[Column 15] [nvarchar](50) NULL,
	[Column 16] [nvarchar](50) NULL,
	[Column 17] [nvarchar](50) NULL,
	[Column 18] [nvarchar](50) NULL,
	[Column 19] [nvarchar](50) NULL,
	[Column 20] [nvarchar](50) NULL,
	[Column 21] [nvarchar](50) NULL,
	[Column 22] [nvarchar](50) NULL,
	[Column 23] [nvarchar](50) NULL,
	[Column 24] [nvarchar](50) NULL,
	[Column 25] [nvarchar](50) NULL,
	[Column 26] [nvarchar](50) NULL,
	[Column 27] [nvarchar](50) NULL,
	[Column 28] [nvarchar](50) NULL,
	[Column 29] [nvarchar](50) NULL,
	[Column 30] [nvarchar](50) NULL,
	[Column 31] [nvarchar](50) NULL,
	[Column 32] [nvarchar](50) NULL,
	[Column 33] [nvarchar](50) NULL,
	[Column 34] [nvarchar](50) NULL,
	[Column 35] [nvarchar](50) NULL,
	[Column 36] [nvarchar](50) NULL,
	[Column 37] [nvarchar](50) NULL,
	[Column 38] [nvarchar](50) NULL,
	[Column 39] [nvarchar](50) NULL,
	[Column 40] [nvarchar](50) NULL,
	[Column 41] [nvarchar](50) NULL,
	[Column 42] [nvarchar](50) NULL,
	[Column 43] [nvarchar](50) NULL,
	[Column 44] [nvarchar](50) NULL,
	[Column 45] [nvarchar](50) NULL,
	[Column 46] [nvarchar](50) NULL,
	[Column 47] [nvarchar](50) NULL,
	[Column 48] [nvarchar](50) NULL,
	[Column 49] [nvarchar](50) NULL,
	[Column 50] [nvarchar](50) NULL,
	[Column 51] [nvarchar](50) NULL,
	[Column 52] [nvarchar](50) NULL,
	[Column 53] [nvarchar](50) NULL,
	[Column 54] [nvarchar](50) NULL,
	[Column 55] [nvarchar](50) NULL,
	[Column 56] [nvarchar](50) NULL,
	[Column 57] [nvarchar](50) NULL,
	[Column 58] [nvarchar](50) NULL,
	[Column 59] [nvarchar](50) NULL,
	[Column 60] [nvarchar](50) NULL,
	[Column 61] [nvarchar](50) NULL,
	[Column 62] [nvarchar](50) NULL,
	[Column 63] [nvarchar](50) NULL,
	[Column 64] [nvarchar](50) NULL,
	[Column 65] [nvarchar](50) NULL,
	[Column 66] [nvarchar](50) NULL,
	[Column 67] [nvarchar](50) NULL,
	[Column 68] [nvarchar](50) NULL,
	[Column 69] [nvarchar](50) NULL,
	[Column 70] [nvarchar](50) NULL,
	[Column 71] [nvarchar](50) NULL,
	[Column 72] [nvarchar](50) NULL,
	[Column 73] [nvarchar](50) NULL,
	[Column 74] [nvarchar](50) NULL,
	[Column 75] [nvarchar](50) NULL,
	[Column 76] [nvarchar](50) NULL,
	[Column 77] [nvarchar](50) NULL,
	[Column 78] [nvarchar](50) NULL,
	[Column 79] [nvarchar](50) NULL,
	[Column 80] [nvarchar](50) NULL,
	[Column 81] [nvarchar](50) NULL,
	[Column 82] [nvarchar](50) NULL,
	[Column 83] [nvarchar](50) NULL,
	[Column 84] [nvarchar](50) NULL,
	[Column 85] [nvarchar](50) NULL
) ON [PRIMARY]

GO
