USE [BOC]
GO
/****** Object:  Table [dbo].[Fperiod]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fperiod](
	[period] [int] NOT NULL
) ON [PRIMARY]

GO
