USE [BOC]
GO
/****** Object:  Table [dbo].[RightOEMTable]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RightOEMTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[suid] [nvarchar](50) NULL,
	[oem] [nvarchar](200) NULL,
 CONSTRAINT [PK_RightOEMTable_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
