USE [BOC]
GO
/****** Object:  Table [dbo].[Trend_Key_Plant]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trend_Key_Plant](
	[Plant] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Trend_Key_Plant_1] PRIMARY KEY CLUSTERED 
(
	[Plant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
