USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc103m180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc103m180](
	[Data_Source] [nvarchar](50) NOT NULL,
	[Fiscal_Year] [int] NOT NULL,
	[Fiscal_Period] [int] NOT NULL,
	[Plant] [nvarchar](10) NOT NULL,
	[OEM_Code] [nvarchar](50) NULL,
	[Customer] [nvarchar](50) NOT NULL,
	[No_of_Project] [float] NULL,
	[Avg_Layer_Count] [float] NULL,
	[ASP$] [float] NULL,
	[ASP_Layer] [float] NULL,
	[Output_SQFT] [float] NULL,
	[Output_Percent] [float] NULL,
	[Output_Amount] [float] NULL,
	[Amount_Percent] [float] NULL,
	[Margin$] [float] NULL,
	[Total_Margin_percent] [float] NULL,
	[Margin_Percent] [float] NULL,
	[BOC_Item1] [nvarchar](50) NULL,
	[BOC_Item2] [nvarchar](50) NULL,
	[BOC_Item3] [nvarchar](50) NULL,
	[BOC_Item4] [nvarchar](50) NULL,
	[BOC_Item5] [nvarchar](50) NULL,
	[BOC_Item6] [nvarchar](50) NULL,
	[BOC_Item7] [nvarchar](50) NULL,
	[BOC_Item8] [nvarchar](50) NULL,
	[BOC_Item9] [nvarchar](50) NULL,
	[BOC_Item10] [nvarchar](50) NULL,
	[BOC_Item11] [nvarchar](50) NULL,
	[BOC_Item12] [nvarchar](50) NULL,
	[BOC_Item13] [nvarchar](50) NULL,
	[BOC_Item14] [nvarchar](50) NULL,
	[BOC_Item15] [nvarchar](50) NULL,
	[Consumption1] [float] NULL,
	[Consumption2] [float] NULL,
	[Consumption3] [float] NULL,
	[Consumption4] [float] NULL,
	[Consumption5] [float] NULL,
	[Consumption6] [float] NULL,
	[Consumption7] [float] NULL,
	[Consumption8] [float] NULL,
	[Consumption9] [float] NULL,
	[Consumption10] [float] NULL,
	[Consumption11] [float] NULL,
	[Consumption12] [float] NULL,
	[Consumption13] [float] NULL,
	[Consumption14] [float] NULL,
	[Consumption15] [float] NULL,
	[Consumpton_Percent1] [float] NULL,
	[Consumpton_Percent2] [float] NULL,
	[Consumpton_Percent3] [float] NULL,
	[Consumpton_Percent4] [float] NULL,
	[Consumpton_Percent5] [float] NULL,
	[Consumpton_Percent6] [float] NULL,
	[Consumpton_Percent7] [float] NULL,
	[Consumpton_Percent8] [float] NULL,
	[Consumpton_Percent9] [float] NULL,
	[Consumpton_Percent10] [float] NULL,
	[Consumpton_Percent11] [float] NULL,
	[Consumpton_Percent12] [float] NULL,
	[Consumpton_Percent13] [float] NULL,
	[Consumpton_Percent14] [float] NULL,
	[Consumpton_Percent15] [float] NULL,
	[Trans_Date] [nvarchar](50) NULL,
	[Trans_Time] [nvarchar](50) NULL,
	[Dis_ASP$] [float] NULL,
	[Dis_Output_Amount] [float] NULL,
	[Dis_Amount_Percent] [float] NULL,
	[Dis_Margin$] [float] NULL,
	[Dis_Total_Margin_Percent] [float] NULL,
	[Dis_Margin_Percent] [float] NULL,
	[Dis_ASP_Layer$] [float] NULL,
	[Column 71] [nvarchar](50) NULL,
 CONSTRAINT [PK_tfsboc103m180] PRIMARY KEY CLUSTERED 
(
	[Data_Source] ASC,
	[Fiscal_Year] ASC,
	[Fiscal_Period] ASC,
	[Plant] ASC,
	[Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
