USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc004180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc004180](
	[T$plant] [nvarchar](10) NULL,
	[T$year] [int] NULL,
	[T$PRNO] [int] NULL,
	[T$BITM] [nvarchar](50) NULL,
	[T$BQTY] [nvarchar](50) NULL,
	[T$WKDY] [nvarchar](50) NULL,
	[T$WKHR] [nvarchar](50) NULL,
	[T$SQQT] [nvarchar](50) NULL,
	[T$SERN] [nvarchar](50) NULL,
	[T$EFFT] [nvarchar](50) NULL,
	[Column100] [nvarchar](50) NULL,
	[T$REFCNTD] [float] NULL
) ON [PRIMARY]

GO
