USE [BOC]
GO
/****** Object:  Table [dbo].[CostItemMatchOEM_bk]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostItemMatchOEM_bk](
	[Item] [nvarchar](55) NULL,
	[OEM] [nvarchar](6) NULL,
	[OEM_Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
