USE [BOC]
GO
/****** Object:  Table [dbo].[tfsboc102180]    Script Date: 2014/11/12 17:02:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfsboc102180](
	[Column 0] [nvarchar](50) NULL,
	[Column 1] [nvarchar](50) NULL,
	[Column 2] [nvarchar](50) NULL,
	[Column 3] [nvarchar](50) NULL,
	[Column 4] [nvarchar](50) NULL,
	[Column 5] [nvarchar](50) NULL,
	[Column 6] [nvarchar](50) NULL,
	[Column 7] [nvarchar](50) NULL,
	[Column 8] [nvarchar](50) NULL,
	[Column 9] [nvarchar](50) NULL,
	[Column 10] [nvarchar](50) NULL,
	[Column 11] [nvarchar](50) NULL,
	[Column 12] [nvarchar](50) NULL,
	[Column 13] [nvarchar](50) NULL,
	[Column 14] [nvarchar](50) NULL,
	[Column 15] [nvarchar](50) NULL,
	[Column 16] [nvarchar](50) NULL,
	[Column 17] [nvarchar](50) NULL,
	[Column 18] [nvarchar](50) NULL,
	[Column 19] [nvarchar](50) NULL,
	[Column 20] [nvarchar](50) NULL,
	[Column 21] [nvarchar](50) NULL,
	[Column 22] [nvarchar](50) NULL,
	[Column 23] [nvarchar](50) NULL,
	[Column 24] [nvarchar](50) NULL,
	[Column 25] [nvarchar](50) NULL,
	[Column 26] [nvarchar](50) NULL,
	[Column 27] [nvarchar](50) NULL,
	[Column 28] [nvarchar](50) NULL,
	[Column 29] [nvarchar](50) NULL,
	[Column 30] [nvarchar](50) NULL,
	[Column 31] [nvarchar](50) NULL,
	[Column 32] [nvarchar](50) NULL,
	[Column 33] [nvarchar](50) NULL,
	[Column 34] [nvarchar](50) NULL,
	[Column 35] [nvarchar](50) NULL,
	[Column 36] [nvarchar](50) NULL,
	[Column 37] [nvarchar](50) NULL,
	[Column 38] [nvarchar](50) NULL,
	[Column 39] [nvarchar](50) NULL,
	[Column 40] [nvarchar](50) NULL,
	[Column 41] [nvarchar](50) NULL,
	[Column 42] [nvarchar](50) NULL,
	[Column 43] [nvarchar](50) NULL,
	[Column 44] [nvarchar](50) NULL,
	[Column 45] [nvarchar](50) NULL,
	[Column 46] [nvarchar](50) NULL,
	[Column 47] [nvarchar](50) NULL,
	[Column 48] [nvarchar](50) NULL,
	[Column 49] [nvarchar](50) NULL,
	[Column 50] [nvarchar](50) NULL,
	[Column 51] [nvarchar](50) NULL
) ON [PRIMARY]

GO
