USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tblAMDSamples Query]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAMDSamples Query](
	[TN] [int] NULL,
	[DateSmplRcvd] [datetime] NULL,
	[AnalyticalTest] [int] NULL
) ON [PRIMARY]

GO
