USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tblCAFConstruction]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCAFConstruction](
	[ConstID] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [nvarchar](50) NULL,
	[ConstName] [nvarchar](50) NULL,
	[DsgnFileName] [nvarchar](50) NULL,
	[#Layers] [tinyint] NULL,
	[#Vias] [int] NULL,
	[#Vias-x] [int] NULL,
	[#Vias-Y] [int] NULL,
	[CouponThk] [decimal](10, 4) NULL,
	[CouponLen] [decimal](10, 4) NULL,
	[CouponWidth] [decimal](10, 4) NULL,
	[Material] [int] NULL,
	[Materialorigin] [nvarchar](50) NULL,
	[Finish] [nvarchar](50) NULL,
	[SM] [nvarchar](50) NULL,
	[GridSize] [decimal](10, 4) NULL,
	[DrillSize] [decimal](10, 5) NULL,
	[OLPadSize] [decimal](10, 5) NULL,
	[ILPadSize] [decimal](10, 5) NULL,
	[PTHtoPTH] [decimal](10, 5) NULL,
	[PTHtoPTH_Manhattan] [decimal](10, 5) NULL,
	[PTHtoGND] [decimal](10, 5) NULL,
	[PwrClearance] [decimal](10, 5) NULL,
	[Stackup] [image] NULL,
	[DIR] [real] NULL,
	[DRR] [real] NULL,
	[SpinSpeed] [int] NULL,
	[StkHeight] [smallint] NULL,
	[Drillbit] [nvarchar](50) NULL,
	[Peck] [tinyint] NULL,
	[Maxhit] [smallint] NULL,
	[BackupMaterial] [nvarchar](50) NULL,
	[Panel_DCorPulse] [nvarchar](50) NULL,
	[Pattern_DCorPulse] [nvarchar](50) NULL,
	[Panel_RecipeName] [nvarchar](255) NULL,
	[Pttern_RecipeName] [nvarchar](255) NULL,
	[HorV] [nvarchar](50) NULL,
	[Panel_CurDen] [smallint] NULL,
	[Panel_PlateTime] [nvarchar](50) NULL,
	[Pattern_CurDen] [smallint] NULL,
	[Pattern_PlateTime] [nvarchar](50) NULL,
	[MnO4orPlasma] [nvarchar](50) NULL,
	[Press_Bake_Temp] [smallint] NULL,
	[Press_Bake_Time] [smallint] NULL,
	[TRT1] [smallint] NULL,
	[TRT2] [smallint] NULL,
	[TRT3] [smallint] NULL,
	[TRT4] [smallint] NULL,
	[TRT5] [smallint] NULL,
	[TRT6] [smallint] NULL,
	[TRT7] [smallint] NULL,
	[TRT8] [smallint] NULL,
	[TRT9] [smallint] NULL,
	[TRT10] [smallint] NULL,
	[Temp1] [smallint] NULL,
	[Temp2] [smallint] NULL,
	[Temp3] [smallint] NULL,
	[Temp4] [smallint] NULL,
	[Temp5] [smallint] NULL,
	[Temp6] [smallint] NULL,
	[Temp7] [smallint] NULL,
	[Temp8] [smallint] NULL,
	[Temp9] [smallint] NULL,
	[Temp10] [smallint] NULL,
	[THT1] [smallint] NULL,
	[THT2] [smallint] NULL,
	[THT3] [smallint] NULL,
	[THT4] [smallint] NULL,
	[THT5] [smallint] NULL,
	[THT6] [smallint] NULL,
	[THT7] [smallint] NULL,
	[THT8] [smallint] NULL,
	[THT9] [smallint] NULL,
	[THT10] [smallint] NULL,
	[PRT1] [smallint] NULL,
	[PRT2] [smallint] NULL,
	[PRT3] [smallint] NULL,
	[PRT4] [smallint] NULL,
	[PRT5] [smallint] NULL,
	[PRT6] [smallint] NULL,
	[PRT7] [smallint] NULL,
	[PRT8] [smallint] NULL,
	[PRT9] [smallint] NULL,
	[PRT10] [smallint] NULL,
	[Press1] [smallint] NULL,
	[Press2] [smallint] NULL,
	[Press3] [smallint] NULL,
	[Press4] [smallint] NULL,
	[Press5] [smallint] NULL,
	[Press6] [smallint] NULL,
	[Press7] [smallint] NULL,
	[Press8] [smallint] NULL,
	[Press9] [smallint] NULL,
	[Press10] [smallint] NULL,
	[PHT1] [smallint] NULL,
	[PHT2] [smallint] NULL,
	[PHT3] [smallint] NULL,
	[PHT4] [smallint] NULL,
	[PHT5] [smallint] NULL,
	[PHT6] [smallint] NULL,
	[PHT7] [smallint] NULL,
	[PHT8] [smallint] NULL,
	[PHT9] [smallint] NULL,
	[PHT10] [smallint] NULL,
	[GlassMicroetch] [bit] NOT NULL CONSTRAINT [DF_tblCAFConstruction_GlassMicroetch]  DEFAULT ((0)),
	[Notes] [ntext] NULL,
	[Locationcouponsbuilt] [nvarchar](50) NULL,
	[Bldg] [nvarchar](50) NULL,
	[FileId] [varchar](50) NULL,
 CONSTRAINT [PK_tblCAFConstruction] PRIMARY KEY CLUSTERED 
(
	[ConstID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
