USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tblEntities]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEntities](
	[Entity] [nvarchar](255) NULL,
	[Bldg] [nvarchar](50) NULL
) ON [PRIMARY]

GO
