USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[Qry Monthly details query 2]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qry Monthly details query 2](
	[TN] [int] NULL,
	[DateSmplRcvd] [datetime] NULL,
	[AnalyticalTest] [int] NULL,
	[Dept] [nvarchar](50) NULL,
	[Category] [int] NULL
) ON [PRIMARY]

GO
