USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[CategoryID] [int] NOT NULL,
	[Category] [nvarchar](50) NULL
) ON [PRIMARY]

GO
