USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[qryB5_LLTS_2006]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qryB5_LLTS_2006](
	[TN] [int] NULL,
	[Applicant] [nvarchar](50) NULL,
	[Dept] [nvarchar](50) NULL,
	[location] [int] NULL,
	[Customer] [nvarchar](50) NULL,
	[Project#] [nvarchar](50) NULL,
	[FinishDate] [datetime] NULL
) ON [PRIMARY]

GO
