USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tbllocation]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbllocation](
	[locationID] [int] NOT NULL,
	[location] [nvarchar](50) NULL
) ON [PRIMARY]

GO
