USE [AMD_Lab]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 2014/11/12 17:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[StatusID] [int] NOT NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]

GO
