USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSCPP281180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP281180](
	[T$IANO] [char](20) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$STAT] [float] NOT NULL,
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$WONO] [char](10) NOT NULL,
	[T$WOPO] [float] NOT NULL,
	[T$SERN] [float] NOT NULL,
	[T$CSID] [char](10) NOT NULL,
	[T$OPDT] [datetime] NULL,
	[T$OWDT] [datetime] NULL,
	[T$RSDT] [datetime] NULL,
	[T$RSTY] [float] NOT NULL,
	[T$OADT] [datetime] NULL,
	[T$OACP] [float] NOT NULL,
	[T$OANP] [float] NOT NULL,
	[T$OADA] [datetime] NULL,
	[T$OATM] [float] NOT NULL,
	[T$OUSE] [char](10) NOT NULL,
	[T$MACP] [float] NOT NULL,
	[T$MANP] [float] NOT NULL,
	[T$MCDT] [datetime] NULL,
	[T$MCTM] [float] NOT NULL,
	[T$MUSE] [char](10) NOT NULL,
	[T$PACP] [float] NOT NULL,
	[T$PANP] [float] NOT NULL,
	[T$PCDT] [datetime] NULL,
	[T$PCTM] [float] NOT NULL,
	[T$PUSE] [char](10) NOT NULL,
	[T$FRWQ] [float] NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$TRTP] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$BQTY] [float] NOT NULL,
	[T$BAMT] [float] NOT NULL,
	[T$CUNO] [char](6) NOT NULL,
	[T$CDEL] [char](3) NOT NULL,
	[T$EONO] [char](30) NOT NULL,
	[T$PITM] [char](4) NOT NULL,
	[T$RSMT] [float] NOT NULL,
	[T$NAMA] [char](35) NOT NULL,
	[T$FUNO] [char](6) NOT NULL,
	[T$CUPN] [char](30) NOT NULL,
	[T$SRNB] [float] NOT NULL,
	[T$IFPS] [float] NOT NULL,
	[T$WQTY] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
