USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSOLP126180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSOLP126180](
	[T$DATE] [datetime] NULL,
	[T$USID] [char](20) NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$PRJF] [char](16) NOT NULL,
	[T$PJNO] [char](10) NOT NULL,
	[T$PRJ4] [char](8) NOT NULL,
	[T$BOAR] [char](100) NOT NULL,
	[T$CUTN] [char](100) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$TECH] [char](30) NOT NULL,
	[T$SURF] [char](30) NOT NULL,
	[T$LAYE] [char](30) NOT NULL,
	[T$UNIT] [char](8) NOT NULL,
	[T$UWID] [float] NOT NULL,
	[T$ULEN] [float] NOT NULL,
	[T$AWID] [float] NOT NULL,
	[T$ALEN] [float] NOT NULL,
	[T$PWID] [float] NOT NULL,
	[T$PLEN] [float] NOT NULL,
	[T$LSIZ] [float] NOT NULL,
	[T$WSIZ] [float] NOT NULL,
	[T$UNST] [float] NOT NULL,
	[T$CBPN] [float] NOT NULL,
	[T$PSPL] [float] NOT NULL,
	[T$SQPL] [float] NOT NULL,
	[T$CORE] [float] NOT NULL,
	[T$XOUT] [float] NOT NULL,
	[T$DHOL] [float] NOT NULL,
	[T$SHOL] [char](30) NOT NULL,
	[T$USIZ] [char](30) NOT NULL,
	[T$LHOL] [float] NOT NULL,
	[T$BSIZ] [char](30) NOT NULL,
	[T$BHOL] [float] NOT NULL,
	[T$THIC] [char](20) NOT NULL,
	[T$MATE] [char](30) NOT NULL,
	[T$MTYP] [char](30) NOT NULL,
	[T$CTHC] [char](30) NOT NULL,
	[T$IDRY] [float] NOT NULL,
	[T$ITES] [float] NOT NULL,
	[T$PRES] [float] NOT NULL,
	[T$AOIT] [float] NOT NULL,
	[T$PLAS] [float] NOT NULL,
	[T$IHSC] [float] NOT NULL,
	[T$OIHC] [float] NOT NULL,
	[T$OIHR] [float] NOT NULL,
	[T$PLUG] [float] NOT NULL,
	[T$SMPH] [float] NOT NULL,
	[T$SOVP] [float] NOT NULL,
	[T$DRIL] [float] NOT NULL,
	[T$DROU] [float] NOT NULL,
	[T$LDRL] [float] NOT NULL,
	[T$VCUT] [float] NOT NULL,
	[T$BEVE] [float] NOT NULL,
	[T$HIPB] [float] NOT NULL,
	[T$OBPT] [float] NOT NULL,
	[T$OMDC] [float] NOT NULL,
	[T$ORDC] [float] NOT NULL,
	[T$IMPE] [float] NOT NULL,
	[T$ROUT] [float] NOT NULL,
	[T$PTHH] [float] NOT NULL,
	[T$PCUP] [float] NOT NULL,
	[T$ODRY] [float] NOT NULL,
	[T$CC18] [float] NOT NULL,
	[T$PATT] [float] NOT NULL,
	[T$OTES] [float] NOT NULL,
	[T$WWSM] [float] NOT NULL,
	[T$ENAU] [float] NOT NULL,
	[T$FING] [float] NOT NULL,
	[T$CONP] [float] NOT NULL,
	[T$TINS] [float] NOT NULL,
	[T$IMMS] [float] NOT NULL,
	[T$AIRL] [float] NOT NULL,
	[T$PFLU] [float] NOT NULL,
	[T$ENTE] [float] NOT NULL,
	[T$IMMT] [float] NOT NULL,
	[T$IMME] [float] NOT NULL,
	[T$VIPP] [char](30) NOT NULL,
	[T$OUTL] [char](30) NOT NULL,
	[T$INNL] [char](30) NOT NULL,
	[T$CU18] [char](3) NOT NULL,
	[T$LDII] [char](3) NOT NULL,
	[T$DIDI] [char](3) NOT NULL,
	[T$WIRE] [char](3) NOT NULL,
	[T$GOLD] [char](30) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
