USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[KPI_Upload_Log]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KPI_Upload_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](50) NULL,
	[FileName] [nvarchar](50) NULL,
	[UploadDate] [datetime] NULL,
 CONSTRAINT [PK_KPI_Upload_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
