USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[SQM_tblCheckPN]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQM_tblCheckPN](
	[PN] [nvarchar](50) NULL,
	[PID] [int] NULL,
	[Start_date] [datetime] NULL
) ON [PRIMARY]

GO
