USE [Multek_ZH]
GO
/****** Object:  View [dbo].[TFSOLP105180_HKG111]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TFSOLP105180_HKG111] AS

SELECT * FROM HKGNT111.Multek_SZ_New.dbo.TFSOLP105180

GO
