USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Multek_IE_ME_WIP_Outsourcing]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Multek_IE_ME_WIP_Outsourcing]
AS
--SELECT T$PLNT,T$MNWC,T$PJNO, CONVERT(CHAR(10),GETDATE(),120) AS CDATE,SUM(TU) AS TotalUnit
--FROM
--(
	SELECT * ,(CASE [TYPE] WHEN 'OUT' THEN -1*TOTALUNIT ELSE TOTALUNIT END ) AS TU
	FROM
	(
		SELECT	A.T$PLNT,
				A.T$BTNO,
				A.T$MNWC,
				(CASE A.T$TYPE WHEN 1 THEN 'IN' WHEN 2 THEN 'OUT' END) AS TYPE,
				(CASE LTRIM(RTRIM(A.T$PART)) WHEN 'RB2' THEN 'B1' WHEN 'RB3' THEN 'B3' WHEN 'RB4' THEN 'B4' WHEN 'RB5' THEN 'B5' WHEN 'RB2F' THEN 'B2F' ELSE A.T$PART END) AS PART,
				A.T$PJNO,
				A.T$TRDT, 
				(CASE A.T$ROLE WHEN 1 THEN 'OWNER' WHEN 2 THEN 'SUBCON' END) AS ROLE,
				(SELECT SUM(B.T$LOTQ) FROM TTIWIP091180 AS B WHERE B.T$PLNT= A.T$PLNT AND B.T$BTNO = A.T$BTNO) AS TOTALUNIT
		FROM TTIWIP090180 AS A 
		WHERE	T$PLNT <> '' AND T$PLNT IS NOT NULL
		AND		T$STAT = 1
		AND		A.T$PJNO <> '' AND A.T$PJNO IS NOT NULL
		--AND		A.T$TYPE = 2
	) A
	WHERE	(PART IN ('B1','B3','B4','B5','B2F') OR LEN(PART)=6 )
	AND TOTALUNIT <> 0 AND TOTALUNIT IS NOT NULL
--) B
--GROUP BY T$PLNT,T$MNWC,T$PJNO

GO
