USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSCPP272180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP272180](
	[T$IANO] [char](20) NOT NULL,
	[T$CRFN] [char](6) NOT NULL,
	[T$ORNO] [float] NOT NULL,
	[T$SERN] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$PJNO] [char](32) NOT NULL,
	[T$BQUA] [float] NOT NULL,
	[T$STAT] [float] NOT NULL,
	[T$CQTY] [float] NOT NULL,
	[T$SQTY] [float] NOT NULL,
	[T$PCDT] [datetime] NULL,
	[T$NPON] [float] NOT NULL,
	[T$OHQY] [float] NOT NULL,
	[T$WIPS] [char](20) NOT NULL,
	[T$WIPQ] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$ACKS] [float] NOT NULL,
	[T$PITM] [char](4) NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$PRIC$D] [float] NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$BAMT] [float] NOT NULL,
	[T$CUNO] [char](6) NOT NULL,
	[T$CDEL] [char](3) NOT NULL,
	[T$NAMA] [char](35) NOT NULL,
	[T$FUNO] [char](6) NOT NULL,
	[T$EONO] [char](30) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$WOSQ] [float] NOT NULL,
	[T$PQTY] [float] NOT NULL,
	[T$PPCD] [datetime] NULL,
	[T$PPCT] [float] NOT NULL,
	[T$PUSE] [char](10) NOT NULL,
	[T$OADT] [datetime] NULL,
	[T$OATM] [float] NOT NULL,
	[T$OUSE] [char](10) NOT NULL,
	[T$MADT] [datetime] NULL,
	[T$MATM] [float] NOT NULL,
	[T$MUSE] [char](10) NOT NULL,
	[T$MPON] [float] NOT NULL,
	[T$SSTA] [float] NOT NULL,
	[T$USTY] [float] NOT NULL,
	[T$OQUA] [float] NOT NULL,
	[T$OHTY] [float] NOT NULL,
	[T$OSQY] [float] NOT NULL,
	[T$DTAQ] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
