USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[temp_verify_hubbacklog_fscpp253_bk - delete]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_verify_hubbacklog_fscpp253_bk - delete](
	[T$CRFN] [char](6) NULL,
	[T$EONO] [char](30) NULL,
	[T$SERN] [float] NULL,
	[T$EOPO] [float] NULL,
	[T$ORNO] [float] NULL,
	[T$PONO] [float] NULL,
	[T$WONO] [char](10) NULL,
	[T$WSFX] [float] NULL,
	[T$WOPO] [float] NULL,
	[T$WODT] [datetime] NULL,
	[T$WQTY] [float] NULL,
	[T$OQTY] [float] NULL,
	[T$CQTY] [float] NULL,
	[T$SQTY] [float] NULL,
	[T$PCDT] [datetime] NULL,
	[T$PLNT] [char](2) NULL,
	[T$PJNO] [char](32) NULL,
	[T$CWAR] [char](3) NULL,
	[T$STAT] [float] NULL,
	[T$NLNE] [float] NULL,
	[T$RCDE] [char](3) NULL,
	[T$POS1] [float] NULL,
	[T$ISUB] [float] NULL,
	[T$FRWQ] [float] NULL,
	[T$TXTA] [float] NULL,
	[T$PITM] [char](4) NULL,
	[T$AQTY] [float] NULL,
	[T$TQTY] [float] NULL,
	[T$HKSQ] [float] NULL,
	[T$HUBQ] [float] NULL,
	[T$CQPM] [float] NULL,
	[T$DESC] [char](50) NULL,
	[T$REFCNTD] [float] NULL,
	[T$REFCNTU] [float] NULL,
	[T$DATE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
