USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Multek_IE_WO_BACKLOG]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[Multek_IE_WO_BACKLOG]
AS
SELECT	(CASE T$PLNT WHEN 'P1' THEN 'B1' 
					WHEN 'P2' THEN 'B1' 
					WHEN '12' THEN 'B3' 
					WHEN '2F' THEN 'B2F' ELSE T$PLNT END) AS PLANT,
					CASE WHEN LEN(T$PJNO) > 8 THEN SUBSTRING(T$PJNO, 5, 8) ELSE T$PJNO END AS PROJECT,
		C.T$DSCA AS CUSTOMER,
		T$WODT AS [WO DATE],
		--(T$OQTY-T$CQTY) AS [BACKLOG QTY],
		T$OQTY AS [BACKLOG QTY],
		--(SELECT TOP 1 (T$OQTY-T$CQTY)/t$pspl * T$SQPL FROM MULTEK_ZH.DBO.TTIWIP006180 AS M WHERE t$plnt = a.t$plnt and a.t$pjno = t$icod and ((right(rtrim(t$pitm),3) = '-00') or right(rtrim(t$pitm),3) = '-AS') ORDER BY T$PRJ1 DESC) AS [BACKLOG SQFT],
		(SELECT TOP 1 T$OQTY/t$pspl * T$SQPL FROM MULTEK_ZH.DBO.TTIWIP006180 AS M WHERE t$plnt = a.t$plnt and a.t$pjno = t$icod and ((right(rtrim(t$pitm),3) = '-00') or right(rtrim(t$pitm),3) = '-AS') ORDER BY T$PRJ1 DESC) AS [BACKLOG SQFT],
		D.T$ASTR AS [PRODUCT TYPE] 
FROM FACTORYLOADING.DBO.TFSCPP253180 AS A LEFT JOIN FACTORYLOADING.DBO.TTIITM001180 AS B 
	ON A.T$PJNO = B.T$ITEM 
	LEFT JOIN FACTORYLOADING.DBO.TTCMCS044180 AS C ON C.T$CSGP = B.T$CSGS
	LEFT JOIN FACTORYLOADING.DBO.TFIATT006180 AS D ON D.T$ATTR = 'TYPE' AND D.T$ITEM = A.T$PJNO
WHERE T$OQTY <> 0 AND T$PLNT <> 'HK'
AND T$ORNO <> 0 AND T$OQTY <> 0
AND	T$STAT IN ('1','2')





GO
