USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Table_3]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_3](
	[userid] [nvarchar](50) NULL
) ON [PRIMARY]

GO
