USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[DC_ScheduleServer]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DC_ScheduleServer](
	[ScheduleID] [int] NOT NULL,
	[ServerID] [int] NULL
) ON [PRIMARY]

GO
