USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[manu]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manu](
	[item] [nvarchar](50) NULL,
	[man1] [nvarchar](50) NULL,
	[manpn1] [nvarchar](50) NULL,
	[man2] [nvarchar](50) NULL,
	[manpn2] [nvarchar](50) NULL,
	[man3] [nvarchar](50) NULL,
	[manpn3] [nvarchar](50) NULL,
	[man4] [nvarchar](50) NULL,
	[manpn4] [nvarchar](50) NULL,
	[man5] [nvarchar](50) NULL,
	[manpn5] [nvarchar](50) NULL,
	[man6] [nvarchar](50) NULL,
	[manpn6] [nvarchar](50) NULL,
	[man7] [nvarchar](50) NULL,
	[manpn7] [nvarchar](50) NULL,
	[man8] [nvarchar](50) NULL,
	[manpn8] [nvarchar](50) NULL,
	[man9] [nvarchar](50) NULL,
	[manpn9] [nvarchar](50) NULL
) ON [PRIMARY]

GO
