USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[data]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[data] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
