USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TTIWIP105180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTIWIP105180](
	[T$PITM] [char](16) NOT NULL,
	[T$PITI] [char](16) NOT NULL,
	[T$GPTM] [char](10) NOT NULL,
	[T$SRNO] [float] NOT NULL,
	[T$LEVL] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
