USE [Multek_ZH]
GO
/****** Object:  View [dbo].[v_scrap_sales_Details_new]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[v_scrap_sales_Details_new]
AS
SELECT CASE B.T$LOCA WHEN 1 THEN 'ZHUHAI' WHEN 2 THEN 'HK' END AS LOCATION,
		B.T$YEAR AS FISCAL_YEAR,
		B.T$PRNO AS FISCAL_PERIOD,
		B.T$PLNT AS PLANT,
		A.T$ITEM AS Project,
		C.T$DSCA AS Description,
		B.T$SUNO AS SUPPLIER,
		D.T$DSCA AS SUP_Name,
--		CAST(SUM(A.T$AMND/1.17) + dbo.fun_scrap_sales_details_get_last_Period_data(B.T$LOCA,B.T$YEAR,B.T$PRNO,B.T$PLNT,A.T$ITEM,B.T$SUNO)
--		AS DECIMAL(18,2)
--		) as amount
		SUM(A.T$AMND) AS AMOUNT
FROM FACTORYLOADING.DBO.TFSSLS024180 AS A LEFT JOIN FACTORYLOADING.DBO.TFSSLS023180 AS B ON A.T$ORNO = B.T$ORNO
LEFT JOIN FACTORYLOADING.DBO.TFSSLS021180 AS C ON C.T$ITEM = A.T$ITEM
LEFT JOIN FACTORYLOADING.DBO.TFSSLS020180 AS D ON D.T$SUNO = B.T$SUNO
WHERE B.T$STAT = 4	--AND B.T$RMKA NOT LIKE '%FIN Adjustment%'
GROUP BY B.T$LOCA,B.T$YEAR,B.T$PRNO,B.T$PLNT,A.T$ITEM,C.T$DSCA ,B.T$SUNO,D.T$DSCA



GO
