USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vw_TTDSLS030]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE View [dbo].[vw_TTDSLS030]
AS
	SELECT A.*,B.T$CCUR FROM DBO.TTDSLS030180 AS A LEFT JOIN DBO.TTCCOM010180 AS B
		ON A.T$CUNO = B.T$CUNO
	WHERE A.T$CUNO IN (SELECT T$CUNO FROM DBO.TTCCOM010180 WHERE T$CNPA = 1) AND T$STAT = 1
	
	UNION ALL
	
	SELECT A.*,B.T$CCUR FROM DBO.TTDSLS030183 AS A LEFT JOIN DBO.TTCCOM010183 AS B
		ON A.T$CUNO = B.T$CUNO
	WHERE A.T$CUNO IN (SELECT T$CUNO FROM DBO.TTCCOM010183 WHERE T$CNPA = 1) AND T$STAT = 1




GO
