USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[JobDate]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobDate](
	[date] [datetime] NULL
) ON [PRIMARY]

GO
