USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[COMMON_ItemMatchOEM_BK]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMON_ItemMatchOEM_BK](
	[Item] [nvarchar](55) NULL,
	[OEM] [nvarchar](6) NULL,
	[OEM_Name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Item]    Script Date: 2014/11/12 17:12:19 ******/
CREATE NONCLUSTERED INDEX [Item] ON [dbo].[COMMON_ItemMatchOEM_BK]
(
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [OEM]    Script Date: 2014/11/12 17:12:19 ******/
CREATE NONCLUSTERED INDEX [OEM] ON [dbo].[COMMON_ItemMatchOEM_BK]
(
	[OEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
