USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TTCMCS013180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTCMCS013180](
	[T$CPAY] [char](3) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$PPER] [float] NOT NULL,
	[T$DISA] [float] NOT NULL,
	[T$DISB] [float] NOT NULL,
	[T$DISC] [float] NOT NULL,
	[T$PRCA] [float] NOT NULL,
	[T$PRCB] [float] NOT NULL,
	[T$PRCC] [float] NOT NULL,
	[T$ATIE] [float] NOT NULL,
	[T$PDIN] [float] NOT NULL,
	[T$CDDE] [float] NOT NULL,
	[T$CDIS] [float] NOT NULL,
	[T$FDUE] [float] NOT NULL,
	[T$FDIS] [float] NOT NULL,
	[T$TOLD] [float] NOT NULL,
	[T$TOLA] [float] NOT NULL,
	[T$TOLP] [float] NOT NULL,
	[T$DAY1] [float] NOT NULL,
	[T$DAY2] [float] NOT NULL,
	[T$DAY3] [float] NOT NULL,
	[T$PTYP] [float] NOT NULL,
	[T$PRIO] [float] NOT NULL,
	[T$PDYN] [float] NOT NULL,
	[T$PDIS] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
