USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TTIWIP201180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTIWIP201180](
	[T$MRBC] [char](3) NOT NULL,
	[T$SUBC] [char](3) NOT NULL,
	[T$DSCA] [char](50) NOT NULL,
	[T$DSUB] [char](50) NOT NULL,
	[T$PROC] [char](50) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
