USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Cancellation_Charge_UserPlantAuthority]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cancellation_Charge_UserPlantAuthority](
	[ID] [int] NULL,
	[UserID] [varchar](50) NULL,
	[Plant] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
