USE [Multek_ZH]
GO
/****** Object:  StoredProcedure [dbo].[Cancellation_Charge_sp_Update_User_Authority]    Script Date: 2014/11/12 17:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*============================================ Cancellation_Charge_sp_Update_User_Authority ===================================================================*/

CREATE PROCEDURE [dbo].[Cancellation_Charge_sp_Update_User_Authority]
	@UserID VARCHAR(50),
	@MenuID VARCHAR(50),
	@CanSee BIT
AS

SET NOCOUNT ON

UPDATE Cancellation_Charge_Authority
SET CanSee=@CanSee
WHERE UserID=@UserID
	AND MenuID=@MenuID

UPDATE Cancellation_Charge_Authority
SET CanSee=1
FROM Cancellation_Charge_Authority a,Cancellation_Charge_Users b
WHERE a.UserID=b.UserID
	AND b.Administrator=1


GO
