USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[EHS_Department]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EHS_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL CONSTRAINT [DF_EHS_Department_PID]  DEFAULT ((0)),
	[Department] [nvarchar](50) NULL,
 CONSTRAINT [PK_EHS_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
