USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Standard_Cost_Model_fsbom400]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Standard_Cost_Model_fsbom400](
	[T$PJNO] [char](10) NOT NULL,
	[T$SERN] [float] NOT NULL,
	[T$CRID] [char](10) NOT NULL,
	[T$CRDT] [datetime] NULL,
	[T$LCDT] [datetime] NULL,
	[T$STAT] [float] NOT NULL,
	[T$MBSP] [float] NOT NULL,
	[T$ODSP] [float] NOT NULL,
	[T$STSP] [float] NOT NULL,
	[T$MASP] [float] NOT NULL,
	[T$BUSP] [float] NOT NULL,
	[T$CESU] [float] NOT NULL,
	[T$CESP] [float] NOT NULL,
	[T$CESS] [float] NOT NULL,
	[T$CISU] [float] NOT NULL,
	[T$CISP] [float] NOT NULL,
	[T$CISS] [float] NOT NULL,
	[T$DLIU] [float] NOT NULL,
	[T$DLIP] [float] NOT NULL,
	[T$DLIS] [float] NOT NULL,
	[T$ILIU] [float] NOT NULL,
	[T$ILIP] [float] NOT NULL,
	[T$ILIS] [float] NOT NULL,
	[T$MDSU] [float] NOT NULL,
	[T$MDSP] [float] NOT NULL,
	[T$MDSS] [float] NOT NULL,
	[T$LDIU] [float] NOT NULL,
	[T$LDIP] [float] NOT NULL,
	[T$LDIS] [float] NOT NULL,
	[T$LDMU] [float] NOT NULL,
	[T$LDMP] [float] NOT NULL,
	[T$LDMS] [float] NOT NULL,
	[T$TCIU] [float] NOT NULL,
	[T$TCIP] [float] NOT NULL,
	[T$TCIS] [float] NOT NULL,
	[T$GSRU] [float] NOT NULL,
	[T$GSRP] [float] NOT NULL,
	[T$GSRS] [float] NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$MCSR] [float] NOT NULL,
	[T$PRMG] [float] NOT NULL,
	[T$PMGR] [float] NOT NULL,
	[T$EPRP] [float] NOT NULL,
	[T$EPPP] [float] NOT NULL,
	[T$EPPC] [float] NOT NULL,
	[T$VERS] [float] NOT NULL,
	[T$AVER] [float] NOT NULL,
	[T$TCUU] [float] NOT NULL,
	[T$TCUP] [float] NOT NULL,
	[T$TCUS] [float] NOT NULL,
	[T$FDIR] [char](100) NOT NULL,
	[T$BTYP] [char](40) NOT NULL,
	[T$ATYP] [char](40) NOT NULL,
	[T$TQTY] [float] NOT NULL,
	[T$MRB1] [float] NOT NULL,
	[T$MRB4] [float] NOT NULL,
	[T$MR12] [float] NOT NULL,
	[T$MR13] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$UFLG] [float] NOT NULL,
	[T$SCRE] [char](30) NOT NULL,
	[T$DCFA] [float] NOT NULL,
	[T$CODA] [datetime] NULL,
	[T$COTI] [float] NOT NULL,
	[T$PVER] [char](8) NOT NULL,
	[T$MVER] [char](8) NOT NULL,
	[T$OU13] [float] NOT NULL,
	[T$APRJ] [char](10) NOT NULL,
	[T$TSCU] [float] NOT NULL,
	[T$TSCP] [float] NOT NULL,
	[T$TSCS] [float] NOT NULL,
	[T$QSTA] [float] NOT NULL,
	[T$PLEN] [float] NOT NULL,
	[T$PWID] [float] NOT NULL,
	[T$UNST] [float] NOT NULL,
	[T$STPL] [float] NOT NULL,
	[T$PLUP] [char](20) NOT NULL,
	[MI_UNST] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_UNST]  DEFAULT ((0)),
	[MI_PANW] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_PANW]  DEFAULT ((0)),
	[MI_PANL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_PANL]  DEFAULT ((0)),
	[MI_AREA] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_AREA]  DEFAULT ((0)),
	[MI_CBPN] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_CBPN]  DEFAULT ((0)),
	[MI_PNWN] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_PNWN]  DEFAULT ((0)),
	[MI_PNLN] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_PNLN]  DEFAULT ((0)),
	[MI_UTIL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_MI_UTIL]  DEFAULT ((0)),
	[BOM_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_BOM_COST_UNIT]  DEFAULT ((0)),
	[BOM_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_BOM_COST_PNL]  DEFAULT ((0)),
	[BOM_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_BOM_COST_SQFT]  DEFAULT ((0)),
	[EDM_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_EDM_COST_UNIT]  DEFAULT ((0)),
	[EDM_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_EDM_COST_PNL]  DEFAULT ((0)),
	[EDM_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_EDM_COST_SQFT]  DEFAULT ((0)),
	[DL_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DL_COST_UNIT]  DEFAULT ((0)),
	[DL_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DL_COST_PNL]  DEFAULT ((0)),
	[DL_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DL_COST_SQFT]  DEFAULT ((0)),
	[VAR_MOH_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_VAR_MOH_UNIT]  DEFAULT ((0)),
	[VAR_MOH_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_VAR_MOH_PNL]  DEFAULT ((0)),
	[VAR_MOH_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_VAR_MOH_SQFT]  DEFAULT ((0)),
	[SUBCON_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_UNIT]  DEFAULT ((0)),
	[SUBCON_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_PNL]  DEFAULT ((0)),
	[SUBCON_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_SQFT]  DEFAULT ((0)),
	[SUB_VAR_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_VAR_UNIT]  DEFAULT ((0)),
	[SUB_VAR_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_VAR_PNL]  DEFAULT ((0)),
	[SUB_VAR_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_VAR_SQFT]  DEFAULT ((0)),
	[IDL_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_IDL_COST_UNIT]  DEFAULT ((0)),
	[IDL_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_IDL_COST_PNL]  DEFAULT ((0)),
	[IDL_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_IDL_COST_SQFT]  DEFAULT ((0)),
	[DA_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DA_COST_UNIT]  DEFAULT ((0)),
	[DA_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DA_COST_PNL]  DEFAULT ((0)),
	[DA_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_DA_COST_SQFT]  DEFAULT ((0)),
	[SUB_FIX_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_FIX_UNIT]  DEFAULT ((0)),
	[SUB_FIX_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_FIX_PNL]  DEFAULT ((0)),
	[SUB_FIX_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUB_FIX_SQFT]  DEFAULT ((0)),
	[TOT_COST_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_TOT_COST_UNIT]  DEFAULT ((0)),
	[TOT_COST_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_TOT_COST_PNL]  DEFAULT ((0)),
	[TOT_COST_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_TOT_COST_SQFT]  DEFAULT ((0)),
	[SUBCON_COST] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_COST]  DEFAULT ((0)),
	[Normal_cost] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_Normal_cost]  DEFAULT ((0)),
	[SUBCON_BOM_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_BOM_UNIT]  DEFAULT ((0)),
	[SUBCON_EDM_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_EDM_UNIT]  DEFAULT ((0)),
	[SUBCON_DL_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DL_UNIT]  DEFAULT ((0)),
	[SUBCON_VAR_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_UNIT_1]  DEFAULT ((0)),
	[SUBCON_IDL_UNIIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_IDL_UNIIT]  DEFAULT ((0)),
	[SUBCON_DA_UNIT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DA_UNIT]  DEFAULT ((0)),
	[SUBCON_BOM_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_BOM_PNL]  DEFAULT ((0)),
	[SUBCON_EDM_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_EDM_PNL]  DEFAULT ((0)),
	[SUBCON_DL_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DL_PNL]  DEFAULT ((0)),
	[SUBCON_VAR_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_PNL_1]  DEFAULT ((0)),
	[SUBCON_IDL_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_IDL_PNL]  DEFAULT ((0)),
	[SUBCON_DA_PNL] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DA_PNL]  DEFAULT ((0)),
	[SUBCON_BOM_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_BOM_SQFT]  DEFAULT ((0)),
	[SUBCON_EDM_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_EDM_SQFT]  DEFAULT ((0)),
	[SUBCON_DL_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DL_SQFT]  DEFAULT ((0)),
	[SUBCON_VAR_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_VAR_SQFT_1]  DEFAULT ((0)),
	[SUBCON_IDL_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_IDL_SQFT]  DEFAULT ((0)),
	[SUBCON_DA_SQFT] [float] NULL CONSTRAINT [DF_Standard_Cost_Model_fsbom400_SUBCON_DA_SQFT]  DEFAULT ((0))
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
