USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Cost_Sheet_Query_TFSBOM421180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Cost_Sheet_Query_TFSBOM421180]
AS
SELECT	T$PJNO,
		T$SERN,
		SUM(T$BOMC) AS BOMCOST,
		SUM(T$DLCT) AS DL_COST_PNL,
		SUM(T$ILCT) AS IDL_COST_PNL,
		SUM(T$DPAM) AS DA_COST_PNL,	
		(SUM(T$EQEX)+SUM(T$FAUT)+SUM(T$CMPT)+SUM(T$SUPP)+SUM(T$TREN)+SUM(T$OTER)) AS VAR_MOH
FROM FACTORYLOADING.DBO.TFSBOM421180 
GROUP BY T$PJNO,T$SERN
--SELECT * FROM FACTORYLOADING.DBO.TFSBOM421180


GO
