USE [Multek_ZH]
GO
/****** Object:  StoredProcedure [dbo].[vote_sp_Query_Inviate_Users]    Script Date: 2014/11/12 17:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*============================================ vote_sp_Query_User ======================================================================*/

CREATE PROCEDURE [dbo].[vote_sp_Query_Inviate_Users]
	@Domain VARCHAR(50)=NULL,
	@Account VARCHAR(50)=NULL,
	@BDMGAM	VARCHAR(50)=NULL,
	@Email	VARCHAR(50)=NULL
AS

SET NOCOUNT ON

SET @Domain=ISNULL(@Domain,'')
SET @Domain='%'+RTRIM(LTRIM(@Domain))+'%'
SET @Account=ISNULL(@Account,'')
SET @Account='%'+RTRIM(LTRIM(@Account))+'%'
SET @BDMGAM=ISNULL(@BDMGAM,'')
SET @BDMGAM='%'+RTRIM(LTRIM(@BDMGAM))+'%'
SET @Email=ISNULL(@Email,'')
SET @Email='%'+RTRIM(LTRIM(@Email))+'%'

SELECT *
FROM vote_Inviate_Users 
WHERE Domain LIKE @Domain
	AND Account LIKE @Account
	AND FullName LIKE @BDMGAM
	AND Email LIKE @Email
ORDER BY Account ASC

GO
