USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSAMI105180]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSAMI105180](
	[T$PITM] [char](16) NOT NULL,
	[T$SEQE] [float] NOT NULL,
	[T$QUTY] [float] NOT NULL,
	[T$CWOC] [char](4) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
