USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSCPP286180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP286180](
	[T$BANO] [char](20) NOT NULL,
	[T$EONO] [char](30) NOT NULL,
	[T$CUPN] [char](30) NOT NULL,
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$SERN] [float] NOT NULL,
	[T$CRDT] [datetime] NULL,
	[T$TRDT] [float] NOT NULL,
	[T$BFDT] [float] NOT NULL,
	[T$PMCD] [datetime] NULL,
	[T$BQTY] [float] NOT NULL,
	[T$NCDT] [datetime] NULL,
	[T$NTDT] [float] NOT NULL,
	[T$NBDT] [float] NOT NULL,
	[T$PCDN] [datetime] NULL,
	[T$AQTY] [float] NOT NULL,
	[T$ATYP] [char](10) NOT NULL,
	[T$STAT] [float] NOT NULL,
	[T$PACP] [float] NOT NULL,
	[T$PANP] [float] NOT NULL,
	[T$PCDT] [datetime] NULL,
	[T$PCTM] [float] NOT NULL,
	[T$PUSE] [char](10) NOT NULL,
	[T$OACP] [float] NOT NULL,
	[T$OANP] [float] NOT NULL,
	[T$OADT] [datetime] NULL,
	[T$OATM] [float] NOT NULL,
	[T$OUSE] [char](10) NOT NULL,
	[T$MADT] [datetime] NULL,
	[T$MATM] [float] NOT NULL,
	[T$MUSE] [char](10) NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$PRIC$D] [float] NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$BAMT] [float] NOT NULL,
	[T$RSMT] [float] NOT NULL,
	[T$PITM] [char](4) NOT NULL,
	[T$CUNO] [char](6) NOT NULL,
	[T$CDEL] [char](3) NOT NULL,
	[T$NAMA] [char](35) NOT NULL,
	[T$FUNO] [char](6) NOT NULL,
	[T$CRFN] [char](6) NOT NULL,
	[T$ASRN] [float] NOT NULL,
	[T$CQPM] [float] NOT NULL,
	[T$IFPS] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
