USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Delivery_TS_ZD]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Delivery_TS_ZD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL CONSTRAINT [DF_TS_ZD_PID]  DEFAULT ((0)),
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_TS_ZD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
