USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Cancellation_Charge_vw_fscpp253180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Cancellation_Charge_vw_fscpp253180]
as 
SELECT T$ORNO,T$PONO,T$PJNO,(CASE T$HUBQ WHEN 0 THEN T$CQTY-T$SQTY ELSE T$CQTY-T$HUBQ END ) AS FGQY
FROM 
(
SELECT T$ORNO,T$PONO,T$PJNO,SUM(T$CQTY) AS T$CQTY,SUM(T$SQTY) AS T$SQTY,SUM(T$HUBQ) AS T$HUBQ
FROM FactoryLoading.DBO.TFSCPP253180 where t$orno <> 0 GROUP BY T$ORNO,T$PONO,T$PJNO
) AS A



GO
