USE [Multek_ZH]
GO
/****** Object:  View [dbo].[TFSBOM400180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TFSBOM400180]
as
select * from FactoryLoading.dbo.TFSBOM400180
GO
