USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSCPP201180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP201180](
	[T$PLNT] [char](2) NOT NULL,
	[T$NCMP] [float] NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$LOCA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
