USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vc_Quick_Cost_MI]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vc_Quick_Cost_MI]
AS
SELECT A.*,C.*,D.T$ASTR AS PANLSET,E.T$ASTR AS US FROM
(
	SELECT B.* FROM DBO.VC_QUICK_COST_TFSBOM400180 AS A,VW_TFSBOM457180 AS B
	WHERE A.T$PJNO = B.T$PJNO AND A.T$SERN = B.T$SERN
	AND B.T$ATTR = 'PC'
) AS A LEFT JOIN DBO.TFSAMI111180 AS C ON A.T$ASTR = C.T$CODE
LEFT JOIN 
(
	SELECT B.* FROM DBO.VC_QUICK_COST_TFSBOM400180 AS A,VW_TFSBOM457180 AS B
	WHERE A.T$PJNO = B.T$PJNO AND A.T$SERN = B.T$SERN
	AND B.T$ATTR = 'sp'
) AS D
ON A.T$PJNO = D.T$PJNO AND A.T$SERN = D.T$SERN
LEFT JOIN 
(
	SELECT B.* FROM DBO.VC_QUICK_COST_TFSBOM400180 AS A,VW_TFSBOM457180 AS B
	WHERE A.T$PJNO = B.T$PJNO AND A.T$SERN = B.T$SERN
	AND B.T$ATTR = 'US'
) AS E
ON A.T$PJNO = E.T$PJNO AND A.T$SERN = E.T$SERN
GO
