USE [Multek_ZH]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSins_dboTFSOLP102180]    Script Date: 2014/11/12 17:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSins_dboTFSOLP102180]
    @c1 char(30),
    @c2 float,
    @c3 float,
    @c4 float,
    @c5 float,
    @c6 float,
    @c7 datetime,
    @c8 datetime,
    @c9 datetime,
    @c10 float,
    @c11 datetime,
    @c12 char(6),
    @c13 char(35),
    @c14 char(30),
    @c15 char(35),
    @c16 char(6),
    @c17 char(35),
    @c18 char(30),
    @c19 char(8),
    @c20 char(30),
    @c21 datetime,
    @c22 datetime,
    @c23 char(30),
    @c24 char(30),
    @c25 float,
    @c26 float,
    @c27 float,
    @c28 float,
    @c29 float,
    @c30 float,
    @c31 float,
    @c32 float,
    @c33 float,
    @c34 float,
    @c35 float,
    @c36 float,
    @c37 float,
    @c38 float,
    @c39 float,
    @c40 float,
    @c41 datetime,
    @c42 float,
    @c43 char(3),
    @c44 float,
    @c45 float,
    @c46 char(30),
    @c47 char(5),
    @c48 char(30),
    @c49 char(6),
    @c50 char(30),
    @c51 float,
    @c52 char(16),
    @c53 char(30),
    @c54 char(35),
    @c55 char(30),
    @c56 char(30),
    @c57 char(4),
    @c58 char(30),
    @c59 float,
    @c60 float,
    @c61 float,
    @c62 float,
    @c63 float,
    @c64 float,
    @c65 float,
    @c66 float,
    @c67 char(30),
    @c68 char(30),
    @c69 float,
    @c70 float,
    @c71 float,
    @c72 float,
    @c73 float,
    @c74 float,
    @c75 float,
    @c76 float,
    @c77 float,
    @c78 char(6),
    @c79 char(30),
    @c80 float,
    @c81 float,
    @c82 float,
    @c83 float,
    @c84 char(30),
    @c85 float,
    @c86 float,
    @c87 char(30),
    @c88 float,
    @c89 float,
    @c90 float,
    @c91 float,
    @c92 float,
    @c93 float,
    @c94 float,
    @c95 float,
    @c96 float,
    @c97 float,
    @c98 float,
    @c99 float,
    @c100 float,
    @c101 char(32),
    @c102 datetime,
    @c103 float,
    @c104 char(2),
    @c105 char(30),
    @c106 char(35),
    @c107 char(35),
    @c108 char(30),
    @c109 char(3),
    @c110 char(3),
    @c111 datetime,
    @c112 datetime,
    @c113 char(3),
    @c114 float,
    @c115 char(30),
    @c116 char(30),
    @c117 char(30),
    @c118 char(35),
    @c119 char(4),
    @c120 char(30),
    @c121 datetime,
    @c122 float,
    @c123 char(30),
    @c124 float,
    @c125 char(6),
    @c126 char(30),
    @c127 char(3),
    @c128 char(30),
    @c129 char(30),
    @c130 char(30),
    @c131 char(30),
    @c132 char(30),
    @c133 char(30),
    @c134 char(10),
    @c135 char(3),
    @c136 char(5),
    @c137 char(6),
    @c138 float,
    @c139 float
as
begin  
	insert into [dbo].[TFSOLP102180](
		[T$LOCA],
		[T$ORNO],
		[T$PONO],
		[T$SRNB],
		[T$COMP],
		[T$DRCT],
		[T$INVD],
		[T$DDAT],
		[T$S1DA],
		[T$SH11],
		[T$SHTM],
		[T$CUST],
		[T$BAD1],
		[T$SHCU],
		[T$SHCN],
		[T$CUNO],
		[T$INSN],
		[T$EONO],
		[T$BUSN],
		[T$SEGM],
		[T$DUDT],
		[T$DODT],
		[T$CUPN],
		[T$PARV],
		[T$CPID],
		[T$PRIY],
		[T$ORDS],
		[T$DQUA],
		[T$AMNT],
		[T$NREE],
		[T$TSAL],
		[T$PRIC],
		[T$COST],
		[T$PROF],
		[T$UPRI],
		[T$PRIP],
		[T$COSP],
		[T$PROP],
		[T$PROT],
		[T$PROI],
		[T$SODT],
		[T$SOTM],
		[T$COTP],
		[T$ORDT],
		[T$INNU],
		[T$NAMA],
		[T$ORNU],
		[T$USNM],
		[T$CONN],
		[T$CONA],
		[T$RATS],
		[T$PRON],
		[T$OEMM],
		[T$ENDC],
		[T$CARR],
		[T$TRAN],
		[T$LAYS],
		[T$SELC],
		[T$SHPA],
		[T$SHLY],
		[T$WIDB],
		[T$LENB],
		[T$AREB],
		[T$WIDP],
		[T$LENP],
		[T$AREP],
		[T$SUBS],
		[T$BASM],
		[T$HOLB],
		[T$HOLP],
		[T$SMAH],
		[T$THIC],
		[T$ASPR],
		[T$SHBD],
		[T$SHDD],
		[T$SHAY],
		[T$SHDL],
		[T$ATLC],
		[T$SHPN],
		[T$UPAR],
		[T$BRAR],
		[T$UARE],
		[T$CRRT],
		[T$INVB],
		[T$INVN],
		[T$CPRT],
		[T$PRTP],
		[T$SOSE],
		[T$SHDO],
		[T$NREL],
		[T$ITLS],
		[T$PRIB],
		[T$COSL],
		[T$PROL],
		[T$PRIL],
		[T$COPL],
		[T$PRPL],
		[T$PRFP],
		[T$PRFL],
		[T$SHOC],
		[T$ITEM],
		[T$SHDT],
		[T$SHID],
		[T$PLNT],
		[T$BUSU],
		[T$CUNM],
		[T$BAD2],
		[T$COBA],
		[T$CWAR],
		[T$TTYP],
		[T$PODT],
		[T$RQDT],
		[T$CCUR],
		[T$AREA],
		[T$REFA],
		[T$CODA],
		[T$CSCO],
		[T$CDSC],
		[T$STYP],
		[T$FIDS],
		[T$FLDT],
		[T$PSPL],
		[T$PRDN],
		[T$FLEX],
		[T$ISEG],
		[T$DESC],
		[T$CDEL],
		[T$OTYP],
		[T$NAMB],
		[T$NAMC],
		[T$NAMD],
		[T$NAME],
		[T$NAMF],
		[T$PSTC],
		[T$CCTY],
		[T$CRTE],
		[T$CADR],
		[T$REFCNTD],
		[T$REFCNTU]
	) values (
    @c1,
    @c2,
    @c3,
    @c4,
    @c5,
    @c6,
    @c7,
    @c8,
    @c9,
    @c10,
    @c11,
    @c12,
    @c13,
    @c14,
    @c15,
    @c16,
    @c17,
    @c18,
    @c19,
    @c20,
    @c21,
    @c22,
    @c23,
    @c24,
    @c25,
    @c26,
    @c27,
    @c28,
    @c29,
    @c30,
    @c31,
    @c32,
    @c33,
    @c34,
    @c35,
    @c36,
    @c37,
    @c38,
    @c39,
    @c40,
    @c41,
    @c42,
    @c43,
    @c44,
    @c45,
    @c46,
    @c47,
    @c48,
    @c49,
    @c50,
    @c51,
    @c52,
    @c53,
    @c54,
    @c55,
    @c56,
    @c57,
    @c58,
    @c59,
    @c60,
    @c61,
    @c62,
    @c63,
    @c64,
    @c65,
    @c66,
    @c67,
    @c68,
    @c69,
    @c70,
    @c71,
    @c72,
    @c73,
    @c74,
    @c75,
    @c76,
    @c77,
    @c78,
    @c79,
    @c80,
    @c81,
    @c82,
    @c83,
    @c84,
    @c85,
    @c86,
    @c87,
    @c88,
    @c89,
    @c90,
    @c91,
    @c92,
    @c93,
    @c94,
    @c95,
    @c96,
    @c97,
    @c98,
    @c99,
    @c100,
    @c101,
    @c102,
    @c103,
    @c104,
    @c105,
    @c106,
    @c107,
    @c108,
    @c109,
    @c110,
    @c111,
    @c112,
    @c113,
    @c114,
    @c115,
    @c116,
    @c117,
    @c118,
    @c119,
    @c120,
    @c121,
    @c122,
    @c123,
    @c124,
    @c125,
    @c126,
    @c127,
    @c128,
    @c129,
    @c130,
    @c131,
    @c132,
    @c133,
    @c134,
    @c135,
    @c136,
    @c137,
    @c138,
    @c139	) 
end  

GO
