USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Cost_Sheet_Query_TFSBOM202180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Cost_Sheet_Query_TFSBOM202180]
AS
SELECT LEFT(T$PITM,10) AS T$PJNO,T$PITM,T$VERS,T$DATE FROM FactoryLoading.DBO.TFSBOM202180 WHERE RIGHT(RTRIM(T$PITM),2) = '00'

GO
