USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[vw_tfsolp100180_rl]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vw_tfsolp100180_rl](
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$BAD1] [char](35) NOT NULL,
	[T$BAD2] [char](35) NOT NULL,
	[T$COBA] [char](30) NOT NULL,
	[T$CUNO] [char](6) NOT NULL,
	[T$CUNM] [char](35) NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$REFA] [char](30) NOT NULL,
	[T$EONO] [char](30) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$CUPN] [char](30) NOT NULL,
	[T$OQUA] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
