USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Sheet2]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet2](
	[PJ] [nvarchar](255) NULL,
	[汇总] [float] NULL
) ON [PRIMARY]

GO
