USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[CCN_UpdateLog]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCN_UpdateLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CCNNo] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_CCN_UpdateLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CCN_UpdateLog]    Script Date: 2014/11/12 17:12:19 ******/
CREATE NONCLUSTERED INDEX [IX_CCN_UpdateLog] ON [dbo].[CCN_UpdateLog]
(
	[CCNNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
