USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Multek_IE_MSS_CALC]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Multek_IE_MSS_CALC]
AS
SELECT CASE WHEN T$PLNT = '2F' THEN 'B2F' ELSE T$PLNT END T$PLNT,T$ITEM,T$DSCA,T$PDAT,(T$ORUA+T$FOUA) AS T$AUA,T$OUUA,CAST((T$ORSQ+T$FOSQ) AS DECIMAL(18,4)) as T$ASQ,CAST(T$OUSQ AS DECIMAL(18,4)) as T$OUSQ
FROM DBO.TFSOLP122180
WHERE DATEDIFF(D,T$JDAT,GETDATE()) = 0 AND T$PLNT <> 'HK'



GO
