USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSOLP112180_bk2]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSOLP112180_bk2](
	[T$MITM] [char](47) NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$SEQN] [float] NOT NULL,
	[T$SITM] [char](47) NOT NULL,
	[T$INDT] [datetime] NULL,
	[T$EXDT] [datetime] NULL,
	[T$LENG] [float] NOT NULL,
	[T$WIDT] [float] NOT NULL,
	[T$NOUN] [float] NOT NULL,
	[T$QANA] [float] NOT NULL,
	[T$SCPF] [float] NOT NULL,
	[T$CWAR] [char](6) NOT NULL,
	[T$OPNO] [float] NOT NULL,
	[T$CPHA] [float] NOT NULL,
	[T$EXIN] [char](8) NOT NULL,
	[T$NNTS] [float] NOT NULL,
	[T$LEDM] [float] NOT NULL,
	[T$SCPQ] [float] NOT NULL,
	[T$PHST] [float] NOT NULL,
	[T$LTOM] [float] NOT NULL,
	[T$LTOV] [float] NOT NULL,
	[T$REFI] [float] NOT NULL,
	[T$YLDO] [float] NOT NULL,
	[T$SCRO] [float] NOT NULL,
	[T$PREQ] [float] NOT NULL,
	[T$PDOC] [float] NOT NULL,
	[T$MROU] [float] NOT NULL,
	[T$LSEL] [float] NOT NULL,
	[T$EXPL] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
