USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vc_Cost_sheet_Report_for_MKT]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE View [dbo].[vc_Cost_sheet_Report_for_MKT]
AS
SELECT 
	A.T$PLNT,
	A.T$PJNO,
	C.T$DSCA AS OEM,
	E.T$CUTN AS CUSPART,
	T$SERN,
	A.T$VERS,
	CAST((100 - T$MASP) AS DECIMAL(18,2)) AS T$MASP,
	CAST((100 - T$BUSP) AS DECIMAL(18,2)) AS T$BUSP,
	T$CESU,
	T$CESP,
	T$CISU,
	T$TCIU,
	T$TCUU,
	T$CISS,
	T$TCIS,
	T$TCUS,
	T$BOMC,
	A.T$UNST,
	A.T$CBPN,
	D.T$QUTY,
	D.T$UNIT,
	CONVERT(varchar(10),T$CODA , 120) AS T$CODA
FROM DBO.COST_SHEET_QUERY_TFSBOM400180 AS A 
	LEFT JOIN FACTORYLOADING.DBO.TTIITM001180 AS B ON LEFT(A.T$PJNO,8) = B.T$ITEM
	LEFT JOIN FACTORYLOADING.DBO.TTCMCS044180 AS C ON B.T$CSGS = C.T$CSGP
	LEFT JOIN FactoryLoading.dbo.TFSBOM202180 AS D ON A.T$PJNO+'-00' = D.T$PITM AND A.T$VERS = D.T$VERS
	LEFT JOIN FactoryLoading.dbo.TFSAMI002180 AS E ON A.T$PJNO+'-00' = E.T$PJNO
WHERE A.T$PJNO+CAST(T$SERN AS NVARCHAR(4)) IN
(
	SELECT T$PJNO+CAST(MAX(T$SERN) AS NVARCHAR(4)) FROM DBO.COST_SHEET_QUERY_TFSBOM400180 WHERE T$STAT = 2 GROUP BY T$PJNO
)
AND T$STAT = 2





GO
