USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TTFACP001180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTFACP001180](
	[T$FISU] [char](3) NOT NULL,
	[T$DESC] [char](30) NOT NULL,
	[T$TEXT] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
