USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[Cost_Sheet_Query_ProjectList]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cost_Sheet_Query_ProjectList](
	[T$PJNO] [char](10) NOT NULL,
	[T$APRJ] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Cost_Sheet_Query_ProjectList] PRIMARY KEY CLUSTERED 
(
	[T$PJNO] ASC,
	[T$APRJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Index_Project]    Script Date: 2014/11/12 17:12:19 ******/
CREATE NONCLUSTERED INDEX [Index_Project] ON [dbo].[Cost_Sheet_Query_ProjectList]
(
	[T$PJNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
