USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[MSS_UpTime]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MSS_UpTime](
	[UpTime] [datetime] NULL
) ON [PRIMARY]

GO
