USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSOLP148180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSOLP148180](
	[T$CUNO] [char](6) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
