USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TTCMCS002180]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTCMCS002180](
	[T$CCUR] [char](3) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$DSCB] [char](3) NOT NULL,
	[T$CRND] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
