USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSATT007180_update]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSATT007180_update](
	[T$ITEM] [char](32) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$CUNI] [char](6) NOT NULL,
	[T$STGU] [char](3) NOT NULL,
	[T$MATS] [char](30) NOT NULL,
	[T$ATYP] [char](30) NOT NULL,
	[T$VDPN] [char](30) NOT NULL,
	[T$DWAR] [float] NOT NULL,
	[T$DWUN] [char](3) NOT NULL,
	[T$DFIL] [float] NOT NULL,
	[T$DFUN] [char](3) NOT NULL,
	[T$TGDG] [float] NOT NULL,
	[T$RCPC] [float] NOT NULL,
	[T$LSDR] [char](30) NOT NULL,
	[T$PROT] [char](30) NOT NULL,
	[T$VDOR] [char](30) NOT NULL,
	[T$MAFR] [char](30) NOT NULL,
	[T$LOCA] [char](30) NOT NULL,
	[T$CTRY] [char](30) NOT NULL,
	[T$CATG] [char](30) NOT NULL,
	[T$ITGP] [char](30) NOT NULL,
	[T$PUNI] [char](3) NOT NULL,
	[T$MAFA] [char](30) NOT NULL,
	[T$IUB1] [char](30) NOT NULL,
	[T$IU2F] [char](30) NOT NULL,
	[T$IUB3] [char](30) NOT NULL,
	[T$IUB4] [char](30) NOT NULL,
	[T$IUB5] [char](30) NOT NULL,
	[T$SULO] [char](30) NOT NULL,
	[T$CSIG] [char](3) NOT NULL,
	[T$SUNO] [char](6) NOT NULL,
	[T$DAD9] [char](3) NOT NULL,
	[T$DK1G] [float] NOT NULL,
	[T$DK2G] [float] NOT NULL,
	[T$DF1G] [float] NOT NULL,
	[T$DF2G] [float] NOT NULL,
	[T$APTH] [float] NOT NULL,
	[T$HAL3] [char](30) NOT NULL,
	[T$ROHS] [char](30) NOT NULL,
	[T$SFLF] [float] NOT NULL,
	[T$SFUN] [float] NOT NULL,
	[T$STSA] [char](30) NOT NULL,
	[T$MARA] [float] NOT NULL,
	[T$STCD] [char](30) NOT NULL,
	[T$DPRC] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
