USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[fifam020180]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fifam020180](
	[T$ITEM] [char](32) NULL,
	[T$MITM] [char](32) NULL,
	[T$MANU] [char](50) NULL,
	[T$MAPN] [char](32) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
