USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[CCN_Picture]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CCN_Picture](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_CCN_Picture] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CCN_Picture] ADD  CONSTRAINT [DF_CCN_Files_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
