USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vw_vote_report_sum_by_plant_New]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[vw_vote_report_sum_by_plant_New]
AS
SELECT * FROM 
(
	SELECT C.VOTEITEM AS Plant,D.voteItem, 1 as ct 
	FROM DBO.VOTE_ANSWER AS A 
		LEFT JOIN DBO.VOTE_ANSWER	AS B ON A.NUM = B.NUM AND B.VOTENUMBER = 1
		LEFT JOIN DBO.VOTE_DETAILS	AS C ON C.VOTE_DETAILID = A.VOTE_DETAILID AND C.VOTENUMBER = 3
		LEFT JOIN DBO.VOTE_DETAILS	AS D ON D.VOTE_DETAILID = B.VOTE_DETAILID AND D.VOTENUMBER = 1
	WHERE A.VOTENUMBER = 3
) AS A
PIVOT
(
--SUM(CT) FOR PLANT IN(SELECT voteItem FROM DBO.VOTE_DETAILS WHERE VOTENUMBER = 3)
SUM(CT) FOR PLANT IN(Corp,B1,B2F,B3,B4,B5)
) AS B

GO
