USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[temp_stock]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_stock](
	[T$CWAR] [char](3) NOT NULL,
	[T$ITEM] [char](32) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
