USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vw_KOI_MRB_rate]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[vw_KOI_MRB_rate]
as

SELECT T$PLNT,T$DATE,SUM(T$MCOS) as T$MCOS,SUM(T$AMNT) as T$AMNT  FROM 
(

SELECT (CASE T$PLNT WHEN 'B1' THEN 'P2' ELSE T$PLNT END )AS T$PLNT,T$MCOS,T$DATE,'0' as T$AMNT FROM hkgnt111.Multek_ZH_New.dbo.TFSOLP128180 
UNION ALL
SELECT T$PLNT,0 as T$MCOS,T$DATE,T$AMNT FROM hkgnt111.Multek_SZ_New.dbo.TFSOLP106180 
WHERE T$PLNT<>'' AND T$PLNT<>'HK'

) AS A  GROUP BY T$PLNT,T$DATE 
GO
