USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[SQM_CoA_FileName]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQM_CoA_FileName](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](50) NULL,
 CONSTRAINT [PK_SQM_CoA_FileName] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
