USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSATT026180]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSATT026180](
	[T$ITEM] [char](32) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$CUNI] [char](6) NOT NULL,
	[T$STGU] [char](3) NOT NULL,
	[T$MATS] [char](30) NOT NULL,
	[T$VDOR] [char](30) NOT NULL,
	[T$MAFR] [char](30) NOT NULL,
	[T$LOCA] [char](30) NOT NULL,
	[T$CTRY] [char](30) NOT NULL,
	[T$CATG] [char](30) NOT NULL,
	[T$ITGP] [char](30) NOT NULL,
	[T$PUNI] [char](30) NOT NULL,
	[T$MAFA] [char](30) NOT NULL,
	[T$IUB1] [char](30) NOT NULL,
	[T$IU2F] [char](30) NOT NULL,
	[T$IUB3] [char](30) NOT NULL,
	[T$IUB4] [char](30) NOT NULL,
	[T$IUB5] [char](30) NOT NULL,
	[T$CSIG] [char](3) NOT NULL,
	[T$SUNO] [char](6) NOT NULL,
	[T$DSCC] [char](12) NOT NULL,
	[T$DSCD] [char](8) NOT NULL,
	[T$SUPP] [char](3) NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$PRIP] [float] NOT NULL,
	[T$HADE] [char](30) NOT NULL,
	[T$ROHS] [char](30) NOT NULL,
	[T$HAL3] [char](3) NOT NULL,
	[T$LDFR] [char](3) NOT NULL,
	[T$SFLF] [float] NOT NULL,
	[T$SFUN] [float] NOT NULL,
	[T$MARA] [float] NOT NULL,
	[T$STCD] [char](30) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
