USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[CACT_User]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CACT_User](
	[Account] [varchar](50) NOT NULL,
	[Domain] [varchar](50) NOT NULL CONSTRAINT [DF_CACT_User_Domain]  DEFAULT ('asia'),
	[Display] [varchar](50) NULL,
	[Admin] [int] NULL CONSTRAINT [DF_CACT_User_Admin]  DEFAULT ((0)),
 CONSTRAINT [PK_CACT_User] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
