USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[SQM_NoticeOfDefectMaterial]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SQM_NoticeOfDefectMaterial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Plant] [nvarchar](50) NULL,
	[Notice_No] [nvarchar](50) NULL,
	[Prod] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Prod]  DEFAULT ((0)),
	[Other] [bit] NULL CONSTRAINT [DF_Table_1_To]  DEFAULT ((0)),
	[OtherValue] [nvarchar](50) NULL,
	[PE] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PE]  DEFAULT ((0)),
	[IQC] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_IQC]  DEFAULT ((0)),
	[PPC] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PPC]  DEFAULT ((0)),
	[SQM] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_SQM]  DEFAULT ((0)),
	[PUR] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PUR]  DEFAULT ((0)),
	[Cc] [nvarchar](500) NULL,
	[QAManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_QAManager]  DEFAULT ((0)),
	[PEManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PEManager]  DEFAULT ((0)),
	[PPCManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PPCManager]  DEFAULT ((0)),
	[PDManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PDManager]  DEFAULT ((0)),
	[ProcurementManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PURManager]  DEFAULT ((0)),
	[SQMManager] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_SQMManager]  DEFAULT ((0)),
	[PN] [nvarchar](50) NULL,
	[Vendor] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Related_PN] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Receiving_Date] [nvarchar](50) NULL,
	[Manufacturer_Date] [nvarchar](20) NULL,
	[lot_No] [nvarchar](200) NULL,
	[Consumed_Qty] [nvarchar](50) NULL,
	[Defective_Qty] [nvarchar](50) NULL,
	[Prblem_Description] [nvarchar](max) NULL,
	[Defect_Rate] [nvarchar](50) NULL,
	[Affected_Qty] [nvarchar](50) NULL,
	[Problem_Found] [nvarchar](max) NULL,
	[Attachment] [nvarchar](50) NULL,
	[Process_Affected] [nvarchar](max) NULL,
	[FG_Store] [nvarchar](50) NULL,
	[Etching] [nvarchar](50) NULL,
	[AOI] [nvarchar](50) NULL,
	[Drilling] [nvarchar](50) NULL,
	[ENIG] [nvarchar](50) NULL,
	[Routing] [nvarchar](50) NULL,
	[Pressing] [nvarchar](50) NULL,
	[Immersion_tin] [nvarchar](50) NULL,
	[E_test] [nvarchar](50) NULL,
	[PTH] [nvarchar](50) NULL,
	[ImmersionAg] [nvarchar](50) NULL,
	[FQC] [nvarchar](50) NULL,
	[DFM] [nvarchar](50) NULL,
	[GF] [nvarchar](50) NULL,
	[SMT] [nvarchar](50) NULL,
	[Entek] [nvarchar](50) NULL,
	[HAL] [nvarchar](50) NULL,
	[Others] [nvarchar](50) NULL,
	[Initiator_Userid] [nvarchar](50) NULL,
	[Initiator] [nvarchar](50) NULL,
	[Initiator_Date] [nvarchar](20) NULL,
	[PE_Verification_Userid] [nvarchar](50) NULL,
	[PE_Verification] [nvarchar](50) NULL,
	[PE_Verification_Date] [nvarchar](20) NULL,
	[IQC_Verification_Userid] [nvarchar](50) NULL,
	[IQC_Verification] [nvarchar](50) NULL,
	[IQC_Verification_Date] [nvarchar](20) NULL,
	[Functional_defects] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Functional_defects]  DEFAULT ((0)),
	[Non_functional_defects] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Non_functional_defects]  DEFAULT ((0)),
	[Send_State] [int] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Send_State]  DEFAULT ((0)),
	[scrap_Qty] [nvarchar](50) NULL,
	[CARPM_No] [nvarchar](50) NULL,
	[InvestigationResultandVerification] [nvarchar](max) NULL,
	[Usdisposition] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Usdisposition]  DEFAULT ((0)),
	[UsdispositionValue] [nvarchar](200) NULL,
	[RTV] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_RTV]  DEFAULT ((0)),
	[claimonvendor] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_claimonvendor]  DEFAULT ((0)),
	[Otherdisposition] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_Otherdisposition]  DEFAULT ((0)),
	[OtherdispositionValue] [nvarchar](200) NULL,
	[QA_Manager] [nvarchar](50) NULL,
	[QA_Manager_Date] [varchar](25) NULL,
	[PE_Manager] [nvarchar](50) NULL,
	[PE_Manager_Date] [varchar](25) NULL,
	[PPC_Manager] [nvarchar](50) NULL,
	[PPC_Manager_Date] [varchar](25) NULL,
	[TaskId] [nvarchar](50) NOT NULL,
	[TimeOut] [int] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_TimeOut]  DEFAULT ((0)),
	[PNType] [nvarchar](50) NULL,
	[w1] [nvarchar](50) NULL,
	[w2] [nvarchar](50) NULL,
	[w3] [nvarchar](50) NULL,
	[w4] [nvarchar](50) NULL,
	[w0] [nvarchar](50) NULL,
	[SQMVerifier_Userid] [nvarchar](50) NULL,
	[SQMVerifier] [nvarchar](50) NULL,
	[SQMVerifier_Date] [varchar](25) NULL,
	[IsSTS] [varchar](50) NULL,
	[PUR_Quality_Userid] [nvarchar](50) NULL,
	[PUR_Quality] [int] NULL,
	[PEVerification] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_PEVerification]  DEFAULT ((0)),
	[SQMAttachment] [nvarchar](50) NULL,
	[IsSentSupplit] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_IsSentSupplit]  DEFAULT ((0)),
	[IsSentPlant] [bit] NULL CONSTRAINT [DF_SQM_NoticeOfDefectMaterial_IsSentPlant]  DEFAULT ((0)),
	[RoHS] [nvarchar](50) NULL,
	[HF] [nvarchar](50) NULL,
 CONSTRAINT [PK_SQM_NoticeOfDefectMaterial_1] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
