USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vc_Cost_Sheet_for_gp_TFSBOM421180_group_ontime]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vc_Cost_Sheet_for_gp_TFSBOM421180_group_ontime]
AS 
SELECT * FROM OPENQUERY(AS1P1,'SELECT T$PJNO,T$SERN,SUM(T$BOMC) AS BOM_COST FROM BAAN.TFSBOM421180 GROUP BY T$PJNO,T$SERN')

GO
