USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[vw_IE_Yield]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vw_IE_Yield](
	[plnt] [nchar](2) NULL,
	[pitm] [nchar](16) NULL,
	[ryie] [float] NULL
) ON [PRIMARY]

GO
