USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[IES_DailyOutputEmpty]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IES_DailyOutputEmpty](
	[ImportData] [datetime] NULL
) ON [PRIMARY]

GO
