USE [Multek_ZH]
GO
/****** Object:  View [dbo].[v_scrap_sales_plant_no_use]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_scrap_sales_plant_no_use]
AS
SELECT CASE B.T$LOCA WHEN 1 THEN 'ZHUHAI' WHEN 2 THEN 'HK' END AS LOCATION,
		B.T$YEAR AS FISCAL_YEAR,
		B.T$PRNO AS FISCAL_PERIOD,
		B.T$PLNT AS PLANT,
		B.T$SUNO AS SUPPLIER,
		A.T$ORNO,
		A.T$SQNO,
		B.T$SDAT AS [SELL_DATE],
		CAST((A.T$AMND/1.17) AS DECIMAL(18,2))    AS [AMOUNT(USD) EXCULE TAX],
		CAST((A.T$AMND$ACT/1.17) AS DECIMAL(18,2)) AS [ACTUAL AMOUNT(USD) EXCULE TAX],
		B.T$RMKA AS REMARK 
FROM FACTORYLOADING.DBO.TFSSLS024180 AS A LEFT JOIN FACTORYLOADING.DBO.TFSSLS023180 AS B ON A.T$ORNO = B.T$ORNO
WHERE B.T$STAT >2
GO
