USE [Multek_ZH]
GO
/****** Object:  View [dbo].[Calendar_HKG111]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[Calendar_HKG111] AS
SELECT * FROM HKGNT111.Multek_SZ_New.dbo.Calendar
GO
