USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[TFSATT010180_update]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSATT010180_update](
	[T$ITEM] [char](32) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$CUNI] [char](6) NOT NULL,
	[T$STGU] [char](3) NOT NULL,
	[T$MATS] [char](30) NOT NULL,
	[T$VDPN] [char](30) NOT NULL,
	[T$DDIA] [float] NOT NULL,
	[T$DIUN] [char](3) NOT NULL,
	[T$DFLN] [float] NOT NULL,
	[T$FLUN] [char](3) NOT NULL,
	[T$VDOR] [char](30) NOT NULL,
	[T$MAFR] [char](30) NOT NULL,
	[T$LOCA] [char](30) NOT NULL,
	[T$CTRY] [char](30) NOT NULL,
	[T$WKCR] [char](30) NOT NULL,
	[T$CATG] [char](30) NOT NULL,
	[T$ITGP] [char](30) NOT NULL,
	[T$PUNI] [char](3) NOT NULL,
	[T$MAFA] [char](30) NOT NULL,
	[T$IUB1] [char](30) NOT NULL,
	[T$IUB2] [char](30) NOT NULL,
	[T$IUB3] [char](30) NOT NULL,
	[T$IUB4] [char](30) NOT NULL,
	[T$IUB5] [char](30) NOT NULL,
	[T$IUHK] [char](30) NOT NULL,
	[T$CSIG] [char](3) NOT NULL,
	[T$RLOC] [char](30) NOT NULL,
	[T$FLUQ] [float] NOT NULL,
	[T$ANGL] [float] NOT NULL,
	[T$SUNO] [char](6) NOT NULL,
	[T$IU2F] [char](30) NOT NULL,
	[T$IU12] [char](30) NOT NULL,
	[T$ROHS] [char](30) NOT NULL,
	[T$GPCC] [char](30) NOT NULL,
	[T$STSA] [char](30) NOT NULL,
	[T$STCD] [char](30) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
