USE [Multek_ZH]
GO
/****** Object:  StoredProcedure [dbo].[Cost_sheet_Report_for_MKT_sp_getLogByDate]    Script Date: 2014/11/12 17:12:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[Cost_sheet_Report_for_MKT_sp_getLogByDate]
--	@isDateList bit,
	@startDate datetime,
	@endDate datetime
as

--IF(@ISDATELIST=1)
	BEGIN
		SELECT * FROM COST_SHEET_QUERY_LOGBYDATE WHERE CONVERT(DATETIME,IDATE) BETWEEN @STARTDATE AND @ENDDATE;
	END
--ELSE
	BEGIN
		SELECT CONVERT(DATETIME,IDATE) AS DDATE,IDATE,COUNT(UID) AS NOL FROM COST_SHEET_QUERY_LOGBYDATE 
		WHERE CONVERT(DATETIME,IDATE) BETWEEN @STARTDATE AND @ENDDATE
		GROUP BY IDATE ORDER BY IDATE DESC;
	END



GO
