USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[temp_verify_hubbacklog_fsolp100_bk - delete]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_verify_hubbacklog_fsolp100_bk - delete](
	[T$ORNO] [float] NULL,
	[T$PONO] [float] NULL,
	[T$BAD1] [char](35) NULL,
	[T$BAD2] [char](35) NULL,
	[T$COBA] [char](30) NULL,
	[T$CUNO] [char](6) NULL,
	[T$CUNM] [char](35) NULL,
	[T$CWAR] [char](3) NULL,
	[T$REFA] [char](30) NULL,
	[T$EONO] [char](30) NULL,
	[T$ITEM] [char](32) NULL,
	[T$CUPN] [char](30) NULL,
	[T$PODT] [datetime] NULL,
	[T$DDTA] [datetime] NULL,
	[T$RQDT] [datetime] NULL,
	[T$OQUA] [float] NULL,
	[T$BQUA] [float] NULL,
	[T$CCUR] [char](3) NULL,
	[T$PRIC] [float] NULL,
	[T$AMNT] [float] NULL,
	[T$AREA] [float] NULL,
	[T$ECDT] [char](30) NULL,
	[T$ADDR] [char](30) NULL,
	[T$NAMA] [char](35) NULL,
	[T$CSCO] [char](30) NULL,
	[T$USNM] [char](35) NULL,
	[T$SEGM] [char](30) NULL,
	[T$CDSC] [char](35) NULL,
	[T$STAT] [float] NULL,
	[T$COTP] [char](3) NULL,
	[T$STYP] [char](4) NULL,
	[T$PSPL] [float] NULL,
	[T$PRDN] [char](30) NULL,
	[T$FLEX] [float] NULL,
	[T$ISEG] [char](6) NULL,
	[T$DESC] [char](30) NULL,
	[T$REFCNTD] [float] NULL,
	[T$REFCNTU] [float] NULL,
	[T$DATE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
