USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[AD_Chech_temp]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_Chech_temp](
	[AD] [nvarchar](50) NULL
) ON [PRIMARY]

GO
