USE [Multek_ZH]
GO
/****** Object:  View [dbo].[vw_vote_report_sum_by_plant]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_vote_report_sum_by_plant]
AS
SELECT T1.Plant,E.voteItem,COUNT(*) AS CSUM 
FROM
(
	SELECT A.NUM,B.VOTE_DETAILID,C.VOTEITEM AS Plant 
	FROM DBO.VOTE_ANSWER AS A 
		LEFT JOIN DBO.VOTE_ANSWER	AS B ON A.NUM = B.NUM AND B.VOTENUMBER = 1
		LEFT JOIN DBO.VOTE_DETAILS	AS C ON C.VOTE_DETAILID = A.VOTE_DETAILID AND C.VOTENUMBER = 3
	WHERE A.VOTENUMBER = 3
) AS T1 
LEFT JOIN DBO.VOTE_DETAILS	AS E ON E.VOTE_DETAILID = T1.VOTE_DETAILID AND E.VOTENUMBER = 1
GROUP BY T1.Plant,E.voteItem

GO
