USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[MRBST_Suggestion]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MRBST_Suggestion](
	[SuggestionType] [varchar](50) NOT NULL,
	[SuggestionString] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
