USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[KOI_Technology_mapping]    Script Date: 2014/11/12 17:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KOI_Technology_mapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Technology] [char](30) NULL,
	[Group_display] [nvarchar](50) NULL,
 CONSTRAINT [PK_KOI_Technology_mapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Technology] UNIQUE NONCLUSTERED 
(
	[Technology] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [GroupDisplay]    Script Date: 2014/11/12 17:12:19 ******/
CREATE NONCLUSTERED INDEX [GroupDisplay] ON [dbo].[KOI_Technology_mapping]
(
	[Group_display] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
