USE [Multek_ZH]
GO
/****** Object:  StoredProcedure [dbo].[sp_MSupd_dboTFSOLP102180]    Script Date: 2014/11/12 17:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MSupd_dboTFSOLP102180]
		@c1 char(30) = NULL,
		@c2 float = NULL,
		@c3 float = NULL,
		@c4 float = NULL,
		@c5 float = NULL,
		@c6 float = NULL,
		@c7 datetime = NULL,
		@c8 datetime = NULL,
		@c9 datetime = NULL,
		@c10 float = NULL,
		@c11 datetime = NULL,
		@c12 char(6) = NULL,
		@c13 char(35) = NULL,
		@c14 char(30) = NULL,
		@c15 char(35) = NULL,
		@c16 char(6) = NULL,
		@c17 char(35) = NULL,
		@c18 char(30) = NULL,
		@c19 char(8) = NULL,
		@c20 char(30) = NULL,
		@c21 datetime = NULL,
		@c22 datetime = NULL,
		@c23 char(30) = NULL,
		@c24 char(30) = NULL,
		@c25 float = NULL,
		@c26 float = NULL,
		@c27 float = NULL,
		@c28 float = NULL,
		@c29 float = NULL,
		@c30 float = NULL,
		@c31 float = NULL,
		@c32 float = NULL,
		@c33 float = NULL,
		@c34 float = NULL,
		@c35 float = NULL,
		@c36 float = NULL,
		@c37 float = NULL,
		@c38 float = NULL,
		@c39 float = NULL,
		@c40 float = NULL,
		@c41 datetime = NULL,
		@c42 float = NULL,
		@c43 char(3) = NULL,
		@c44 float = NULL,
		@c45 float = NULL,
		@c46 char(30) = NULL,
		@c47 char(5) = NULL,
		@c48 char(30) = NULL,
		@c49 char(6) = NULL,
		@c50 char(30) = NULL,
		@c51 float = NULL,
		@c52 char(16) = NULL,
		@c53 char(30) = NULL,
		@c54 char(35) = NULL,
		@c55 char(30) = NULL,
		@c56 char(30) = NULL,
		@c57 char(4) = NULL,
		@c58 char(30) = NULL,
		@c59 float = NULL,
		@c60 float = NULL,
		@c61 float = NULL,
		@c62 float = NULL,
		@c63 float = NULL,
		@c64 float = NULL,
		@c65 float = NULL,
		@c66 float = NULL,
		@c67 char(30) = NULL,
		@c68 char(30) = NULL,
		@c69 float = NULL,
		@c70 float = NULL,
		@c71 float = NULL,
		@c72 float = NULL,
		@c73 float = NULL,
		@c74 float = NULL,
		@c75 float = NULL,
		@c76 float = NULL,
		@c77 float = NULL,
		@c78 char(6) = NULL,
		@c79 char(30) = NULL,
		@c80 float = NULL,
		@c81 float = NULL,
		@c82 float = NULL,
		@c83 float = NULL,
		@c84 char(30) = NULL,
		@c85 float = NULL,
		@c86 float = NULL,
		@c87 char(30) = NULL,
		@c88 float = NULL,
		@c89 float = NULL,
		@c90 float = NULL,
		@c91 float = NULL,
		@c92 float = NULL,
		@c93 float = NULL,
		@c94 float = NULL,
		@c95 float = NULL,
		@c96 float = NULL,
		@c97 float = NULL,
		@c98 float = NULL,
		@c99 float = NULL,
		@c100 float = NULL,
		@c101 char(32) = NULL,
		@c102 datetime = NULL,
		@c103 float = NULL,
		@c104 char(2) = NULL,
		@c105 char(30) = NULL,
		@c106 char(35) = NULL,
		@c107 char(35) = NULL,
		@c108 char(30) = NULL,
		@c109 char(3) = NULL,
		@c110 char(3) = NULL,
		@c111 datetime = NULL,
		@c112 datetime = NULL,
		@c113 char(3) = NULL,
		@c114 float = NULL,
		@c115 char(30) = NULL,
		@c116 char(30) = NULL,
		@c117 char(30) = NULL,
		@c118 char(35) = NULL,
		@c119 char(4) = NULL,
		@c120 char(30) = NULL,
		@c121 datetime = NULL,
		@c122 float = NULL,
		@c123 char(30) = NULL,
		@c124 float = NULL,
		@c125 char(6) = NULL,
		@c126 char(30) = NULL,
		@c127 char(3) = NULL,
		@c128 char(30) = NULL,
		@c129 char(30) = NULL,
		@c130 char(30) = NULL,
		@c131 char(30) = NULL,
		@c132 char(30) = NULL,
		@c133 char(30) = NULL,
		@c134 char(10) = NULL,
		@c135 char(3) = NULL,
		@c136 char(5) = NULL,
		@c137 char(6) = NULL,
		@c138 float = NULL,
		@c139 float = NULL,
		@pkc1 float = NULL,
		@pkc2 float = NULL,
		@pkc3 float = NULL,
		@pkc4 float = NULL,
		@bitmap binary(18)
as
begin  
if (substring(@bitmap,1,1) & 2 = 2) or
 (substring(@bitmap,1,1) & 4 = 4) or
 (substring(@bitmap,1,1) & 8 = 8) or
 (substring(@bitmap,1,1) & 16 = 16)
begin 
update [dbo].[TFSOLP102180] set
		[T$LOCA] = case substring(@bitmap,1,1) & 1 when 1 then @c1 else [T$LOCA] end,
		[T$ORNO] = case substring(@bitmap,1,1) & 2 when 2 then @c2 else [T$ORNO] end,
		[T$PONO] = case substring(@bitmap,1,1) & 4 when 4 then @c3 else [T$PONO] end,
		[T$SRNB] = case substring(@bitmap,1,1) & 8 when 8 then @c4 else [T$SRNB] end,
		[T$COMP] = case substring(@bitmap,1,1) & 16 when 16 then @c5 else [T$COMP] end,
		[T$DRCT] = case substring(@bitmap,1,1) & 32 when 32 then @c6 else [T$DRCT] end,
		[T$INVD] = case substring(@bitmap,1,1) & 64 when 64 then @c7 else [T$INVD] end,
		[T$DDAT] = case substring(@bitmap,1,1) & 128 when 128 then @c8 else [T$DDAT] end,
		[T$S1DA] = case substring(@bitmap,2,1) & 1 when 1 then @c9 else [T$S1DA] end,
		[T$SH11] = case substring(@bitmap,2,1) & 2 when 2 then @c10 else [T$SH11] end,
		[T$SHTM] = case substring(@bitmap,2,1) & 4 when 4 then @c11 else [T$SHTM] end,
		[T$CUST] = case substring(@bitmap,2,1) & 8 when 8 then @c12 else [T$CUST] end,
		[T$BAD1] = case substring(@bitmap,2,1) & 16 when 16 then @c13 else [T$BAD1] end,
		[T$SHCU] = case substring(@bitmap,2,1) & 32 when 32 then @c14 else [T$SHCU] end,
		[T$SHCN] = case substring(@bitmap,2,1) & 64 when 64 then @c15 else [T$SHCN] end,
		[T$CUNO] = case substring(@bitmap,2,1) & 128 when 128 then @c16 else [T$CUNO] end,
		[T$INSN] = case substring(@bitmap,3,1) & 1 when 1 then @c17 else [T$INSN] end,
		[T$EONO] = case substring(@bitmap,3,1) & 2 when 2 then @c18 else [T$EONO] end,
		[T$BUSN] = case substring(@bitmap,3,1) & 4 when 4 then @c19 else [T$BUSN] end,
		[T$SEGM] = case substring(@bitmap,3,1) & 8 when 8 then @c20 else [T$SEGM] end,
		[T$DUDT] = case substring(@bitmap,3,1) & 16 when 16 then @c21 else [T$DUDT] end,
		[T$DODT] = case substring(@bitmap,3,1) & 32 when 32 then @c22 else [T$DODT] end,
		[T$CUPN] = case substring(@bitmap,3,1) & 64 when 64 then @c23 else [T$CUPN] end,
		[T$PARV] = case substring(@bitmap,3,1) & 128 when 128 then @c24 else [T$PARV] end,
		[T$CPID] = case substring(@bitmap,4,1) & 1 when 1 then @c25 else [T$CPID] end,
		[T$PRIY] = case substring(@bitmap,4,1) & 2 when 2 then @c26 else [T$PRIY] end,
		[T$ORDS] = case substring(@bitmap,4,1) & 4 when 4 then @c27 else [T$ORDS] end,
		[T$DQUA] = case substring(@bitmap,4,1) & 8 when 8 then @c28 else [T$DQUA] end,
		[T$AMNT] = case substring(@bitmap,4,1) & 16 when 16 then @c29 else [T$AMNT] end,
		[T$NREE] = case substring(@bitmap,4,1) & 32 when 32 then @c30 else [T$NREE] end,
		[T$TSAL] = case substring(@bitmap,4,1) & 64 when 64 then @c31 else [T$TSAL] end,
		[T$PRIC] = case substring(@bitmap,4,1) & 128 when 128 then @c32 else [T$PRIC] end,
		[T$COST] = case substring(@bitmap,5,1) & 1 when 1 then @c33 else [T$COST] end,
		[T$PROF] = case substring(@bitmap,5,1) & 2 when 2 then @c34 else [T$PROF] end,
		[T$UPRI] = case substring(@bitmap,5,1) & 4 when 4 then @c35 else [T$UPRI] end,
		[T$PRIP] = case substring(@bitmap,5,1) & 8 when 8 then @c36 else [T$PRIP] end,
		[T$COSP] = case substring(@bitmap,5,1) & 16 when 16 then @c37 else [T$COSP] end,
		[T$PROP] = case substring(@bitmap,5,1) & 32 when 32 then @c38 else [T$PROP] end,
		[T$PROT] = case substring(@bitmap,5,1) & 64 when 64 then @c39 else [T$PROT] end,
		[T$PROI] = case substring(@bitmap,5,1) & 128 when 128 then @c40 else [T$PROI] end,
		[T$SODT] = case substring(@bitmap,6,1) & 1 when 1 then @c41 else [T$SODT] end,
		[T$SOTM] = case substring(@bitmap,6,1) & 2 when 2 then @c42 else [T$SOTM] end,
		[T$COTP] = case substring(@bitmap,6,1) & 4 when 4 then @c43 else [T$COTP] end,
		[T$ORDT] = case substring(@bitmap,6,1) & 8 when 8 then @c44 else [T$ORDT] end,
		[T$INNU] = case substring(@bitmap,6,1) & 16 when 16 then @c45 else [T$INNU] end,
		[T$NAMA] = case substring(@bitmap,6,1) & 32 when 32 then @c46 else [T$NAMA] end,
		[T$ORNU] = case substring(@bitmap,6,1) & 64 when 64 then @c47 else [T$ORNU] end,
		[T$USNM] = case substring(@bitmap,6,1) & 128 when 128 then @c48 else [T$USNM] end,
		[T$CONN] = case substring(@bitmap,7,1) & 1 when 1 then @c49 else [T$CONN] end,
		[T$CONA] = case substring(@bitmap,7,1) & 2 when 2 then @c50 else [T$CONA] end,
		[T$RATS] = case substring(@bitmap,7,1) & 4 when 4 then @c51 else [T$RATS] end,
		[T$PRON] = case substring(@bitmap,7,1) & 8 when 8 then @c52 else [T$PRON] end,
		[T$OEMM] = case substring(@bitmap,7,1) & 16 when 16 then @c53 else [T$OEMM] end,
		[T$ENDC] = case substring(@bitmap,7,1) & 32 when 32 then @c54 else [T$ENDC] end,
		[T$CARR] = case substring(@bitmap,7,1) & 64 when 64 then @c55 else [T$CARR] end,
		[T$TRAN] = case substring(@bitmap,7,1) & 128 when 128 then @c56 else [T$TRAN] end,
		[T$LAYS] = case substring(@bitmap,8,1) & 1 when 1 then @c57 else [T$LAYS] end,
		[T$SELC] = case substring(@bitmap,8,1) & 2 when 2 then @c58 else [T$SELC] end,
		[T$SHPA] = case substring(@bitmap,8,1) & 4 when 4 then @c59 else [T$SHPA] end,
		[T$SHLY] = case substring(@bitmap,8,1) & 8 when 8 then @c60 else [T$SHLY] end,
		[T$WIDB] = case substring(@bitmap,8,1) & 16 when 16 then @c61 else [T$WIDB] end,
		[T$LENB] = case substring(@bitmap,8,1) & 32 when 32 then @c62 else [T$LENB] end,
		[T$AREB] = case substring(@bitmap,8,1) & 64 when 64 then @c63 else [T$AREB] end,
		[T$WIDP] = case substring(@bitmap,8,1) & 128 when 128 then @c64 else [T$WIDP] end,
		[T$LENP] = case substring(@bitmap,9,1) & 1 when 1 then @c65 else [T$LENP] end,
		[T$AREP] = case substring(@bitmap,9,1) & 2 when 2 then @c66 else [T$AREP] end,
		[T$SUBS] = case substring(@bitmap,9,1) & 4 when 4 then @c67 else [T$SUBS] end,
		[T$BASM] = case substring(@bitmap,9,1) & 8 when 8 then @c68 else [T$BASM] end,
		[T$HOLB] = case substring(@bitmap,9,1) & 16 when 16 then @c69 else [T$HOLB] end,
		[T$HOLP] = case substring(@bitmap,9,1) & 32 when 32 then @c70 else [T$HOLP] end,
		[T$SMAH] = case substring(@bitmap,9,1) & 64 when 64 then @c71 else [T$SMAH] end,
		[T$THIC] = case substring(@bitmap,9,1) & 128 when 128 then @c72 else [T$THIC] end,
		[T$ASPR] = case substring(@bitmap,10,1) & 1 when 1 then @c73 else [T$ASPR] end,
		[T$SHBD] = case substring(@bitmap,10,1) & 2 when 2 then @c74 else [T$SHBD] end,
		[T$SHDD] = case substring(@bitmap,10,1) & 4 when 4 then @c75 else [T$SHDD] end,
		[T$SHAY] = case substring(@bitmap,10,1) & 8 when 8 then @c76 else [T$SHAY] end,
		[T$SHDL] = case substring(@bitmap,10,1) & 16 when 16 then @c77 else [T$SHDL] end,
		[T$ATLC] = case substring(@bitmap,10,1) & 32 when 32 then @c78 else [T$ATLC] end,
		[T$SHPN] = case substring(@bitmap,10,1) & 64 when 64 then @c79 else [T$SHPN] end,
		[T$UPAR] = case substring(@bitmap,10,1) & 128 when 128 then @c80 else [T$UPAR] end,
		[T$BRAR] = case substring(@bitmap,11,1) & 1 when 1 then @c81 else [T$BRAR] end,
		[T$UARE] = case substring(@bitmap,11,1) & 2 when 2 then @c82 else [T$UARE] end,
		[T$CRRT] = case substring(@bitmap,11,1) & 4 when 4 then @c83 else [T$CRRT] end,
		[T$INVB] = case substring(@bitmap,11,1) & 8 when 8 then @c84 else [T$INVB] end,
		[T$INVN] = case substring(@bitmap,11,1) & 16 when 16 then @c85 else [T$INVN] end,
		[T$CPRT] = case substring(@bitmap,11,1) & 32 when 32 then @c86 else [T$CPRT] end,
		[T$PRTP] = case substring(@bitmap,11,1) & 64 when 64 then @c87 else [T$PRTP] end,
		[T$SOSE] = case substring(@bitmap,11,1) & 128 when 128 then @c88 else [T$SOSE] end,
		[T$SHDO] = case substring(@bitmap,12,1) & 1 when 1 then @c89 else [T$SHDO] end,
		[T$NREL] = case substring(@bitmap,12,1) & 2 when 2 then @c90 else [T$NREL] end,
		[T$ITLS] = case substring(@bitmap,12,1) & 4 when 4 then @c91 else [T$ITLS] end,
		[T$PRIB] = case substring(@bitmap,12,1) & 8 when 8 then @c92 else [T$PRIB] end,
		[T$COSL] = case substring(@bitmap,12,1) & 16 when 16 then @c93 else [T$COSL] end,
		[T$PROL] = case substring(@bitmap,12,1) & 32 when 32 then @c94 else [T$PROL] end,
		[T$PRIL] = case substring(@bitmap,12,1) & 64 when 64 then @c95 else [T$PRIL] end,
		[T$COPL] = case substring(@bitmap,12,1) & 128 when 128 then @c96 else [T$COPL] end,
		[T$PRPL] = case substring(@bitmap,13,1) & 1 when 1 then @c97 else [T$PRPL] end,
		[T$PRFP] = case substring(@bitmap,13,1) & 2 when 2 then @c98 else [T$PRFP] end,
		[T$PRFL] = case substring(@bitmap,13,1) & 4 when 4 then @c99 else [T$PRFL] end,
		[T$SHOC] = case substring(@bitmap,13,1) & 8 when 8 then @c100 else [T$SHOC] end,
		[T$ITEM] = case substring(@bitmap,13,1) & 16 when 16 then @c101 else [T$ITEM] end,
		[T$SHDT] = case substring(@bitmap,13,1) & 32 when 32 then @c102 else [T$SHDT] end,
		[T$SHID] = case substring(@bitmap,13,1) & 64 when 64 then @c103 else [T$SHID] end,
		[T$PLNT] = case substring(@bitmap,13,1) & 128 when 128 then @c104 else [T$PLNT] end,
		[T$BUSU] = case substring(@bitmap,14,1) & 1 when 1 then @c105 else [T$BUSU] end,
		[T$CUNM] = case substring(@bitmap,14,1) & 2 when 2 then @c106 else [T$CUNM] end,
		[T$BAD2] = case substring(@bitmap,14,1) & 4 when 4 then @c107 else [T$BAD2] end,
		[T$COBA] = case substring(@bitmap,14,1) & 8 when 8 then @c108 else [T$COBA] end,
		[T$CWAR] = case substring(@bitmap,14,1) & 16 when 16 then @c109 else [T$CWAR] end,
		[T$TTYP] = case substring(@bitmap,14,1) & 32 when 32 then @c110 else [T$TTYP] end,
		[T$PODT] = case substring(@bitmap,14,1) & 64 when 64 then @c111 else [T$PODT] end,
		[T$RQDT] = case substring(@bitmap,14,1) & 128 when 128 then @c112 else [T$RQDT] end,
		[T$CCUR] = case substring(@bitmap,15,1) & 1 when 1 then @c113 else [T$CCUR] end,
		[T$AREA] = case substring(@bitmap,15,1) & 2 when 2 then @c114 else [T$AREA] end,
		[T$REFA] = case substring(@bitmap,15,1) & 4 when 4 then @c115 else [T$REFA] end,
		[T$CODA] = case substring(@bitmap,15,1) & 8 when 8 then @c116 else [T$CODA] end,
		[T$CSCO] = case substring(@bitmap,15,1) & 16 when 16 then @c117 else [T$CSCO] end,
		[T$CDSC] = case substring(@bitmap,15,1) & 32 when 32 then @c118 else [T$CDSC] end,
		[T$STYP] = case substring(@bitmap,15,1) & 64 when 64 then @c119 else [T$STYP] end,
		[T$FIDS] = case substring(@bitmap,15,1) & 128 when 128 then @c120 else [T$FIDS] end,
		[T$FLDT] = case substring(@bitmap,16,1) & 1 when 1 then @c121 else [T$FLDT] end,
		[T$PSPL] = case substring(@bitmap,16,1) & 2 when 2 then @c122 else [T$PSPL] end,
		[T$PRDN] = case substring(@bitmap,16,1) & 4 when 4 then @c123 else [T$PRDN] end,
		[T$FLEX] = case substring(@bitmap,16,1) & 8 when 8 then @c124 else [T$FLEX] end,
		[T$ISEG] = case substring(@bitmap,16,1) & 16 when 16 then @c125 else [T$ISEG] end,
		[T$DESC] = case substring(@bitmap,16,1) & 32 when 32 then @c126 else [T$DESC] end,
		[T$CDEL] = case substring(@bitmap,16,1) & 64 when 64 then @c127 else [T$CDEL] end,
		[T$OTYP] = case substring(@bitmap,16,1) & 128 when 128 then @c128 else [T$OTYP] end,
		[T$NAMB] = case substring(@bitmap,17,1) & 1 when 1 then @c129 else [T$NAMB] end,
		[T$NAMC] = case substring(@bitmap,17,1) & 2 when 2 then @c130 else [T$NAMC] end,
		[T$NAMD] = case substring(@bitmap,17,1) & 4 when 4 then @c131 else [T$NAMD] end,
		[T$NAME] = case substring(@bitmap,17,1) & 8 when 8 then @c132 else [T$NAME] end,
		[T$NAMF] = case substring(@bitmap,17,1) & 16 when 16 then @c133 else [T$NAMF] end,
		[T$PSTC] = case substring(@bitmap,17,1) & 32 when 32 then @c134 else [T$PSTC] end,
		[T$CCTY] = case substring(@bitmap,17,1) & 64 when 64 then @c135 else [T$CCTY] end,
		[T$CRTE] = case substring(@bitmap,17,1) & 128 when 128 then @c136 else [T$CRTE] end,
		[T$CADR] = case substring(@bitmap,18,1) & 1 when 1 then @c137 else [T$CADR] end,
		[T$REFCNTD] = case substring(@bitmap,18,1) & 2 when 2 then @c138 else [T$REFCNTD] end,
		[T$REFCNTU] = case substring(@bitmap,18,1) & 4 when 4 then @c139 else [T$REFCNTU] end
where [T$ORNO] = @pkc1
  and [T$PONO] = @pkc2
  and [T$SRNB] = @pkc3
  and [T$COMP] = @pkc4
if @@rowcount = 0
    if @@microsoftversion>0x07320000
        exec sp_MSreplraiserror 20598
end  
else
begin 
update [dbo].[TFSOLP102180] set
		[T$LOCA] = case substring(@bitmap,1,1) & 1 when 1 then @c1 else [T$LOCA] end,
		[T$DRCT] = case substring(@bitmap,1,1) & 32 when 32 then @c6 else [T$DRCT] end,
		[T$INVD] = case substring(@bitmap,1,1) & 64 when 64 then @c7 else [T$INVD] end,
		[T$DDAT] = case substring(@bitmap,1,1) & 128 when 128 then @c8 else [T$DDAT] end,
		[T$S1DA] = case substring(@bitmap,2,1) & 1 when 1 then @c9 else [T$S1DA] end,
		[T$SH11] = case substring(@bitmap,2,1) & 2 when 2 then @c10 else [T$SH11] end,
		[T$SHTM] = case substring(@bitmap,2,1) & 4 when 4 then @c11 else [T$SHTM] end,
		[T$CUST] = case substring(@bitmap,2,1) & 8 when 8 then @c12 else [T$CUST] end,
		[T$BAD1] = case substring(@bitmap,2,1) & 16 when 16 then @c13 else [T$BAD1] end,
		[T$SHCU] = case substring(@bitmap,2,1) & 32 when 32 then @c14 else [T$SHCU] end,
		[T$SHCN] = case substring(@bitmap,2,1) & 64 when 64 then @c15 else [T$SHCN] end,
		[T$CUNO] = case substring(@bitmap,2,1) & 128 when 128 then @c16 else [T$CUNO] end,
		[T$INSN] = case substring(@bitmap,3,1) & 1 when 1 then @c17 else [T$INSN] end,
		[T$EONO] = case substring(@bitmap,3,1) & 2 when 2 then @c18 else [T$EONO] end,
		[T$BUSN] = case substring(@bitmap,3,1) & 4 when 4 then @c19 else [T$BUSN] end,
		[T$SEGM] = case substring(@bitmap,3,1) & 8 when 8 then @c20 else [T$SEGM] end,
		[T$DUDT] = case substring(@bitmap,3,1) & 16 when 16 then @c21 else [T$DUDT] end,
		[T$DODT] = case substring(@bitmap,3,1) & 32 when 32 then @c22 else [T$DODT] end,
		[T$CUPN] = case substring(@bitmap,3,1) & 64 when 64 then @c23 else [T$CUPN] end,
		[T$PARV] = case substring(@bitmap,3,1) & 128 when 128 then @c24 else [T$PARV] end,
		[T$CPID] = case substring(@bitmap,4,1) & 1 when 1 then @c25 else [T$CPID] end,
		[T$PRIY] = case substring(@bitmap,4,1) & 2 when 2 then @c26 else [T$PRIY] end,
		[T$ORDS] = case substring(@bitmap,4,1) & 4 when 4 then @c27 else [T$ORDS] end,
		[T$DQUA] = case substring(@bitmap,4,1) & 8 when 8 then @c28 else [T$DQUA] end,
		[T$AMNT] = case substring(@bitmap,4,1) & 16 when 16 then @c29 else [T$AMNT] end,
		[T$NREE] = case substring(@bitmap,4,1) & 32 when 32 then @c30 else [T$NREE] end,
		[T$TSAL] = case substring(@bitmap,4,1) & 64 when 64 then @c31 else [T$TSAL] end,
		[T$PRIC] = case substring(@bitmap,4,1) & 128 when 128 then @c32 else [T$PRIC] end,
		[T$COST] = case substring(@bitmap,5,1) & 1 when 1 then @c33 else [T$COST] end,
		[T$PROF] = case substring(@bitmap,5,1) & 2 when 2 then @c34 else [T$PROF] end,
		[T$UPRI] = case substring(@bitmap,5,1) & 4 when 4 then @c35 else [T$UPRI] end,
		[T$PRIP] = case substring(@bitmap,5,1) & 8 when 8 then @c36 else [T$PRIP] end,
		[T$COSP] = case substring(@bitmap,5,1) & 16 when 16 then @c37 else [T$COSP] end,
		[T$PROP] = case substring(@bitmap,5,1) & 32 when 32 then @c38 else [T$PROP] end,
		[T$PROT] = case substring(@bitmap,5,1) & 64 when 64 then @c39 else [T$PROT] end,
		[T$PROI] = case substring(@bitmap,5,1) & 128 when 128 then @c40 else [T$PROI] end,
		[T$SODT] = case substring(@bitmap,6,1) & 1 when 1 then @c41 else [T$SODT] end,
		[T$SOTM] = case substring(@bitmap,6,1) & 2 when 2 then @c42 else [T$SOTM] end,
		[T$COTP] = case substring(@bitmap,6,1) & 4 when 4 then @c43 else [T$COTP] end,
		[T$ORDT] = case substring(@bitmap,6,1) & 8 when 8 then @c44 else [T$ORDT] end,
		[T$INNU] = case substring(@bitmap,6,1) & 16 when 16 then @c45 else [T$INNU] end,
		[T$NAMA] = case substring(@bitmap,6,1) & 32 when 32 then @c46 else [T$NAMA] end,
		[T$ORNU] = case substring(@bitmap,6,1) & 64 when 64 then @c47 else [T$ORNU] end,
		[T$USNM] = case substring(@bitmap,6,1) & 128 when 128 then @c48 else [T$USNM] end,
		[T$CONN] = case substring(@bitmap,7,1) & 1 when 1 then @c49 else [T$CONN] end,
		[T$CONA] = case substring(@bitmap,7,1) & 2 when 2 then @c50 else [T$CONA] end,
		[T$RATS] = case substring(@bitmap,7,1) & 4 when 4 then @c51 else [T$RATS] end,
		[T$PRON] = case substring(@bitmap,7,1) & 8 when 8 then @c52 else [T$PRON] end,
		[T$OEMM] = case substring(@bitmap,7,1) & 16 when 16 then @c53 else [T$OEMM] end,
		[T$ENDC] = case substring(@bitmap,7,1) & 32 when 32 then @c54 else [T$ENDC] end,
		[T$CARR] = case substring(@bitmap,7,1) & 64 when 64 then @c55 else [T$CARR] end,
		[T$TRAN] = case substring(@bitmap,7,1) & 128 when 128 then @c56 else [T$TRAN] end,
		[T$LAYS] = case substring(@bitmap,8,1) & 1 when 1 then @c57 else [T$LAYS] end,
		[T$SELC] = case substring(@bitmap,8,1) & 2 when 2 then @c58 else [T$SELC] end,
		[T$SHPA] = case substring(@bitmap,8,1) & 4 when 4 then @c59 else [T$SHPA] end,
		[T$SHLY] = case substring(@bitmap,8,1) & 8 when 8 then @c60 else [T$SHLY] end,
		[T$WIDB] = case substring(@bitmap,8,1) & 16 when 16 then @c61 else [T$WIDB] end,
		[T$LENB] = case substring(@bitmap,8,1) & 32 when 32 then @c62 else [T$LENB] end,
		[T$AREB] = case substring(@bitmap,8,1) & 64 when 64 then @c63 else [T$AREB] end,
		[T$WIDP] = case substring(@bitmap,8,1) & 128 when 128 then @c64 else [T$WIDP] end,
		[T$LENP] = case substring(@bitmap,9,1) & 1 when 1 then @c65 else [T$LENP] end,
		[T$AREP] = case substring(@bitmap,9,1) & 2 when 2 then @c66 else [T$AREP] end,
		[T$SUBS] = case substring(@bitmap,9,1) & 4 when 4 then @c67 else [T$SUBS] end,
		[T$BASM] = case substring(@bitmap,9,1) & 8 when 8 then @c68 else [T$BASM] end,
		[T$HOLB] = case substring(@bitmap,9,1) & 16 when 16 then @c69 else [T$HOLB] end,
		[T$HOLP] = case substring(@bitmap,9,1) & 32 when 32 then @c70 else [T$HOLP] end,
		[T$SMAH] = case substring(@bitmap,9,1) & 64 when 64 then @c71 else [T$SMAH] end,
		[T$THIC] = case substring(@bitmap,9,1) & 128 when 128 then @c72 else [T$THIC] end,
		[T$ASPR] = case substring(@bitmap,10,1) & 1 when 1 then @c73 else [T$ASPR] end,
		[T$SHBD] = case substring(@bitmap,10,1) & 2 when 2 then @c74 else [T$SHBD] end,
		[T$SHDD] = case substring(@bitmap,10,1) & 4 when 4 then @c75 else [T$SHDD] end,
		[T$SHAY] = case substring(@bitmap,10,1) & 8 when 8 then @c76 else [T$SHAY] end,
		[T$SHDL] = case substring(@bitmap,10,1) & 16 when 16 then @c77 else [T$SHDL] end,
		[T$ATLC] = case substring(@bitmap,10,1) & 32 when 32 then @c78 else [T$ATLC] end,
		[T$SHPN] = case substring(@bitmap,10,1) & 64 when 64 then @c79 else [T$SHPN] end,
		[T$UPAR] = case substring(@bitmap,10,1) & 128 when 128 then @c80 else [T$UPAR] end,
		[T$BRAR] = case substring(@bitmap,11,1) & 1 when 1 then @c81 else [T$BRAR] end,
		[T$UARE] = case substring(@bitmap,11,1) & 2 when 2 then @c82 else [T$UARE] end,
		[T$CRRT] = case substring(@bitmap,11,1) & 4 when 4 then @c83 else [T$CRRT] end,
		[T$INVB] = case substring(@bitmap,11,1) & 8 when 8 then @c84 else [T$INVB] end,
		[T$INVN] = case substring(@bitmap,11,1) & 16 when 16 then @c85 else [T$INVN] end,
		[T$CPRT] = case substring(@bitmap,11,1) & 32 when 32 then @c86 else [T$CPRT] end,
		[T$PRTP] = case substring(@bitmap,11,1) & 64 when 64 then @c87 else [T$PRTP] end,
		[T$SOSE] = case substring(@bitmap,11,1) & 128 when 128 then @c88 else [T$SOSE] end,
		[T$SHDO] = case substring(@bitmap,12,1) & 1 when 1 then @c89 else [T$SHDO] end,
		[T$NREL] = case substring(@bitmap,12,1) & 2 when 2 then @c90 else [T$NREL] end,
		[T$ITLS] = case substring(@bitmap,12,1) & 4 when 4 then @c91 else [T$ITLS] end,
		[T$PRIB] = case substring(@bitmap,12,1) & 8 when 8 then @c92 else [T$PRIB] end,
		[T$COSL] = case substring(@bitmap,12,1) & 16 when 16 then @c93 else [T$COSL] end,
		[T$PROL] = case substring(@bitmap,12,1) & 32 when 32 then @c94 else [T$PROL] end,
		[T$PRIL] = case substring(@bitmap,12,1) & 64 when 64 then @c95 else [T$PRIL] end,
		[T$COPL] = case substring(@bitmap,12,1) & 128 when 128 then @c96 else [T$COPL] end,
		[T$PRPL] = case substring(@bitmap,13,1) & 1 when 1 then @c97 else [T$PRPL] end,
		[T$PRFP] = case substring(@bitmap,13,1) & 2 when 2 then @c98 else [T$PRFP] end,
		[T$PRFL] = case substring(@bitmap,13,1) & 4 when 4 then @c99 else [T$PRFL] end,
		[T$SHOC] = case substring(@bitmap,13,1) & 8 when 8 then @c100 else [T$SHOC] end,
		[T$ITEM] = case substring(@bitmap,13,1) & 16 when 16 then @c101 else [T$ITEM] end,
		[T$SHDT] = case substring(@bitmap,13,1) & 32 when 32 then @c102 else [T$SHDT] end,
		[T$SHID] = case substring(@bitmap,13,1) & 64 when 64 then @c103 else [T$SHID] end,
		[T$PLNT] = case substring(@bitmap,13,1) & 128 when 128 then @c104 else [T$PLNT] end,
		[T$BUSU] = case substring(@bitmap,14,1) & 1 when 1 then @c105 else [T$BUSU] end,
		[T$CUNM] = case substring(@bitmap,14,1) & 2 when 2 then @c106 else [T$CUNM] end,
		[T$BAD2] = case substring(@bitmap,14,1) & 4 when 4 then @c107 else [T$BAD2] end,
		[T$COBA] = case substring(@bitmap,14,1) & 8 when 8 then @c108 else [T$COBA] end,
		[T$CWAR] = case substring(@bitmap,14,1) & 16 when 16 then @c109 else [T$CWAR] end,
		[T$TTYP] = case substring(@bitmap,14,1) & 32 when 32 then @c110 else [T$TTYP] end,
		[T$PODT] = case substring(@bitmap,14,1) & 64 when 64 then @c111 else [T$PODT] end,
		[T$RQDT] = case substring(@bitmap,14,1) & 128 when 128 then @c112 else [T$RQDT] end,
		[T$CCUR] = case substring(@bitmap,15,1) & 1 when 1 then @c113 else [T$CCUR] end,
		[T$AREA] = case substring(@bitmap,15,1) & 2 when 2 then @c114 else [T$AREA] end,
		[T$REFA] = case substring(@bitmap,15,1) & 4 when 4 then @c115 else [T$REFA] end,
		[T$CODA] = case substring(@bitmap,15,1) & 8 when 8 then @c116 else [T$CODA] end,
		[T$CSCO] = case substring(@bitmap,15,1) & 16 when 16 then @c117 else [T$CSCO] end,
		[T$CDSC] = case substring(@bitmap,15,1) & 32 when 32 then @c118 else [T$CDSC] end,
		[T$STYP] = case substring(@bitmap,15,1) & 64 when 64 then @c119 else [T$STYP] end,
		[T$FIDS] = case substring(@bitmap,15,1) & 128 when 128 then @c120 else [T$FIDS] end,
		[T$FLDT] = case substring(@bitmap,16,1) & 1 when 1 then @c121 else [T$FLDT] end,
		[T$PSPL] = case substring(@bitmap,16,1) & 2 when 2 then @c122 else [T$PSPL] end,
		[T$PRDN] = case substring(@bitmap,16,1) & 4 when 4 then @c123 else [T$PRDN] end,
		[T$FLEX] = case substring(@bitmap,16,1) & 8 when 8 then @c124 else [T$FLEX] end,
		[T$ISEG] = case substring(@bitmap,16,1) & 16 when 16 then @c125 else [T$ISEG] end,
		[T$DESC] = case substring(@bitmap,16,1) & 32 when 32 then @c126 else [T$DESC] end,
		[T$CDEL] = case substring(@bitmap,16,1) & 64 when 64 then @c127 else [T$CDEL] end,
		[T$OTYP] = case substring(@bitmap,16,1) & 128 when 128 then @c128 else [T$OTYP] end,
		[T$NAMB] = case substring(@bitmap,17,1) & 1 when 1 then @c129 else [T$NAMB] end,
		[T$NAMC] = case substring(@bitmap,17,1) & 2 when 2 then @c130 else [T$NAMC] end,
		[T$NAMD] = case substring(@bitmap,17,1) & 4 when 4 then @c131 else [T$NAMD] end,
		[T$NAME] = case substring(@bitmap,17,1) & 8 when 8 then @c132 else [T$NAME] end,
		[T$NAMF] = case substring(@bitmap,17,1) & 16 when 16 then @c133 else [T$NAMF] end,
		[T$PSTC] = case substring(@bitmap,17,1) & 32 when 32 then @c134 else [T$PSTC] end,
		[T$CCTY] = case substring(@bitmap,17,1) & 64 when 64 then @c135 else [T$CCTY] end,
		[T$CRTE] = case substring(@bitmap,17,1) & 128 when 128 then @c136 else [T$CRTE] end,
		[T$CADR] = case substring(@bitmap,18,1) & 1 when 1 then @c137 else [T$CADR] end,
		[T$REFCNTD] = case substring(@bitmap,18,1) & 2 when 2 then @c138 else [T$REFCNTD] end,
		[T$REFCNTU] = case substring(@bitmap,18,1) & 4 when 4 then @c139 else [T$REFCNTU] end
where [T$ORNO] = @pkc1
  and [T$PONO] = @pkc2
  and [T$SRNB] = @pkc3
  and [T$COMP] = @pkc4
if @@rowcount = 0
    if @@microsoftversion>0x07320000
        exec sp_MSreplraiserror 20598
end 
end 

GO
