USE [Multek_ZH]
GO
/****** Object:  Table [dbo].[tttt]    Script Date: 2014/11/12 17:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tttt](
	[a] [int] NULL,
	[b] [nchar](10) NULL,
	[c] [nchar](10) NULL
) ON [PRIMARY]

GO
