USE [Multek_BI]
GO
/****** Object:  StoredProcedure [dbo].[new_m6_Formula_calc]    Script Date: 2014/11/12 17:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[new_m6_Formula_calc]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE	@DATE DATETIME
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#COMMON') AND TYPE = 'U')
			DROP TABLE #COMMON
	CREATE TABLE #COMMON
	(
		ID INT IDENTITY,
		NUM	INT
	)
			
	SELECT TOP 1 @DATE = [DATE] FROM M6 ORDER BY DATE DESC
	
	--Formula 1 
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER) - MIN(NUMBER) AS DIF FROM M6 WHERE DATE = @DATE  AND ISSP = 0
	
	--Formula 2
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER) - MIN(NUMBER) FROM
		(
			SELECT NUMBER FROM M6 AS A
			WHERE NUMBER IN
			(
				SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.DATE = @DATE AND ISSP = 0 ORDER BY NUMBER ASC
			)
			AND NUMBER NOT IN
			(
				SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = @DATE AND ISSP = 0 ORDER BY NUMBER ASC
			)
			AND ISSP = 0
			AND A.DATE = @DATE
		) AS N
	
	--Formula 3
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)-MIN(NUMBER) AS DIF FROM M6 AS A
		WHERE NUMBER NOT IN
		(
			SELECT MAX(NUMBER) FROM M6 AS B WHERE B.DATE = @DATE AND ISSP = 0
		)
		AND NUMBER NOT IN
		(
			SELECT MIN(NUMBER) FROM M6 AS C WHERE C.DATE = @DATE AND ISSP = 0
		)
		AND ISSP = 0
		AND A.DATE = @DATE
		GROUP BY [DATE]
		ORDER BY [DATE]
		
	--Formula 4
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)*4-2 AS DIF FROM M6 AS A 
		WHERE ISSP = 0
		AND A.DATE = @DATE
		GROUP BY [DATE] ORDER BY [DATE]
	
	--Formula 5
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)+
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		) * 3 AS DIF 
		FROM M6 AS A 
		WHERE A.ISSP = 0
		AND A.DATE = @DATE
		GROUP BY [DATE] ORDER BY [DATE]
	
	--Formula 6
	INSERT INTO #COMMON(NUM)
	SELECT MIN(NUMBER)+9 AS DIF FROM M6 AS A WHERE ISSP = 0 AND A.DATE = @DATE GROUP BY [DATE] ORDER BY [DATE]
	
	--Formula 7
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)+5
		FROM M6 AS A
		WHERE A.NUMBER NOT IN
		(
			SELECT MIN(NUMBER) FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0
		)
		AND ISSP = 0
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 8
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)+4
		FROM M6 AS A
		WHERE A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0 ORDER BY NUMBER ASC
		)
		AND ISSP = 0
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 9
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)+7
		FROM M6 AS A
		WHERE A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0 ORDER BY NUMBER ASC
		)
		AND ISSP = 0
		AND	A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 10
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)+4
		FROM M6 AS A
		WHERE ISSP = 0
		AND	A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 11
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)-MAX(NUMBER)+1+
		(
			SELECT TOP 1 NUMBER FROM M6 AS C WHERE C.DATE = A.DATE AND C.ISSP = 1
		)
		FROM M6 AS A
		WHERE A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0 ORDER BY NUMBER ASC
		)
		AND A.NUMBER NOT IN
		(
			SELECT MAX(NUMBER) FROM M6 AS D WHERE D.DATE = A.DATE AND ISSP = 0
		)
		AND ISSP = 0
		and A.DATE = @DATE
		GROUP BY A.DATE
	
	
	--Formula 12
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)+MIN(NUMBER)
		FROM M6 AS A
		WHERE A.NUMBER IN
		(
			SELECT TOP 2 NUMBER FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0 ORDER BY NUMBER ASC
		)
		AND ISSP = 0
		AND	A.DATE = @DATE
		GROUP BY A.DATE

	--Formula 14
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)-MIN(NUMBER)
		FROM M6 AS A
		WHERE A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0 ORDER BY NUMBER DESC
		)
		AND A.NUMBER NOT IN
		(
			SELECT MAX(NUMBER) FROM M6 AS B WHERE B.[DATE] = A.[DATE] AND ISSP = 0
		)
		AND ISSP = 0
		AND	A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 15
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)-MIN(NUMBER) - 3 +
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)
		FROM M6 AS A
		WHERE ISSP = 0
		AND	A.DATE = @DATE 
		GROUP BY A.DATE
		
	--Formula 16
		INSERT INTO #COMMON(NUM)
		SELECT MAX(NUMBER)-MIN(NUMBER) + 2 +
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)
		FROM M6 AS A
		WHERE ISSP = 0
		AND A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 17
		INSERT INTO #COMMON(NUM)
		SELECT SUM(NUMBER) - 1 +
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)
		FROM M6 AS A
		WHERE ISSP = 0
		AND A.NUMBER IN
		(
			SELECT TOP 3 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 18
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)+
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)
		FROM M6 AS A
		WHERE A.ISSP = 0
		AND A.DATE = @DATE
		GROUP BY A.DATE
		
	--Formula 19
		INSERT INTO #COMMON(NUM)
		SELECT MIN(NUMBER)-1+
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)
		FROM M6 AS A
		WHERE A.ISSP = 0
		AND NUMBER IN
		(
			SELECT TOP 2 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0
		)
		AND NUMBER NOT IN
		(
			SELECT MIN(NUMBER) FROM M6 AS C WHERE C.DATE = A.DATE AND ISSP = 0
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 20
		INSERT INTO #COMMON(NUM)
		SELECT 
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)- MAX(NUMBER)+1
		FROM M6 AS A
		WHERE A.ISSP = 0
		AND NUMBER IN
		(
			SELECT TOP 4 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 21
		INSERT INTO #COMMON(NUM)
		SELECT 
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)- MAX(NUMBER)
		FROM M6 AS A
		WHERE A.ISSP = 0
		AND NUMBER IN
		(
			SELECT TOP 5 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0 ORDER BY NUMBER
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 22
		INSERT INTO #COMMON(NUM)
		SELECT 
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		)* MIN(NUMBER)
		FROM M6 AS A
		WHERE A.ISSP = 0
		AND NUMBER IN
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 0 ORDER BY NUMBER
		)
		AND A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 23
		INSERT INTO #COMMON(NUM)
		SELECT
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		) + 7
		FROM M6 AS A
		WHERE A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 24
		INSERT INTO #COMMON(NUM)
		SELECT 
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		) + 9
		FROM M6 AS A
		WHERE A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 25
		INSERT INTO #COMMON(NUM)
		SELECT 
		(
			SELECT TOP 1 NUMBER FROM M6 AS B WHERE B.DATE = A.DATE AND ISSP = 1
		) * 5 + 2
		FROM M6 AS A
		WHERE A.DATE = @DATE
		GROUP BY A.DATE
	
	--Formula 26
		INSERT INTO #COMMON(NUM)
		SELECT case number%2 when 0 then number *2 +2 else 0 end
		FROM M6 AS A
		WHERE ISSP = 1
		AND A.DATE = @DATE
	
	--Formula 27
		INSERT INTO #COMMON(NUM)
		SELECT case number%2 when 0 then 0 else number * 5 +2 end
		FROM M6 AS A
		WHERE ISSP = 1
		AND A.DATE = @DATE
	
	--result 
	SELECT NUM FROM #COMMON where num < 50 and num > 0 group by NUM order by NUM
END

GO
