USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[ttiitm001180]    Script Date: 11/06/2014 15:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ttiitm001180](
	[t$item] [varchar](50) NOT NULL,
	[t$dsca] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ttiitm001180] PRIMARY KEY CLUSTERED 
(
	[t$item] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
