USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[PT_Order_CheckList]    Script Date: 11/06/2014 15:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PT_Order_CheckList](
	[AutoID] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[OrderNo] [varchar](50) NULL,
	[CheckListAutoID] [tinyint] NULL,
	[NotAvaliable] [bit] NULL,
 CONSTRAINT [PK_PT_Order_CheckList] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NotAvaliable] ON [dbo].[PT_Order_CheckList] 
(
	[NotAvaliable] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [OrderNo] ON [dbo].[PT_Order_CheckList] 
(
	[OrderNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PT_Order_CheckList]  WITH CHECK ADD  CONSTRAINT [FK_PT_Order_CheckList_PT_CheckList] FOREIGN KEY([CheckListAutoID])
REFERENCES [dbo].[PT_CheckList] ([AutoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PT_Order_CheckList] CHECK CONSTRAINT [FK_PT_Order_CheckList_PT_CheckList]
GO
ALTER TABLE [dbo].[PT_Order_CheckList]  WITH CHECK ADD  CONSTRAINT [FK_PT_Order_CheckList_PT_Order] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[PT_Order] ([OrderNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PT_Order_CheckList] CHECK CONSTRAINT [FK_PT_Order_CheckList_PT_Order]
GO
ALTER TABLE [dbo].[PT_Order_CheckList] ADD  CONSTRAINT [DF_PT_Order_CheckList_NotAvalible]  DEFAULT ((0)) FOR [NotAvaliable]
GO
