USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[ShipmentReport_Fiscal_Year]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShipmentReport_Fiscal_Year](
	[ShipmentYears] [varchar](4) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
