USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[DistributionReport_sp_Query_User_Forecast_Roles]    Script Date: 11/06/2014 15:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DistributionReport_sp_Query_User_Forecast_Roles]
	-- Add the parameters for the stored procedure here
	@UserID varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    IF NOT EXISTS(SELECT * FROM DistributionReport_Forecast_Authority WHERE UserID=@UserID)
		BEGIN
			INSERT INTO DistributionReport_Forecast_Authority(UserID) VALUES(@UserID)
		END
	SELECT * FROM DistributionReport_Forecast_Authority WHERE UserID=@UserID
END
GO
