USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[DistributionReport_FushionChart_Color]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DistributionReport_FushionChart_Color](
	[ReportCode] [tinyint] NULL,
	[Year] [int] NULL,
	[Color] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
