USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[DistributionReport_sp_TFSOLP106180_Add_Cost]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DistributionReport_sp_TFSOLP106180_Add_Cost] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	ALTER TABLE TFSOLP106180 ADD CostString VARCHAR(MAX)
	ALTER TABLE TFSOLP106180 ADD UNITSET  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD PnlINCHW  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD PNLINCHL  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD PNLSQFTA  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD CESU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD CISU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD DLIU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD ILIU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD MDSU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD LDIU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD LDMU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD TCIU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD GSRU  NUMERIC(19,4)
	ALTER TABLE TFSOLP106180 ADD TCUU  NUMERIC(19,4)				

END
GO
