USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[TTFGLD106185]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTFGLD106185](
	[T$AMTH] [float] NOT NULL,
	[T$FYER] [float] NOT NULL,
	[T$FPRD] [float] NOT NULL,
	[T$DBCR] [float] NOT NULL,
	[T$LEAC] [char](12) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
