USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[DistributionReport_sp_AutomaticallyProcess_TOP20OEMCustomerFiscal]    Script Date: 11/06/2014 15:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DistributionReport_sp_AutomaticallyProcess_TOP20OEMCustomerFiscal]
	-- Add the parameters for the stored procedure here
	@Type VARCHAR(10),
	@CalculateYear INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    DECLARE @Year CHAR(4),@i INT,@j INT,@k INT,@SQLString VARCHAR(MAX),@Color VARCHAR(50),@DateFrom DATETIME,@DateTo DATETIME ,@NowMonth INT,
			@Amount BIGINT,@Site VARCHAR(50),@Plant VARCHAR(50),@Lay INT,@OEMCustomer VARCHAR(500),@OEM VARCHAR(500),@ReportCode CHAR(3),@SumCustomer VARCHAR(MAX),@SumOEM VARCHAR(MAX),
			@DateFrom1 DATETIME,@DateTo1 DATETIME,@DateFrom2 DATETIME,@DateTo2 DATETIME,@DateFrom3 DATETIME,@DateTo3 DATETIME,
			@DateFrom4 DATETIME,@DateTo4 DATETIME,@DateFrom5 DATETIME,@DateTo5 DATETIME,@DateFrom6 DATETIME,@DateTo6 DATETIME,
			@DateFrom7 DATETIME,@DateTo7 DATETIME,@DateFrom8 DATETIME,@DateTo8 DATETIME,@DateFrom9 DATETIME,@DateTo9 DATETIME,
			@DateFrom10 DATETIME,@DateTo10 DATETIME,@DateFrom11 DATETIME,@DateTo11 DATETIME,@DateFrom12 DATETIME,@DateTo12 DATETIME			
	CREATE TABLE #Temp (ReportCode VARCHAR(3),Type VARCHAR(10),Site VARCHAR(50),Plant VARCHAR(50),Year VARCHAR(4),OEMCustomer VARCHAR(300),Amount BIGINT,M1 BIGINT,M2 BIGINT,M3 BIGINT,M4 BIGINT,M5 BIGINT,M6 BIGINT,M7 BIGINT,M8 BIGINT,M9 BIGINT,M10 BIGINT,M11 BIGINT,M12 BIGINT) 
	CREATE NONCLUSTERED INDEX [TempTypeSitePlantOEMDay] ON [#Temp] 
	(
		[ReportCode] ASC,[Type] ASC,[Site] ASC,[Plant] ASC,[Year] ASC,[OEMCustomer] ASC
	)

	SET @SQLString=''
	SET @Year=(SELECT MAX(Year) FROM dbo.DistributionReport_Fiscal_Year)
	SET @i=1
	WHILE @i<=@CalculateYear
		BEGIN

			SET @DateFrom=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=1) 
			SET @DateTo=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=12) 

			SET @DateFrom1=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=1) 
			SET @DateTo1=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=1) 
			SET @DateFrom2=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=2) 
			SET @DateTo2=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=2) 
			SET @DateFrom3=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=3) 
			SET @DateTo3=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=3) 
			SET @DateFrom4=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=4) 
			SET @DateTo4=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=4) 
			SET @DateFrom5=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=5) 
			SET @DateTo5=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=5) 
			SET @DateFrom6=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=6) 
			SET @DateTo6=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=6) 
			SET @DateFrom7=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=7) 
			SET @DateTo7=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=7) 
			SET @DateFrom8=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=8) 
			SET @DateTo8=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=8) 
			SET @DateFrom9=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=9) 
			SET @DateTo9=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=9) 
			SET @DateFrom10=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=10) 
			SET @DateTo10=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=10) 
			SET @DateFrom11=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=11) 
			SET @DateTo11=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=11) 
			SET @DateFrom12=(SELECT MIN(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=12) 
			SET @DateTo12=(SELECT MAX(CONVERT(VARCHAR(10),CalenderDate,120)) FROM Calendar WHERE FiscalYear=@Year AND FiscalPeriod=12) 

			-- Dis Process Top 20 Customers 
			TRUNCATE TABLE #Temp
			SET @ReportCode='003'
			SET @Site='Chi'
			SET @Plant='P2'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='2F'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B3'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B4'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B5'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='HK'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20Customer('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)

			--Update Detail
			UPDATE #Temp
			SET M1=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom1,@DateTo1,OEMCustomer),
			    M2=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom2,@DateTo2,OEMCustomer),
			    M3=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom3,@DateTo3,OEMCustomer),
			    M4=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom4,@DateTo4,OEMCustomer),
			    M5=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom5,@DateTo5,OEMCustomer),
			    M6=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom6,@DateTo6,OEMCustomer),
			    M7=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom7,@DateTo7,OEMCustomer),
			    M8=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom8,@DateTo8,OEMCustomer),
			    M9=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom9,@DateTo9,OEMCustomer),
			    M10=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom10,@DateTo10,OEMCustomer),
			    M11=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom11,@DateTo11,OEMCustomer),
			    M12=dbo.DistributionReport_fun_Get_Amount_Customer('FiscalPeriod',Type,Site,Plant,@DateFrom12,@DateTo12,OEMCustomer)

			SET @SQLString='
							INSERT INTO DistributionReport_TOP20CustomerOEM
							SELECT a.*
							FROM #Temp a
							WHERE NOT EXISTS(SELECT b.* FROM DistributionReport_TOP20CustomerOEM b WHERE b.ReportCode+b.Type+b.Site+b.Plant+b.Year+b.OEMCustomer=a.ReportCode+a.Type+a.Site+a.Plant+a.Year+a.OEMCustomer) 
						
							UPDATE DistributionReport_TOP20CustomerOEM
							SET Amount=b.Amount,M1=b.M1,M2=b.M2,M3=b.M3,M4=b.M4,M5=b.M5,M6=b.M6,M7=b.M7,M8=b.M8,M9=b.M9,M10=b.M10,M11=b.M11,M12=b.M12
							FROM DistributionReport_TOP20CustomerOEM a,#Temp b
							WHERE a.ReportCode=b.ReportCode
								AND a.Type=b.Type
								AND a.Site=b.Site
								AND a.Plant=b.Plant
								AND a.Year=b.Year
								AND a.OEMCustomer=b.OEMCustomer
							'
			EXECUTE (@SQLString)

			DELETE DistributionReport_TOP20CustomerOEM
			WHERE ReportCode=@ReportCode
				 AND Type=@Type
				 AND Site=@Site 
				 AND Year=@Year
				 AND Plant+OEMCustomer NOT IN (SELECT Plant+OEMCustomer FROM #Temp)

			-- Dis Process Top 20 OEMs 
			TRUNCATE TABLE #Temp
			SET @ReportCode='004'
			SET @Site='Chi'
			SET @Plant='P2'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='2F'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B3'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B4'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='B5'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)
			SET @Plant='HK'
			INSERT INTO #Temp (ReportCode,Type,Site,Plant,Year,OEMCustomer,Amount) 
			SELECT @ReportCode AS ReportCode,@Type AS Type,@Site AS Site,@Plant AS Plant,@Year AS Year,* FROM dbo.DistributionReport_fun_Get_TOP20OEM('FiscalYear',@Type,@Site,@Plant,@DateFrom,@DateTo)

			--Update Detail
			UPDATE #Temp
			SET M1=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom1,@DateTo1,OEMCustomer),
			    M2=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom2,@DateTo2,OEMCustomer),
			    M3=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom3,@DateTo3,OEMCustomer),
			    M4=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom4,@DateTo4,OEMCustomer),
			    M5=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom5,@DateTo5,OEMCustomer),
			    M6=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom6,@DateTo6,OEMCustomer),
			    M7=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom7,@DateTo7,OEMCustomer),
			    M8=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom8,@DateTo8,OEMCustomer),
			    M9=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom9,@DateTo9,OEMCustomer),
			    M10=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom10,@DateTo10,OEMCustomer),
			    M11=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom11,@DateTo11,OEMCustomer),
			    M12=dbo.DistributionReport_fun_Get_Amount_OEM('FiscalPeriod',Type,Site,Plant,@DateFrom12,@DateTo12,OEMCustomer)

			SET @SQLString='
							INSERT INTO DistributionReport_TOP20CustomerOEM
							SELECT a.*
							FROM #Temp a
							WHERE NOT EXISTS(SELECT b.* FROM DistributionReport_TOP20CustomerOEM b WHERE b.ReportCode+b.Type+b.Site+b.Plant+b.Year+b.OEMCustomer=a.ReportCode+a.Type+a.Site+a.Plant+a.Year+a.OEMCustomer) 

							UPDATE DistributionReport_TOP20CustomerOEM
							SET Amount=b.Amount,M1=b.M1,M2=b.M2,M3=b.M3,M4=b.M4,M5=b.M5,M6=b.M6,M7=b.M7,M8=b.M8,M9=b.M9,M10=b.M10,M11=b.M11,M12=b.M12
							FROM DistributionReport_TOP20CustomerOEM a,#Temp b
							WHERE a.ReportCode=b.ReportCode
								AND a.Type=b.Type
								AND a.Site=b.Site
								AND a.Plant=b.Plant
								AND a.Year=b.Year
								AND a.OEMCustomer=b.OEMCustomer
							'
			EXECUTE (@SQLString)

			DELETE DistributionReport_TOP20CustomerOEM 
			WHERE ReportCode=@ReportCode
				 AND Type=@Type
				 AND Site=@Site 
				 AND Year=@Year
				 AND Plant+OEMCustomer NOT IN (SELECT Plant+OEMCustomer FROM #Temp)

			SET @Year=@Year-1
			SET @i=@i+1
		END
END
GO
