USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[DistributionReport_sp_Automatically_Update_Forecast_From_Period_To_Week]    Script Date: 11/06/2014 15:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DistributionReport_sp_Automatically_Update_Forecast_From_Period_To_Week]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
update dbo.DistributionReport_Forecast_weekly
set w1=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=1 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=1 and c.fiscalyear=b.year ))*1.0000,
w2=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=2 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=2 and c.fiscalyear=b.year ))*1.0000,
w3=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=3 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=3 and c.fiscalyear=b.year ))*1.0000,
w4=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=4 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=4 and c.fiscalyear=b.year ))*1.0000,
w5=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=5 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=5 and c.fiscalyear=b.year ))*1.0000,
w6=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=6 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=6 and c.fiscalyear=b.year ))*1.0000,
w7=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=7 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=7 and c.fiscalyear=b.year ))*1.0000,
w8=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=8 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=8 and c.fiscalyear=b.year ))*1.0000,
w9=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=9 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=9 and c.fiscalyear=b.year ))*1.0000,
w10=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=10 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=10 and c.fiscalyear=b.year ))*1.0000,
w11=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=11 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=11 and c.fiscalyear=b.year ))*1.0000,
w12=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=12 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=12 and c.fiscalyear=b.year ))*1.0000,
w13=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=13 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=13 and c.fiscalyear=b.year ))*1.0000,
w14=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=14 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=14 and c.fiscalyear=b.year ))*1.0000,
w15=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=15 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=15 and c.fiscalyear=b.year ))*1.0000,
w16=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=16 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=16 and c.fiscalyear=b.year ))*1.0000,
w17=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=17 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=17 and c.fiscalyear=b.year ))*1.0000,
w18=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=18 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=18 and c.fiscalyear=b.year ))*1.0000,
w19=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=19 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=19 and c.fiscalyear=b.year ))*1.0000,
w20=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=20 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=20 and c.fiscalyear=b.year ))*1.0000,
w21=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=21 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=21 and c.fiscalyear=b.year ))*1.0000,
w22=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=22 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=22 and c.fiscalyear=b.year ))*1.0000,
w23=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=23 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=23 and c.fiscalyear=b.year ))*1.0000,
w24=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=24 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=24 and c.fiscalyear=b.year ))*1.0000,
w25=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=25 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=25 and c.fiscalyear=b.year ))*1.0000,
w26=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=26 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=26 and c.fiscalyear=b.year ))*1.0000,
w27=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=27 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=27 and c.fiscalyear=b.year ))*1.0000,
w28=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=28 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=28 and c.fiscalyear=b.year ))*1.0000,
w29=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=29 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=29 and c.fiscalyear=b.year ))*1.0000,
w30=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=30 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=30 and c.fiscalyear=b.year ))*1.0000,
w31=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=31 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=31 and c.fiscalyear=b.year ))*1.0000,
w32=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=32 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=32 and c.fiscalyear=b.year ))*1.0000,
w33=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=33 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=33 and c.fiscalyear=b.year ))*1.0000,
w34=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=34 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=34 and c.fiscalyear=b.year ))*1.0000,
w35=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=35 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=35 and c.fiscalyear=b.year ))*1.0000,
w36=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=36 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=36 and c.fiscalyear=b.year ))*1.0000,
w37=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=37 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=37 and c.fiscalyear=b.year ))*1.0000,
w38=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=38 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=38 and c.fiscalyear=b.year ))*1.0000,
w39=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=39 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=39 and c.fiscalyear=b.year ))*1.0000,
w40=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=40 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=40 and c.fiscalyear=b.year ))*1.0000,
w41=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=41 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=41 and c.fiscalyear=b.year ))*1.0000,
w42=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=42 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=42 and c.fiscalyear=b.year ))*1.0000,
w43=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=43 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=43 and c.fiscalyear=b.year ))*1.0000,
w44=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=44 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=44 and c.fiscalyear=b.year ))*1.0000,
w45=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=45 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=45 and c.fiscalyear=b.year ))*1.0000,
w46=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=46 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=46 and c.fiscalyear=b.year ))*1.0000,
w47=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=47 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=47 and c.fiscalyear=b.year ))*1.0000,
w48=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=48 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=48 and c.fiscalyear=b.year ))*1.0000,
w49=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=49 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=49 and c.fiscalyear=b.year ))*1.0000,
w50=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=50 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=50 and c.fiscalyear=b.year ))*1.0000,
w51=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=51 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=51 and c.fiscalyear=b.year ))*1.0000,
w52=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=52 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=52 and c.fiscalyear=b.year ))*1.0000,
w53=dbo.DistributionReport_fun_Get_Forecast(a.plant,(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=53 and c.fiscalyear=b.year ),a.year)/(select (CASE COUNT(DISTINCT FISCALWEEK) WHEN 0 THEN 1 ELSE COUNT(DISTINCT FISCALWEEK)END) from Calendar d where d.fiscalyear=b.year and d.FiscalPeriod=(select min(c.fiscalperiod) from dbo.Calendar c where c.fiscalweek=53 and c.fiscalyear=b.year ))*1.0000

from dbo.DistributionReport_Forecast_weekly a,dbo.DistributionReport_Forecast b
where a.Type='incoming'
	and a.type=b.Type
	and a.site=b.Site
	and a.plant=b.Plant
	and a.year=b.Year
	
END
GO
