USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[TFSCPP201180]    Script Date: 11/06/2014 15:47:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP201180](
	[T$PLNT] [char](2) NOT NULL,
	[T$NCMP] [float] NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$LOCA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
