USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[ShipmentReport_sp_Get_117_ZhuHai_Ledger_Data]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ShipmentReport_sp_Get_117_ZhuHai_Ledger_Data]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106183' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106183
		END
	SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106183 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106183
	CREATE NONCLUSTERED INDEX [TTFGLD106183AMTH] ON [TTFGLD106183] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106183FYER] ON [TTFGLD106183] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106183FPRD] ON [TTFGLD106183] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106183dbcr] ON [TTFGLD106183] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106183leac] ON [TTFGLD106183] 
	(
		[t$leac] ASC
	)

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106181' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106181
		END
	SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106181 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106181
	CREATE NONCLUSTERED INDEX [TTFGLD106181AMTH] ON [TTFGLD106181] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106181FYER] ON [TTFGLD106181] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106181FPRD] ON [TTFGLD106181] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106181dbcr] ON [TTFGLD106181] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106181leac] ON [TTFGLD106181] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106184' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106184
		END
		SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106184 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106184
	CREATE NONCLUSTERED INDEX [TTFGLD106184AMTH] ON [TTFGLD106184] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106184FYER] ON [TTFGLD106184] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106184FPRD] ON [TTFGLD106184] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106184dbcr] ON [TTFGLD106184] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106184leac] ON [TTFGLD106184] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106185' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106185
		END
		SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106185 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106185
	CREATE NONCLUSTERED INDEX [TTFGLD106185AMTH] ON [TTFGLD106185] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106185FYER] ON [TTFGLD106185] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106185FPRD] ON [TTFGLD106185] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106185dbcr] ON [TTFGLD106185] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106185leac] ON [TTFGLD106185] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106186' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106186
		END
		SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106186 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106186
	CREATE NONCLUSTERED INDEX [TTFGLD106186AMTH] ON [TTFGLD106186] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106186FYER] ON [TTFGLD106186] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106186FPRD] ON [TTFGLD106186] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106186dbcr] ON [TTFGLD106186] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106186leac] ON [TTFGLD106186] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106819' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106819
		END
		SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106819 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106819
	CREATE NONCLUSTERED INDEX [TTFGLD106819AMTH] ON [TTFGLD106819] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106819FYER] ON [TTFGLD106819] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106819FPRD] ON [TTFGLD106819] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106819dbcr] ON [TTFGLD106819] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106819leac] ON [TTFGLD106819] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106180' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106180
		END
		SELECT t$amth,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106180 
	FROM HKGNT117.DataWarehouse.dbo.TTFGLD106180
	CREATE NONCLUSTERED INDEX [TTFGLD106180AMTH] ON [TTFGLD106180] 
	(
		[t$amth] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106180FYER] ON [TTFGLD106180] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106180FPRD] ON [TTFGLD106180] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106180dbcr] ON [TTFGLD106180] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106180leac] ON [TTFGLD106180] 
	(
		[t$leac] ASC
	)
	
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE name='TTFGLD106858' AND XTYPE='U')
		BEGIN
			DROP TABLE TTFGLD106858
		END
		SELECT T$AMTH$1,t$fyer,t$fprd,t$dbcr,t$leac 
	INTO TTFGLD106858 
	FROM HKGNT117.ce3p1179.dbo.TTFGLD106858
	CREATE NONCLUSTERED INDEX [TTFGLD106858AMTH] ON [TTFGLD106858] 
	(
		[T$AMTH$1] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106858FYER] ON [TTFGLD106858] 
	(
		[t$fyer] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106858FPRD] ON [TTFGLD106858] 
	(
		[t$fprd] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106858dbcr] ON [TTFGLD106858] 
	(
		[t$dbcr] ASC
	)
	CREATE NONCLUSTERED INDEX [TTFGLD106858leac] ON [TTFGLD106858] 
	(
		[t$leac] ASC
	)
	

	--DBCC SHRINKFILE (N'TestDB_Data' , 0)
	--DBCC SHRINKFILE (N'TestDB_Log' , 0)

END
GO
