USE [Multek_SZ_New]
GO
/****** Object:  StoredProcedure [dbo].[ShipmentReport_sp_Query_TOP_5_OEM_Yearly_Shipment_Trend_Fiscal]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ShipmentReport_sp_Query_TOP_5_OEM_Yearly_Shipment_Trend_Fiscal] 
	-- Add the parameters for the stored procedure here
	@Year CHAR(4),
	@Loc VARCHAR(3)=NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	set ansi_nulls off;

    -- Insert statements for procedure here
    -- Insert statements for procedure here
	DECLARE @YearMonth VARCHAR(7)

	IF @Loc IS NULL
		BEGIN
			SELECT TOP 5 * ,LEFT(REPLACE(REPLACE(OEM,'&',''),' ',''),10) AS Short
			FROM dbo.ShipmentReport_Shipped_All_Fixed_Top_20_OEM_Fiscal
			WHERE Year=@Year
			ORDER BY Amount DESC
		END
	ELSE
		BEGIN
			SELECT TOP 5 * ,LEFT(REPLACE(REPLACE(OEM,'&',''),' ',''),10) AS Short
			FROM dbo.ShipmentReport_Shipped_All_Fixed_Top_20_OEM_Fiscal_By_Loc
			WHERE Year=@Year
				AND Loc=@Loc
			ORDER BY Amount DESC
		END
		
END
GO
