USE [Multek_SZ_New]
GO
/****** Object:  Table [dbo].[ShipmentReport_Shipped_All_Fixed_Layer_Fiscal]    Script Date: 11/06/2014 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShipmentReport_Shipped_All_Fixed_Layer_Fiscal](
	[Year] [varchar](4) NULL,
	[Column_1] [numeric](18, 2) NULL,
	[Column_2] [numeric](18, 2) NULL,
	[Column_3] [numeric](18, 2) NULL,
	[Column_4] [numeric](18, 2) NULL,
	[Column_5] [numeric](18, 2) NULL,
	[Column_6] [numeric](18, 2) NULL,
	[Column_7] [numeric](18, 2) NULL,
	[Column_8] [numeric](18, 2) NULL,
	[Column_9] [numeric](18, 2) NULL,
	[Column_10] [numeric](18, 2) NULL,
	[Column_11] [numeric](18, 2) NULL,
	[Column_12] [numeric](18, 2) NULL,
	[Column_13] [numeric](18, 2) NULL,
	[Column_14] [numeric](18, 2) NULL,
	[Column_16] [numeric](18, 2) NULL,
	[Column_18] [numeric](18, 2) NULL,
	[Column_20] [numeric](18, 2) NULL,
	[Column_22] [numeric](18, 2) NULL,
	[Column_24] [numeric](18, 2) NULL,
	[Column_26] [numeric](18, 2) NULL,
	[Column_28] [numeric](18, 2) NULL,
	[Column_30] [numeric](18, 2) NULL,
	[Column_32] [numeric](18, 2) NULL,
	[Column_34] [numeric](18, 2) NULL,
	[Column_36] [numeric](18, 2) NULL,
	[Column_38] [numeric](18, 2) NULL,
	[Column_40] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
