USE [DBMonitor]
GO
/****** Object:  Table [dbo].[DBSC_HKGNT111]    Script Date: 11/06/2014 15:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DBSC_HKGNT111](
	[DB] [varchar](50) NULL,
	[GrowDate] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
