USE [Multek_ZH_New]
GO
/****** Object:  Table [dbo].[sgp_tmp_key]    Script Date: 11/06/2014 15:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sgp_tmp_key](
	[fName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
