USE [Multek_ZH_New]
GO
/****** Object:  View [dbo].[realtime_vTFSBOM421180]    Script Date: 11/06/2014 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[realtime_vTFSBOM421180]
AS
SELECT * FROM [HKGNT117].[multekchi_realtime].[dbo].[vTFSBOM421180]
GO
