USE [Multek_ZH_New]
GO
/****** Object:  StoredProcedure [dbo].[sp_SGP_sycn_baan_data]    Script Date: 11/06/2014 15:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SGP_sycn_baan_data]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom400') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom400

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom401') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom401

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom421') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom421

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom457') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom457

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom473') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom473

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom474') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom474

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsbom499') AND TYPE = 'U')
		DROP TABLE #Temp_fsbom499

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'tempdb.#Temp_fsami111') AND TYPE = 'U')
		DROP TABLE #Temp_fsami111

	SELECT * INTO #Temp_fsbom400 FROM [dbo].[realtime_vTFSBOM400180]
	SELECT * INTO #Temp_fsbom401 FROM [dbo].[realtime_vTFSBOM401180]
	SELECT * INTO #Temp_fsbom421 FROM [dbo].[realtime_vTFSBOM421180]
	SELECT * INTO #Temp_fsbom457 FROM [dbo].[realtime_vTFSBOM457180]
	SELECT * INTO #Temp_fsbom473 FROM [dbo].[realtime_vTFSBOM473180]
	SELECT * INTO #Temp_fsbom474 FROM [dbo].[realtime_vTFSBOM474180]
	SELECT * INTO #Temp_fsbom499 FROM [dbo].[realtime_vTFSBOM499180]
	SELECT * INTO #Temp_fsAMI111 FROM [dbo].[realtime_vTFSAMI111180]

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom400') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom400
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom401') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom401
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom421') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom421
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom457') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom457
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom473') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom473
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom474') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom474
	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsbom499') AND TYPE = 'U')	
		DROP TABLE Temp_fsbom499

	IF EXISTS(SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N'Temp_fsami111') AND TYPE = 'U')	
		DROP TABLE Temp_fsami111

	SELECT * INTO Temp_fsbom400 FROM #Temp_fsbom400
	SELECT * INTO Temp_fsbom401 FROM #Temp_fsbom401
	SELECT * INTO Temp_fsbom421 FROM #Temp_fsbom421
	SELECT * INTO Temp_fsbom457 FROM #Temp_fsbom457
	SELECT * INTO Temp_fsbom473 FROM #Temp_fsbom473
	SELECT * INTO Temp_fsbom474 FROM #Temp_fsbom474
	SELECT * INTO Temp_fsbom499 FROM #Temp_fsbom499
	SELECT * INTO Temp_fsami111 FROM #Temp_fsami111

	DELETE FROM TFSBOM400180 WHERE T$PJNO + CAST(T$SERN AS VARCHAR(5)) IN (SELECT T$PJNO + CAST(T$SERN AS VARCHAR(5)) FROM #Temp_fsbom400)
	INSERT INTO TFSBOM400180 SELECT * FROM #Temp_fsbom400

	DELETE FROM TFSBOM401180 WHERE T$PJNO + CAST(T$SERN AS VARCHAR(5)) IN (SELECT T$PJNO + CAST(T$SERN AS VARCHAR(5)) FROM #Temp_fsbom401)
	INSERT INTO TFSBOM401180 SELECT * FROM #Temp_fsbom401

	DELETE FROM TFSBOM421180 WHERE T$PJNO + CAST(T$SERN AS VARCHAR(5)) IN (SELECT T$PJNO + CAST(T$SERN AS VARCHAR(5)) FROM #Temp_fsbom421)
	INSERT INTO TFSBOM421180 SELECT * FROM #Temp_fsbom421

	DELETE FROM TFSBOM457180 WHERE T$PJNO + CAST(T$SERN AS VARCHAR(5)) IN (SELECT T$PJNO + CAST(T$SERN AS VARCHAR(5)) FROM #Temp_fsbom457)
	INSERT INTO TFSBOM457180 SELECT * FROM #Temp_fsbom457

	DELETE FROM TFSBOM473180 WHERE T$USRN + T$PJNO IN (SELECT  T$USRN + T$PJNO FROM #Temp_fsbom473)
	INSERT INTO TFSBOM473180 SELECT * FROM #Temp_fsbom473

	DELETE FROM TFSBOM474180 WHERE T$USRN + T$PJNO IN (SELECT  T$USRN + T$PJNO FROM #Temp_fsbom474)
	INSERT INTO TFSBOM474180 SELECT * FROM #Temp_fsbom474

	DELETE FROM TFSBOM499180 WHERE T$USRN + T$PJNO IN (SELECT  T$USRN + T$PJNO FROM #Temp_fsbom499)
	INSERT INTO TFSBOM499180 SELECT * FROM #Temp_fsbom499

	DELETE FROM TFSAMI111180 WHERE T$CODE IN (SELECT T$CODE FROM #Temp_fsami111)
	INSERT INTO TFSAMI111180 SELECT * FROM #Temp_fsami111

END
GO
