USE [TrainingWeb]
GO
/****** Object:  StoredProcedure [dbo].[ProcAdminSelect]    Script Date: 2014/11/12 17:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		张志阳
-- Create date: 2010-11-9 14:12
-- Description:	获取指定编号的管理员
-- =============================================
CREATE PROCEDURE [dbo].[ProcAdminSelect]
	@id int
AS
BEGIN
	   Select * from admin where id=@id
END

GO
