USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFHSLS041180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFHSLS041180](
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$CVAT] [char](9) NOT NULL,
	[T$PLEV] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL,
 CONSTRAINT [PK_TFHSLS041180] PRIMARY KEY CLUSTERED 
(
	[T$ORNO] ASC,
	[T$PONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
