USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTCCOM010180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTCCOM010180](
	[T$CUNO] [char](6) NOT NULL,
	[T$CTIT] [char](3) NOT NULL,
	[T$NAMA] [char](35) NOT NULL,
	[T$NAMB] [char](30) NOT NULL,
	[T$NAMC] [char](30) NOT NULL,
	[T$NAMD] [char](30) NOT NULL,
	[T$NAME] [char](30) NOT NULL,
	[T$NAMF] [char](30) NOT NULL,
	[T$PSTC] [char](10) NOT NULL,
	[T$COMP] [float] NOT NULL,
	[T$CREG] [char](3) NOT NULL,
	[T$PCPR] [char](6) NOT NULL,
	[T$PCTX] [char](6) NOT NULL,
	[T$PCTF] [char](6) NOT NULL,
	[T$SNDR] [float] NOT NULL,
	[T$CRTE] [char](5) NOT NULL,
	[T$CDEL] [char](3) NOT NULL,
	[T$CCOR] [char](3) NOT NULL,
	[T$REFA] [char](30) NOT NULL,
	[T$REFP] [char](30) NOT NULL,
	[T$OSNO] [char](15) NOT NULL,
	[T$TELP] [char](15) NOT NULL,
	[T$TELX] [char](15) NOT NULL,
	[T$TEFX] [char](15) NOT NULL,
	[T$SEAK] [char](16) NOT NULL,
	[T$CBRN] [char](6) NOT NULL,
	[T$CBAN] [char](3) NOT NULL,
	[T$CREP] [float] NOT NULL,
	[T$CFRW] [char](3) NOT NULL,
	[T$CPAY] [char](3) NOT NULL,
	[T$CCRS] [char](3) NOT NULL,
	[T$CDEC] [char](3) NOT NULL,
	[T$CCTY] [char](3) NOT NULL,
	[T$CLAN] [char](3) NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$CVYN] [float] NOT NULL,
	[T$CRLR] [float] NOT NULL,
	[T$CLIN] [float] NOT NULL,
	[T$CCIC] [char](3) NOT NULL,
	[T$RFCI] [char](15) NOT NULL,
	[T$EDCI] [datetime] NULL,
	[T$MREM] [char](3) NOT NULL,
	[T$EDED] [float] NOT NULL,
	[T$CNPA] [float] NOT NULL,
	[T$ITPR] [float] NOT NULL,
	[T$NCIN] [float] NOT NULL,
	[T$CINM] [char](3) NOT NULL,
	[T$INFQ] [float] NOT NULL,
	[T$LIDT] [datetime] NULL,
	[T$CCUS] [char](6) NOT NULL,
	[T$BACK] [float] NOT NULL,
	[T$CPLS] [char](3) NOT NULL,
	[T$SCOM] [float] NOT NULL,
	[T$PLDD] [char](3) NOT NULL,
	[T$CFCG] [char](3) NOT NULL,
	[T$CCSU] [char](6) NOT NULL,
	[T$FOVN] [char](20) NOT NULL,
	[T$LVDT] [datetime] NULL,
	[T$PAYM] [char](3) NOT NULL,
	[T$MSTM] [char](3) NOT NULL,
	[T$BUOR] [float] NOT NULL,
	[T$BUIN] [float] NOT NULL,
	[T$ODIS] [float] NOT NULL,
	[T$CRYR] [float] NOT NULL,
	[T$TOVR$1] [float] NOT NULL,
	[T$TOVR$2] [float] NOT NULL,
	[T$TOVR$3] [float] NOT NULL,
	[T$TOVR$4] [float] NOT NULL,
	[T$TOVR$5] [float] NOT NULL,
	[T$CADR] [char](6) NOT NULL,
	[T$INRL] [float] NOT NULL,
	[T$ISCN] [float] NOT NULL,
	[T$PRIO] [float] NOT NULL,
	[T$COTP] [char](3) NOT NULL,
	[T$TRTM] [float] NOT NULL,
	[T$GEOC$L] [char](10) NOT NULL,
	[T$ACKX] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$CRRA] [float] NOT NULL,
	[T$CRBU] [char](30) NOT NULL,
	[T$CRAT] [char](3) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
