USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSCPP201183]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP201183](
	[T$PLNT] [char](2) NOT NULL,
	[T$NCMP] [float] NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$LOCA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [2]    Script Date: 2014/11/12 17:06:44 ******/
CREATE NONCLUSTERED INDEX [2] ON [dbo].[TFSCPP201183]
(
	[T$PLNT] ASC,
	[T$NCMP] ASC,
	[T$CWAR] ASC,
	[T$LOCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
