USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTIITM001180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTIITM001180](
	[T$ITEM] [char](32) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$DSCB] [char](8) NOT NULL,
	[T$DSCC] [char](12) NOT NULL,
	[T$DSCD] [char](8) NOT NULL,
	[T$WGHT] [float] NOT NULL,
	[T$SEAK] [char](16) NOT NULL,
	[T$SEAB] [char](16) NOT NULL,
	[T$KITM] [float] NOT NULL,
	[T$CITG] [char](6) NOT NULL,
	[T$CTYP] [char](3) NOT NULL,
	[T$CSEL] [char](3) NOT NULL,
	[T$CSIG] [char](3) NOT NULL,
	[T$CVAT] [char](9) NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$USET] [char](6) NOT NULL,
	[T$CUNI] [char](3) NOT NULL,
	[T$STGU] [char](3) NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$KLTC] [float] NOT NULL,
	[T$OBPR] [float] NOT NULL,
	[T$KPSL] [float] NOT NULL,
	[T$NPSL] [float] NOT NULL,
	[T$PICS] [float] NOT NULL,
	[T$ABCC] [char](1) NOT NULL,
	[T$LCOD] [datetime] NULL,
	[T$USCU] [float] NOT NULL,
	[T$USAB] [float] NOT NULL,
	[T$SLMP] [float] NOT NULL,
	[T$SERV] [float] NOT NULL,
	[T$SFST] [float] NOT NULL,
	[T$MAXS] [float] NOT NULL,
	[T$CSPS] [char](3) NOT NULL,
	[T$CSPD] [char](3) NOT NULL,
	[T$CFMD] [char](3) NOT NULL,
	[T$SCST] [float] NOT NULL,
	[T$STOC] [float] NOT NULL,
	[T$BLCK] [float] NOT NULL,
	[T$ORDR] [float] NOT NULL,
	[T$ALLO] [float] NOT NULL,
	[T$HALL] [float] NOT NULL,
	[T$QUOT] [float] NOT NULL,
	[T$LTDT] [datetime] NULL,
	[T$OPOL] [float] NOT NULL,
	[T$OSYS] [float] NOT NULL,
	[T$OMTH] [float] NOT NULL,
	[T$OQMF] [float] NOT NULL,
	[T$MIOQ] [float] NOT NULL,
	[T$MAOQ] [float] NOT NULL,
	[T$UMER] [float] NOT NULL,
	[T$FIOQ] [float] NOT NULL,
	[T$ECOQ] [float] NOT NULL,
	[T$REOP] [float] NOT NULL,
	[T$OINT] [float] NOT NULL,
	[T$DDFQ] [float] NOT NULL,
	[T$OLTM] [float] NOT NULL,
	[T$SFTM] [float] NOT NULL,
	[T$FODT] [datetime] NULL,
	[T$OCST] [float] NOT NULL,
	[T$AUSO] [float] NOT NULL,
	[T$CPHA] [float] NOT NULL,
	[T$OQDR] [float] NOT NULL,
	[T$REPI] [float] NOT NULL,
	[T$SCDL] [char](3) NOT NULL,
	[T$ORIP] [float] NOT NULL,
	[T$PCRP] [float] NOT NULL,
	[T$STPM] [float] NOT NULL,
	[T$MRPC] [float] NOT NULL,
	[T$PLMM] [float] NOT NULL,
	[T$MRPO] [float] NOT NULL,
	[T$EITM] [float] NOT NULL,
	[T$BFCP] [float] NOT NULL,
	[T$BFEP] [float] NOT NULL,
	[T$BFHR] [float] NOT NULL,
	[T$NDRP] [float] NOT NULL,
	[T$NNTS] [float] NOT NULL,
	[T$QPNT] [float] NOT NULL,
	[T$UNOM] [float] NOT NULL,
	[T$RUNI] [float] NOT NULL,
	[T$SCPF] [float] NOT NULL,
	[T$CRMP] [float] NOT NULL,
	[T$TMFC] [float] NOT NULL,
	[T$ROUN] [float] NOT NULL,
	[T$NCST] [float] NOT NULL,
	[T$LLCD] [float] NOT NULL,
	[T$LLCI] [float] NOT NULL,
	[T$MRPI] [float] NOT NULL,
	[T$STMR] [float] NOT NULL,
	[T$CUQP] [char](3) NOT NULL,
	[T$CUPP] [char](3) NOT NULL,
	[T$CPGP] [char](6) NOT NULL,
	[T$CSGP] [char](6) NOT NULL,
	[T$PCGP] [char](6) NOT NULL,
	[T$CCUR] [char](3) NOT NULL,
	[T$LTPP] [datetime] NULL,
	[T$PRIP] [float] NOT NULL,
	[T$AVPR] [float] NOT NULL,
	[T$LTPR] [float] NOT NULL,
	[T$SUNO] [char](6) NOT NULL,
	[T$QUAL] [float] NOT NULL,
	[T$PURC] [float] NOT NULL,
	[T$TXTP] [float] NOT NULL,
	[T$CUQS] [char](3) NOT NULL,
	[T$CUPS] [char](3) NOT NULL,
	[T$CPGS] [char](6) NOT NULL,
	[T$CSGS] [char](6) NOT NULL,
	[T$CMGP] [char](6) NOT NULL,
	[T$RBGP] [char](6) NOT NULL,
	[T$PRIS] [float] NOT NULL,
	[T$LTSP] [datetime] NULL,
	[T$PRIR] [float] NOT NULL,
	[T$UMSP] [float] NOT NULL,
	[T$LMSP] [float] NOT NULL,
	[T$CCDE] [char](8) NOT NULL,
	[T$CTYO] [char](3) NOT NULL,
	[T$TXTS] [float] NOT NULL,
	[T$CPCP] [char](3) NOT NULL,
	[T$COPR] [float] NOT NULL,
	[T$MATC] [float] NOT NULL,
	[T$OPRC] [float] NOT NULL,
	[T$CUID] [float] NOT NULL,
	[T$ACTF] [float] NOT NULL,
	[T$LTCP] [datetime] NULL,
	[T$STVA] [float] NOT NULL,
	[T$BUYR] [float] NOT NULL,
	[T$CPLB] [float] NOT NULL,
	[T$CPPP] [float] NOT NULL,
	[T$CCIT] [char](32) NOT NULL,
	[T$CCFU] [float] NOT NULL,
	[T$CCCO] [char](8) NOT NULL,
	[T$PRRE] [float] NOT NULL,
	[T$COPT] [float] NOT NULL,
	[T$CPRP] [float] NOT NULL,
	[T$ITMT] [float] NOT NULL,
	[T$PROI] [float] NOT NULL,
	[T$CONT] [float] NOT NULL,
	[T$CNTR] [char](3) NOT NULL,
	[T$CZED] [float] NOT NULL,
	[T$RELI] [char](32) NOT NULL,
	[T$ASSI] [float] NOT NULL,
	[T$POTC] [float] NOT NULL,
	[T$FFSI] [float] NOT NULL,
	[T$QBSI] [float] NOT NULL,
	[T$OSYC] [float] NOT NULL,
	[T$UFRA] [float] NOT NULL,
	[T$NOBD] [float] NOT NULL,
	[T$BLCM] [float] NOT NULL,
	[T$DCNT] [char](3) NOT NULL,
	[T$PITM] [char](4) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
