USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTDPUR041180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTDPUR041180](
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$SUNO] [char](6) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$CNTR] [char](3) NOT NULL,
	[T$OPOL] [float] NOT NULL,
	[T$SDSC] [float] NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$PLEV] [float] NOT NULL,
	[T$CUPP] [char](3) NOT NULL,
	[T$CVPP] [float] NOT NULL,
	[T$CITG] [char](6) NOT NULL,
	[T$CSGP] [char](6) NOT NULL,
	[T$ODAT] [datetime] NULL,
	[T$DDTA] [datetime] NULL,
	[T$DDTB] [datetime] NULL,
	[T$DDTC] [datetime] NULL,
	[T$DDTD] [datetime] NULL,
	[T$OQUA] [float] NOT NULL,
	[T$CUQP] [char](3) NOT NULL,
	[T$CVQP] [float] NOT NULL,
	[T$LENG] [float] NOT NULL,
	[T$WIDT] [float] NOT NULL,
	[T$THIC] [float] NOT NULL,
	[T$DISC$1] [float] NOT NULL,
	[T$DISC$2] [float] NOT NULL,
	[T$DISC$3] [float] NOT NULL,
	[T$LDAM$1] [float] NOT NULL,
	[T$LDAM$2] [float] NOT NULL,
	[T$LDAM$3] [float] NOT NULL,
	[T$DLEV$1] [float] NOT NULL,
	[T$DLEV$2] [float] NOT NULL,
	[T$DLEV$3] [float] NOT NULL,
	[T$CDIS$1] [char](3) NOT NULL,
	[T$CDIS$2] [char](3) NOT NULL,
	[T$CDIS$3] [char](3) NOT NULL,
	[T$DMTH$1] [float] NOT NULL,
	[T$DMTH$2] [float] NOT NULL,
	[T$DMTH$3] [float] NOT NULL,
	[T$AMTA] [float] NOT NULL,
	[T$DQUA] [float] NOT NULL,
	[T$BQUA] [float] NOT NULL,
	[T$CCTY] [char](3) NOT NULL,
	[T$CVAT] [char](9) NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$CPRJ] [char](6) NOT NULL,
	[T$PDNO] [float] NOT NULL,
	[T$OPNO] [float] NOT NULL,
	[T$BTSP] [float] NOT NULL,
	[T$QUAL] [float] NOT NULL,
	[T$QUAD] [float] NOT NULL,
	[T$QUAP] [float] NOT NULL,
	[T$CONO] [float] NOT NULL,
	[T$POSI] [float] NOT NULL,
	[T$SORN] [float] NOT NULL,
	[T$SPON] [float] NOT NULL,
	[T$SRVO] [float] NOT NULL,
	[T$SRVP] [float] NOT NULL,
	[T$CSPA] [char](8) NOT NULL,
	[T$CPLA] [char](3) NOT NULL,
	[T$CACT] [char](8) NOT NULL,
	[T$CSTL] [char](4) NOT NULL,
	[T$CCCO] [char](8) NOT NULL,
	[T$PACN] [char](12) NOT NULL,
	[T$REVI] [char](6) NOT NULL,
	[T$LSEL] [float] NOT NULL,
	[T$CLOT] [char](16) NOT NULL,
	[T$DIM1] [char](6) NOT NULL,
	[T$TYP1] [float] NOT NULL,
	[T$DIM2] [char](6) NOT NULL,
	[T$TYP2] [float] NOT NULL,
	[T$DIM3] [char](6) NOT NULL,
	[T$TYP3] [float] NOT NULL,
	[T$DIM4] [char](6) NOT NULL,
	[T$TYP4] [float] NOT NULL,
	[T$DIM5] [char](6) NOT NULL,
	[T$TYP5] [float] NOT NULL,
	[T$CTRJ] [char](3) NOT NULL,
	[T$CITT] [char](3) NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
