USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSBOC104180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSBOC104180](
	[T$DATS] [char](10) NOT NULL,
	[T$YEAR] [float] NOT NULL,
	[T$PRNO] [float] NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$TYPE] [char](30) NOT NULL,
	[T$NOPJ] [float] NOT NULL,
	[T$AVCN] [float] NOT NULL,
	[T$PRFT] [float] NOT NULL,
	[T$PRLY] [float] NOT NULL,
	[T$OUFT] [float] NOT NULL,
	[T$OUPS] [float] NOT NULL,
	[T$PCFT] [float] NOT NULL,
	[T$OAMT] [float] NOT NULL,
	[T$POAM] [float] NOT NULL,
	[T$MARG] [float] NOT NULL,
	[T$PTMR] [float] NOT NULL,
	[T$PMAR] [float] NOT NULL,
	[T$BITM$1] [char](12) NOT NULL,
	[T$BITM$2] [char](12) NOT NULL,
	[T$BITM$3] [char](12) NOT NULL,
	[T$BITM$4] [char](12) NOT NULL,
	[T$BITM$5] [char](12) NOT NULL,
	[T$BITM$6] [char](12) NOT NULL,
	[T$BITM$7] [char](12) NOT NULL,
	[T$BITM$8] [char](12) NOT NULL,
	[T$BITM$9] [char](12) NOT NULL,
	[T$BITM$10] [char](12) NOT NULL,
	[T$BITM$11] [char](12) NOT NULL,
	[T$BITM$12] [char](12) NOT NULL,
	[T$BITM$13] [char](12) NOT NULL,
	[T$BITM$14] [char](12) NOT NULL,
	[T$BITM$15] [char](12) NOT NULL,
	[T$CONS$1] [float] NOT NULL,
	[T$CONS$2] [float] NOT NULL,
	[T$CONS$3] [float] NOT NULL,
	[T$CONS$4] [float] NOT NULL,
	[T$CONS$5] [float] NOT NULL,
	[T$CONS$6] [float] NOT NULL,
	[T$CONS$7] [float] NOT NULL,
	[T$CONS$8] [float] NOT NULL,
	[T$CONS$9] [float] NOT NULL,
	[T$CONS$10] [float] NOT NULL,
	[T$CONS$11] [float] NOT NULL,
	[T$CONS$12] [float] NOT NULL,
	[T$CONS$13] [float] NOT NULL,
	[T$CONS$14] [float] NOT NULL,
	[T$CONS$15] [float] NOT NULL,
	[T$PCON$1] [float] NOT NULL,
	[T$PCON$2] [float] NOT NULL,
	[T$PCON$3] [float] NOT NULL,
	[T$PCON$4] [float] NOT NULL,
	[T$PCON$5] [float] NOT NULL,
	[T$PCON$6] [float] NOT NULL,
	[T$PCON$7] [float] NOT NULL,
	[T$PCON$8] [float] NOT NULL,
	[T$PCON$9] [float] NOT NULL,
	[T$PCON$10] [float] NOT NULL,
	[T$PCON$11] [float] NOT NULL,
	[T$PCON$12] [float] NOT NULL,
	[T$PCON$13] [float] NOT NULL,
	[T$PCON$14] [float] NOT NULL,
	[T$PCON$15] [float] NOT NULL,
	[T$TRDT] [datetime] NULL,
	[T$TRTM] [float] NOT NULL,
	[T$DPRF] [float] NOT NULL,
	[T$DOAM] [float] NOT NULL,
	[T$DPOA] [float] NOT NULL,
	[T$DMAR] [float] NOT NULL,
	[T$DPTM] [float] NOT NULL,
	[T$DPMA] [float] NOT NULL,
	[T$DPRL] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
