USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTDSLS041180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTDSLS041180](
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$CUNO] [char](6) NOT NULL,
	[T$DRCT] [float] NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$CNTR] [char](3) NOT NULL,
	[T$OPOL] [float] NOT NULL,
	[T$CPVA] [char](8) NOT NULL,
	[T$SDSC] [float] NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$STPR] [float] NOT NULL,
	[T$PLEV] [float] NOT NULL,
	[T$CUPS] [char](3) NOT NULL,
	[T$CVPS] [float] NOT NULL,
	[T$CITG] [char](6) NOT NULL,
	[T$CSGS] [char](6) NOT NULL,
	[T$ODAT] [datetime] NULL,
	[T$DDTA] [datetime] NULL,
	[T$OQUA] [float] NOT NULL,
	[T$CUQS] [char](3) NOT NULL,
	[T$CVQS] [float] NOT NULL,
	[T$LENG] [float] NOT NULL,
	[T$WIDT] [float] NOT NULL,
	[T$THIC] [float] NOT NULL,
	[T$DISC$1] [float] NOT NULL,
	[T$DISC$2] [float] NOT NULL,
	[T$DISC$3] [float] NOT NULL,
	[T$LDAM$1] [float] NOT NULL,
	[T$LDAM$2] [float] NOT NULL,
	[T$LDAM$3] [float] NOT NULL,
	[T$STDC] [float] NOT NULL,
	[T$DLEV$1] [float] NOT NULL,
	[T$DLEV$2] [float] NOT NULL,
	[T$DLEV$3] [float] NOT NULL,
	[T$CDIS$1] [char](3) NOT NULL,
	[T$CDIS$2] [char](3) NOT NULL,
	[T$CDIS$3] [char](3) NOT NULL,
	[T$DMTH$1] [float] NOT NULL,
	[T$DMTH$2] [float] NOT NULL,
	[T$DMTH$3] [float] NOT NULL,
	[T$AMTA] [float] NOT NULL,
	[T$DQUA] [float] NOT NULL,
	[T$BQUA] [float] NOT NULL,
	[T$CCTY] [char](3) NOT NULL,
	[T$CVAT] [char](9) NOT NULL,
	[T$CWAR] [char](3) NOT NULL,
	[T$CPRJ] [char](6) NOT NULL,
	[T$ISSS] [float] NOT NULL,
	[T$PORN] [float] NOT NULL,
	[T$PPON] [float] NOT NULL,
	[T$CONO] [float] NOT NULL,
	[T$POSI] [float] NOT NULL,
	[T$QONO] [float] NOT NULL,
	[T$QPON] [float] NOT NULL,
	[T$TTYR] [char](3) NOT NULL,
	[T$INVR] [float] NOT NULL,
	[T$REVI] [char](6) NOT NULL,
	[T$LSEL] [float] NOT NULL,
	[T$CLOT] [char](16) NOT NULL,
	[T$SCOM] [float] NOT NULL,
	[T$CDEL] [char](3) NOT NULL,
	[T$CTRJ] [char](3) NOT NULL,
	[T$PRDT] [datetime] NULL,
	[T$CITT] [char](3) NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$EONO] [char](30) NOT NULL,
	[T$EPOS] [char](16) NOT NULL,
	[T$ESEQ] [char](11) NOT NULL,
	[T$BODQ] [float] NOT NULL,
	[T$SFLG] [float] NOT NULL,
	[T$ARDT] [datetime] NULL,
	[T$PJCO] [char](1) NOT NULL,
	[T$LYER] [float] NOT NULL,
	[T$SFSO] [float] NOT NULL,
	[T$SFPO] [float] NOT NULL,
	[T$PMCD] [datetime] NULL,
	[T$ISUB] [float] NOT NULL,
	[T$BFDY] [float] NOT NULL,
	[T$TRDY] [float] NOT NULL,
	[T$FAQA] [float] NOT NULL,
	[T$OHSQ] [float] NOT NULL,
	[T$SSTA] [float] NOT NULL,
	[T$IFPS] [float] NOT NULL,
	[T$TFLG] [float] NOT NULL,
	[T$CUPN] [char](30) NOT NULL,
	[T$PITM] [char](4) NOT NULL,
	[T$OHNO] [char](20) NOT NULL,
	[T$SQPM] [float] NOT NULL,
	[T$TLDT] [datetime] NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
