USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTCMCS041180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTCMCS041180](
	[T$CDEC] [char](3) NOT NULL,
	[T$DSCA] [char](30) NOT NULL,
	[T$CDYN] [float] NOT NULL,
	[T$CRPD] [float] NOT NULL,
	[T$TXTA] [float] NOT NULL,
	[T$POTP$L] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
