USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TTFGLD006180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TTFGLD006180](
	[T$YEAR] [float] NOT NULL,
	[T$YDSC] [char](15) NOT NULL,
	[T$FPDT] [datetime] NULL,
	[T$RPDT] [datetime] NULL,
	[T$VPDT] [datetime] NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
