USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[CustomerPartNo]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPartNo](
	[CpartNo] [nchar](10) NULL
) ON [PRIMARY]

GO
