USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSCPP200180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP200180](
	[T$PITM] [char](4) NOT NULL,
	[T$PVER] [char](1) NOT NULL,
	[T$PFIX] [char](3) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$ISEG] [char](6) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
