USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSBOM421180_unit]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSBOM421180_unit](
	[t$pjno] [char](10) NOT NULL,
	[t$sern] [float] NOT NULL,
	[BOCOS] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Index1]    Script Date: 2014/11/12 17:06:44 ******/
CREATE NONCLUSTERED INDEX [Index1] ON [dbo].[TFSBOM421180_unit]
(
	[t$pjno] ASC,
	[t$sern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
