USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSBOC112180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSBOC112180](
	[T$MATP] [char](30) NOT NULL,
	[T$SERI] [float] NOT NULL,
	[T$TYPE] [char](30) NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
