USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[TFSCPP736180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP736180](
	[T$SERN] [float] NOT NULL,
	[T$TRTP] [float] NOT NULL,
	[T$DESC] [char](20) NOT NULL,
	[T$PLNT] [char](2) NOT NULL,
	[T$ORNO] [float] NOT NULL,
	[T$PONO] [float] NOT NULL,
	[T$SRNB] [float] NOT NULL,
	[T$IANO] [char](20) NOT NULL,
	[T$TRDT] [datetime] NULL,
	[T$TRTM] [float] NOT NULL,
	[T$CSGS] [char](15) NOT NULL,
	[T$NAMA] [char](35) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$PCDT] [datetime] NULL,
	[T$OYAR] [float] NOT NULL,
	[T$OPRD] [float] NOT NULL,
	[T$PCDN] [datetime] NULL,
	[T$NYAR] [float] NOT NULL,
	[T$NPRD] [float] NOT NULL,
	[T$PQTY] [float] NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$PRIN] [float] NOT NULL,
	[T$MTLP] [float] NOT NULL,
	[T$MTLN] [float] NOT NULL,
	[T$UNPL] [float] NOT NULL,
	[T$SFPL] [float] NOT NULL,
	[T$PANL] [float] NOT NULL,
	[T$SQFT] [float] NOT NULL,
	[T$AMNT] [float] NOT NULL,
	[T$AMNN] [float] NOT NULL,
	[T$MAMT] [float] NOT NULL,
	[T$MAMN] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
