USE [FactoryLoading]
GO
/****** Object:  StoredProcedure [dbo].[message]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[message]
as
raiserror ('Your Are Right!',16,1)
GO
