USE [FactoryLoading]
GO
/****** Object:  Table [dbo].[tt]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tt](
	[T$MRNO] [char](20) NOT NULL,
	[aa] [nchar](10) NULL,
	[bb] [nchar](10) NULL,
	[cc] [nchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
