USE [FactoryLoading]
GO
/****** Object:  View [dbo].[vw_fscpp253180]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_fscpp253180]
as 
SELECT T$ORNO,T$PONO,(CASE T$HUBQ WHEN 0 THEN T$CQTY-T$SQTY ELSE T$CQTY-T$HUBQ END ) AS FGQY,T$HUBQ
FROM 
(
SELECT T$ORNO,T$PONO,SUM(T$CQTY) AS T$CQTY,SUM(T$SQTY) AS T$SQTY,SUM(T$HUBQ) AS T$HUBQ
FROM TFSCPP253180 where t$orno <> 0 GROUP BY T$ORNO,T$PONO 
) AS A




GO
