USE [FactoryLoading]
GO
/****** Object:  StoredProcedure [dbo].[Query_SalePriceTrend_new_integration_price]    Script Date: 2014/11/12 17:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Query_SalePriceTrend_new_integration_price]
	@YearFrom		INT,
	@PeriodFrom		INT,
	@YearTo			INT,
	@PeriodTo		INT,
	@ProjectFrom	nvarchar(35),
	@ProjectTo		nvarchar(35),
	@plant			nvarchar(10),
	@Cust_From		nvarchar(20),
	@Cust_To		nvarchar(20),
	@Operation		nvarchar(10)
AS
BEGIN
	SET NOCOUNT ON;
	
	declare @DateFrom		datetime
	declare @DateTo			datetime
	declare	@TempYear		int
	declare	@TempPeriod		int
	declare	@Loop			int
	declare	@LoopCount		int
	declare @sqlString		nvarchar(1000)
	declare @tempYearFrom	INT
	declare @tempPeriodFrom	INT
	declare @tempYearTo		INT
	declare @tempPeriodTo	INT
	declare @tempField		nvarchar(1000)

	set	   @TempYear	   = @YearFrom
	set    @TempPeriod     = @PeriodFrom
	set	   @tempYearFrom   = @YearFrom
	set	   @tempYearTo     = @YearTo
	set    @tempPeriodFrom = @PeriodFrom
	set    @tempPeriodTo   = @PeriodTo
	set	   @Loop		   = 1
	set	   @ProjectFrom = isnull(@ProjectFrom,'')
	set	   @ProjectTo   = isnull(@ProjectTo,'')
	set    @Cust_From   = isnull(@Cust_From,'')
	set    @Cust_To   = isnull(@Cust_To,'')
	if	   @plant = 'B1'
		set @plant = 'P'

	if @ProjectFrom = '' set @ProjectTo = 'ZZZZZZZZZZZZZ'
	if @Cust_From   = '' set @Cust_To = 'ZZZZZZ'

	if @YearFrom > @YearTo
		begin
			raiserror('The Year To less then Year From,Please check !',16,1)
			return
		end

	if @YearFrom = @YearTo
		set @Loop = @PeriodTo - @PeriodFrom + 1

	if @YearFrom < @YearTo
		set @Loop = (@YearTo - @YearFrom) * 12 - @PeriodFrom + @PeriodTo + 1

	set @LoopCount = @Loop
/*======================================= Interagtion to finial result ============================*/
	if exists(select * from sysobjects where id = object_id(N'temp..#saleperiod') and type = 'U')
		drop table #saleperiod

	create table #saleperiod(Item NVARCHAR(50),Price FLOAT,Customer	NVARCHAR(50),Delivery NVARCHAR(50),Delivery_Term NVARCHAR(50),Del_Qty decimal(18,0),FYear INT,FPeriod INT)

	while @Loop > 0 
		begin
			-- Get Start Date & End Date
			select @DateFrom   = t$stdt from dbo.TTFGLD005180 where T$YEAR = @tempYearFrom and T$PRNO = @tempPeriodFrom and T$PTYP = 1
			set @TempPeriod = @TempPeriod + 1
			if @TempPeriod > 12
				begin
					set @TempYear = @TempYear + 1
					set @TempPeriod = 1
				end
			select @DateTo   = t$stdt from dbo.TTFGLD005180 where T$YEAR = @TempYear and T$PRNO = @TempPeriod and T$PTYP = 1
			set @DateTo = @DateTo - 1 

			-- Get Data
			IF ltrim(rtrim(@Plant)) <> 'ALL'
				begin
					INSERT INTO #saleperiod
					--SELECT A.T$ITEM,cast(isnull(A.T$PRIC,0) as decimal(18,4)),ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'') AS Delivery_Term,sum(A.T$TQUA) as Del_Qty,@tempYearFrom as Year,@tempPeriodFrom as Period
					SELECT A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'') AS Delivery_Term,sum(A.T$TQUA) as Del_Qty,@tempYearFrom as Year,@tempPeriodFrom as Period
					FROM dbo.TFSCPP711180 AS A
					LEFT JOIN dbo.TTDSLS040180 as b on b.t$orno = a.t$orno
					WHERE A.T$ASDT between @DateFrom and @DateTo
					AND   A.T$ITEM NOT LIKE 'TTC%'
					AND   A.T$ITEM NOT LIKE 'TCC%'
					AND   A.T$COTP <> 'RPL'
					AND   A.T$ITEM between @ProjectFrom and @ProjectTo
					and	  A.T$CUNO between @Cust_From and @Cust_To
					and	  A.T$PLNT like @plant+'%'
					GROUP BY A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'')
					ORDER BY A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'')
				end
			else
				begin
					INSERT INTO #saleperiod
--					SELECT A.T$ITEM,cast(isnull(A.T$PRIC,0) as decimal(18,4)),ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'') AS Delivery_Term,sum(A.T$TQUA) as Del_Qty,@tempYearFrom as Year,@tempPeriodFrom as Period
					SELECT A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'') AS Delivery_Term,sum(A.T$TQUA) as Del_Qty,@tempYearFrom as Year,@tempPeriodFrom as Period
					FROM dbo.TFSCPP711180 AS A
					LEFT JOIN dbo.TTDSLS040180 as b on b.t$orno = a.t$orno
					WHERE A.T$ASDT between @DateFrom and @DateTo
					--AND	  A.T$TQUA > 0 
					AND   A.T$ITEM NOT LIKE 'TTC%'
					AND   A.T$ITEM NOT LIKE 'TCC%'
					AND   A.T$COTP <> 'RPL'
					AND   A.T$ITEM between @ProjectFrom and @ProjectTo
					and	  A.T$CUNO between @Cust_From and @Cust_To
					GROUP BY A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'')
					ORDER BY A.T$ITEM,A.T$PRIC,ISNULL(A.T$CUNO,''),ISNULL(A.T$CDEL,''),ISNULL(B.T$CDEC,'')
				end
			set @tempYearFrom   = @TempYear
			set @tempPeriodFrom = @TempPeriod
			set @Loop			= @Loop - 1
		end

--select * from #saleperiod

--SELECT SUM(PRICE * Del_Qty) AS AMOUNT FROM #saleperiod

	if exists(select * from sysobjects where id = object_id(N'temp..#saleperiod1') and type = 'U')
		drop table #saleperiod1

	if exists(select * from tempdb.dbo.sysobjects where id = object_id(N'tempdb..#t') and type='U')
		drop table #t

	select * into #t from #saleperiod A
	outer apply(select unitPrice = stuff(replace(replace(
					(
						select distinct cast(price as nvarchar(10)) as unitPrice From #saleperiod N
						where  Item = A.Item
						and	   Fyear = A.Fyear
						and	   Fperiod = A.Fperiod
						and	   Customer = A.Customer
						and	   Delivery = A.Delivery
						and	   Delivery_Term = A.Delivery_Term
						FOR XML AUTO
					), '<N UnitPrice="', ';'), '"/>', ''), 1, 1, ''), 
					DelQuantity = stuff(replace(replace(
					(
						select cast(Del_Qty as nvarchar(20)) as DelQuantity From #saleperiod N
						where  Item = A.Item
						and	   Fyear = A.Fyear
						and	   Fperiod = A.Fperiod
						and	   Customer = A.Customer
						and	   Delivery = A.Delivery
						and	   Delivery_Term = A.Delivery_Term
						FOR XML AUTO
					), '<N DelQuantity="', ';'), '"/>', ''), 1, 1, '')
				)N

	--select * from #t

		select distinct FYear,FPeriod,Item,Customer,Delivery,Delivery_Term,unitPrice as price,DelQuantity as Del_Qty
		into #saleperiod1
		from #t

----	select FYear,FPeriod,Item,Customer,Delivery,Delivery_Term,cast(sum(price*Del_Qty)/sum(Del_Qty) as decimal(18,4)) as price,sum(Del_Qty) as Del_Qty
----	into #saleperiod1
----	from #saleperiod
----	group by FYear,FPeriod,item,Customer,Delivery,Delivery_Term
--
--	select * from #saleperiod1
--
/*======================================= Interagtion to finial result ============================*/
	if exists(select * from sysobjects where id = object_id(N'temp..#saleperiodResult') and type = 'U')
		drop table #saleperiodResult

	create table #saleperiodResult(Item	NVARCHAR(50),Customer NVARCHAR(50),Delivery	NVARCHAR(50),Delivery_Term	NVARCHAR(50))

	set	   @TempYear	   = @YearFrom
	set    @TempPeriod     = @PeriodFrom
	set	   @tempYearFrom   = @YearFrom
	set	   @tempYearTo     = @YearTo
	set    @tempPeriodFrom = @PeriodFrom
	set    @tempPeriodTo   = @PeriodTo
	set	   @Loop		   = @LoopCount
	
	while @Loop > 0 
		begin
			-- dyn add period field 
			set @tempField = 'FY'+cast(@TempYear as nvarchar(5))+'P'+cast(@TempPeriod as nvarchar(5))+'_Price'
			set @sqlString = 'alter table #saleperiodResult add '+@tempField+' nvarchar(100)'
			execute(@sqlString)

--			set @sqlString = 'update #saleperiodResult set '+@tempField+'=b.Price from #saleperiodResult as a,#saleperiod as b 
--				where a.Item = b.Item and a.Customer = b.Customer and a.Delivery = b.Delivery and a.Delivery_Term = b.Delivery_Term and a.'+@tempField+' is null and b.FYear='+cast(@TempYear as nvarchar(5))+' and b.FPeriod = '+cast(@TempPeriod as nvarchar(5))

			set @sqlString = 'insert into #saleperiodResult(Item,Customer,Delivery,Delivery_Term) select a.Item,a.Customer,a.Delivery,a.Delivery_Term from #saleperiod1 as a where not exists(select b.* from #saleperiodResult as b where a.item = b.item and a.customer = b.customer and a.Delivery = b.Delivery and a.Delivery_Term = b.Delivery_Term) and a.Fyear ='+cast(@TempYear as nvarchar(5))+' and a.FPeriod = '+cast(@TempPeriod as nvarchar(5))
			execute(@sqlString)

			set @sqlString = 
			'update #saleperiodResult 
			set '+@tempField+'=b.Price 
			from #saleperiodResult as a,#saleperiod1 as b 
			where a.Item = b.Item 
			and a.Customer = b.Customer 
			and a.Delivery = b.Delivery 
			and a.Delivery_Term = b.Delivery_Term 
			and a.'+@tempField+' is null 
			and b.price not in (select '+@tempField+' from #saleperiodResult as c where c.Item = b.item and '+@tempField+' = b.price)
			and b.FYear='+cast(@TempYear as nvarchar(5))+' 
			and b.FPeriod = '+cast(@TempPeriod as nvarchar(5))
			execute(@sqlString)

			set @tempField = 'FY'+cast(@TempYear as nvarchar(5))+'P'+cast(@TempPeriod as nvarchar(5))+'_Del_Qty'
			set @sqlString = 'alter table #saleperiodResult add '+@tempField+' nvarchar(100)'
			execute(@sqlString)

			set @sqlString = 
			'update #saleperiodResult 
			set '+@tempField+'=b.Del_Qty 
			from #saleperiodResult as a,#saleperiod1 as b 
			where a.Item = b.Item 
			and a.Customer = b.Customer 
			and a.Delivery = b.Delivery 
			and a.Delivery_Term = b.Delivery_Term 
			and a.'+@tempField+' is null 
			and b.price not in (select FY'+cast(@TempYear as nvarchar(5))+'P'+cast(@TempPeriod as nvarchar(5))+'_Price from #saleperiodResult as c where c.Item = b.item and '+@tempField+' = b.price)
			and b.FYear='+cast(@TempYear as nvarchar(5))+' 
			and b.FPeriod = '+cast(@TempPeriod as nvarchar(5))
			execute(@sqlString)

			set @TempPeriod = @TempPeriod + 1
			if @TempPeriod > 12
				begin
					set @TempYear = @TempYear + 1
					set @TempPeriod = 1
				end
			set @Loop = @Loop - 1
		end

--	alter table #saleperiodResult add Diff float
--	
--	-- ( Last period price - first period price ) * Last period qty
--	set @tempField = '(FY'+cast(@YearTo as nvarchar(5))+'P'+cast(@PeriodTo as nvarchar(5))+'_Price - '
--	--set @tempField = @tempField + 'FY'+cast(@YearFrom as nvarchar(5))+'P'+cast(@PeriodFrom as nvarchar(5))+'_Price)'
--	set @tempField = @tempField + 'isnull((select top 1 price from #saleperiod1 where Item = #saleperiodResult.item and Customer = #saleperiodResult.Customer and #saleperiodResult.Delivery = Delivery and #saleperiodResult.Delivery_Term = Delivery_Term order by FYear,FPeriod),0)) '
--	set @tempField = @tempField + ' * isnull(FY'+cast(@YearTo as nvarchar(5))+'P'+cast(@PeriodTo as nvarchar(5))+'_Del_Qty,0)'
--	set @sqlString = 'update #saleperiodResult set Diff = '+@tempField
--	--print @sqlString
--	execute(@sqlString)

/*===================================================================*/

--	set @sqlString = 'select * from #saleperiodResult order by Diff desc'
--	execute(@sqlString)

--	if exists(select * from sysobjects where id = object_id(N'temp..#tempsort') and type = 'U')
--		drop table #tempsort
--
--	select * into #tempsort from #saleperiodResult  where 1 <> 1
--
--	alter table #tempsort add id int identity
--
--	insert into #tempsort(Item,Diff) select Item,cast(sum(Diff) as decimal(18,2)) as Total_Diff from #saleperiodResult group by Item order by Total_Diff desc
--
--	insert into #saleperiodResult(Item,Diff) select Item,Diff from #tempsort
--
--	alter table #saleperiodResult add id int
--	
--	update #saleperiodResult set diff = cast(diff as decimal(18,2)),id = (select id from #tempsort as a where #saleperiodResult.item = a.item)

	--delete #saleperiodResult where diff is null

--	if @Operation = 'Desc'
--		select * from #saleperiodResult order by id desc,customer desc
--	if @Operation = 'Asc'
--		select * from #saleperiodResult order by id ,customer desc

	alter table #saleperiodResult add Final_customer nvarchar(10)
	alter table #saleperiodResult add Final_delivery nvarchar(10)

	update #saleperiodResult set Final_customer = (select x.T$CUNO from dbo.TFHCOM104183 as x where x.T$SUNO = #saleperiodResult.Customer and x.T$SDEL = #saleperiodResult.Delivery),
								Final_delivery =  (select x.T$CDEL from dbo.TFHCOM104183 as x where x.T$SUNO = #saleperiodResult.Customer and x.T$SDEL = #saleperiodResult.Delivery)

	ALTER TABLE #saleperiodResult ADD  OEM_Desc  NVARCHAR(30)
	UPDATE #saleperiodResult SET OEM_Desc = (SELECT T$DESC FROM DataWarehouse.dbo.Item_OEM AS X WHERE X.T$ITEM = #saleperiodResult.ITEM)
	
	select * from #saleperiodResult 

	drop table #saleperiodResult
--	drop table #tempsort
	drop table #saleperiod
	drop table #saleperiod1

END



GO
