USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TFSCPP201180]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFSCPP201180](
	[T$PLNT] [nvarchar](2) NOT NULL,
	[T$NCMP] [numeric](25, 5) NOT NULL,
	[T$CWAR] [nvarchar](3) NOT NULL,
	[T$LOCA] [numeric](25, 5) NULL,
	[T$REFCNTD] [numeric](25, 5) NULL,
	[T$REFCNTU] [numeric](25, 5) NULL,
 CONSTRAINT [PK_TFSCPP201180] PRIMARY KEY CLUSTERED 
(
	[T$PLNT] ASC,
	[T$NCMP] ASC,
	[T$CWAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
