USE [multekchi_realtime]
GO
/****** Object:  View [dbo].[vtfsolp142]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vtfsolp142]
as 
select * from [HKGNT137].[MisDB].[dbo].[TFSOLP142180]
GO
