USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TFSCPP201180_cons]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFSCPP201180_cons](
	[T$PLNT] [nvarchar](2) NULL,
	[T$NCMP] [numeric](25, 5) NULL,
	[T$CWAR] [nvarchar](3) NULL,
	[T$LOCA] [numeric](25, 5) NULL,
	[T$REFCNTD] [numeric](25, 5) NULL,
	[T$REFCNTU] [numeric](25, 5) NULL
) ON [PRIMARY]

GO
