USE [multekchi_realtime]
GO
/****** Object:  View [dbo].[vTFSBOM400180]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vTFSBOM400180]
AS
--SELECT * FROM OPENQUERY(AS1P1,'select  T$PJNO,T$SERN,T$CRID,(CASE WHEN T$CRDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$CRDT END) AS T$CRDT,(CASE WHEN T$LCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$LCDT END) AS T$LCDT,T$STAT,T$MBSP,T$ODSP,T$STSP,T$MASP,T$BUSP,T$CESU,T$CESP,T$CESS,T$CISU,T$CISP,T$CISS,T$DLIU,T$DLIP,T$DLIS,T$ILIU,T$ILIP,T$ILIS,T$MDSU,T$MDSP,T$MDSS,T$LDIU,T$LDIP,T$LDIS,T$LDMU,T$LDMP,T$LDMS,T$TCIU,T$TCIP,T$TCIS,T$GSRU,T$GSRP,T$GSRS,T$PRIC,T$MCSR,T$PRMG,T$PMGR,T$EPRP,T$EPPP,T$EPPC,T$VERS,T$AVER,T$TCUU,T$TCUP,T$TCUS,T$FDIR,T$BTYP,T$ATYP,T$TQTY,T$MRB1,T$MRB4,T$MR12,T$MR13,T$TXTA,T$PLNT,T$UFLG,T$SCRE,T$DCFA,(CASE WHEN T$CODA < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$CODA END) AS T$CODA,T$COTI,T$PVER,T$MVER,T$OU13,T$APRJ,T$TSCU,T$TSCP,T$TSCS,T$QSTA,T$PLEN,T$PWID,T$UNST,T$STPL,T$PLUP,T$REFCNTD,T$REFCNTU  
--from baan.tfsbom400180 where to_char(t$lcdt,''yyyy-mm-dd'') = to_char(sysdate,''yyyy-mm-dd'') AND SUBSTR(t$pjno,1,1)=''$''')

SELECT * FROM OPENQUERY(AS1P1,'select  T$PJNO,T$SERN,T$CRID,(CASE WHEN T$CRDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$CRDT END) AS T$CRDT,(CASE WHEN T$LCDT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$LCDT END) AS T$LCDT,T$STAT,T$MBSP,T$ODSP,T$STSP,T$MASP,T$BUSP,T$CESU,T$CESP,T$CESS,T$CISU,T$CISP,T$CISS,T$DLIU,T$DLIP,T$DLIS,T$ILIU,T$ILIP,T$ILIS,T$MDSU,T$MDSP,T$MDSS,T$LDIU,T$LDIP,T$LDIS,T$LDMU,T$LDMP,T$LDMS,T$TCIU,T$TCIP,T$TCIS,T$GSRU,T$GSRP,T$GSRS,T$PRIC,T$MCSR,T$PRMG,T$PMGR,T$EPRP,T$EPPP,T$EPPC,T$VERS,T$AVER,T$TCUU,T$TCUP,T$TCUS,T$FDIR,T$BTYP,T$ATYP,T$TQTY,T$MRB1,T$MRB4,T$MR12,T$MR13,T$TXTA,T$PLNT,T$UFLG,T$SCRE,T$DCFA,(CASE WHEN T$CODA < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$CODA END) AS T$CODA,T$COTI,T$PVER,T$MVER,T$OU13,T$APRJ,T$TSCU,T$TSCP,T$TSCS,T$QSTA,T$PLEN,T$PWID,T$UNST,T$STPL,T$PLUP,T$REFCNTD,T$REFCNTU  
from baan.tfsbom400180 where to_char(t$lcdt,''yyyy-mm-dd'') = (SELECT to_char(MAX(t$lcdt),''yyyy-mm-dd'') FROM baan.tfsbom400180)
AND SUBSTR(t$pjno,1,1)=''$''')


GO
