USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TFSCPP200180_link2]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSCPP200180_link2](
	[T$PITM] [char](4) NOT NULL,
	[T$PVER] [char](1) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$PFIX] [char](3) NOT NULL,
	[T$OTYP] [float] NOT NULL,
	[T$PRDN] [char](30) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Main_Index]    Script Date: 2014/11/12 17:13:32 ******/
CREATE NONCLUSTERED INDEX [Main_Index] ON [dbo].[TFSCPP200180_link2]
(
	[T$PITM] ASC,
	[T$PVER] ASC,
	[T$ITEM] ASC,
	[T$PFIX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
