USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[ftp_script]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ftp_script](
	[stID] [int] NOT NULL,
	[script_line] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
