USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TFSBOM499180]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSBOM499180](
	[T$USRN] [char](12) NOT NULL,
	[T$PITM] [char](16) NOT NULL,
	[T$STEP] [float] NOT NULL,
	[T$CITG] [char](6) NOT NULL,
	[T$CWOC] [char](4) NOT NULL,
	[T$MNWC] [char](4) NOT NULL,
	[T$ITEM] [char](32) NOT NULL,
	[T$QUTY] [float] NOT NULL,
	[T$UNIT] [char](3) NOT NULL,
	[T$PRIC] [float] NOT NULL,
	[T$COST] [float] NOT NULL,
	[T$SEQE] [float] NOT NULL,
	[T$PJNO] [char](10) NOT NULL,
	[T$SPRI] [float] NOT NULL,
	[T$SCOS] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TFSBOM499180$IDX1]    Script Date: 2014/11/12 17:13:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TFSBOM499180$IDX1] ON [dbo].[TFSBOM499180]
(
	[T$USRN] ASC,
	[T$PJNO] ASC,
	[T$PITM] ASC,
	[T$STEP] ASC,
	[T$CITG] ASC,
	[T$SEQE] ASC,
	[T$ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
