USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[Makeup_Warehouse]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Makeup_Warehouse](
	[T$PLNT] [char](2) NULL,
	[T$CWAR] [char](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
