USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TTFGLD007181]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTFGLD007181](
	[T$PTYP] [float] NOT NULL,
	[T$YEAR] [float] NOT NULL,
	[T$PRNO] [float] NOT NULL,
	[T$SACP] [float] NOT NULL,
	[T$SACR] [float] NOT NULL,
	[T$SCMG] [float] NOT NULL,
	[T$SGLD] [float] NOT NULL,
	[T$REFCNTD] [float] NOT NULL,
	[T$REFCNTU] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Index [TTFGLD007181$IDX1]    Script Date: 2014/11/12 17:13:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [TTFGLD007181$IDX1] ON [dbo].[TTFGLD007181]
(
	[T$PTYP] ASC,
	[T$YEAR] ASC,
	[T$PRNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
