USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[bsdelcode]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bsdelcode](
	[T$ORNO] [varchar](50) NULL,
	[T$CUNO] [varchar](50) NULL,
	[T$CDEL] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
