USE [multekchi_realtime]
GO
/****** Object:  Table [dbo].[TFSDELCOD180]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TFSDELCOD180](
	[T$ORNO] [varchar](50) NULL,
	[T$CUNO] [varchar](50) NULL,
	[T$CDEL] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [index1]    Script Date: 2014/11/12 17:13:32 ******/
CREATE NONCLUSTERED INDEX [index1] ON [dbo].[TFSDELCOD180]
(
	[T$ORNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
