USE [multekchi_realtime]
GO
/****** Object:  View [dbo].[vTFSOLP128180]    Script Date: 2014/11/12 17:13:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[vTFSOLP128180]
AS
SELECT * FROM OPENQUERY(AS1P1,'SELECT T$PLNT,T$PJNO,T$LCNT,T$ITEM,T$UCOS,T$USQF,T$CUST,T$OEMN,T$TECH,T$MDSC,T$SDSC,T$PROC,T$SURF,T$CWOC,(CASE WHEN T$DATE < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$DATE END) AS T$DATE,T$QTYI,T$QSQF,T$MRBQ,T$MSQF,T$MCOS,T$ICOS,T$OUTE,T$TYPE,T$FTYI,(CASE WHEN T$JDAT < TO_DATE(''1753-01-01'',''YYYY-MM-DD'') THEN TO_DATE(''1753-01-01'',''YYYY-MM-DD'') ELSE T$JDAT END) AS T$JDAT,T$REFCNTD,T$REFCNTU FROM Baan.TFSOLP128180
 where to_char(t$jdat,''yyyy-mm-dd'') = to_char(sysdate,''yyyy-mm-dd'') ')

GO
