USE [ContractTracker]
GO
/****** Object:  Table [dbo].[GPAHistory]    Script Date: 11/06/2014 15:55:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPAHistory](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[GPANo] [varchar](10) NULL,
	[Operator] [varchar](50) NULL,
	[OperationType] [varchar](50) NULL,
	[OperationDate] [datetime] NULL,
 CONSTRAINT [PK_GPAHistory_1] PRIMARY KEY NONCLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE CLUSTERED INDEX [PK_GPAHistory] ON [dbo].[GPAHistory] 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GPAHistory] ADD  CONSTRAINT [DF_GPAHistory_OperationDate]  DEFAULT (getdate()) FOR [OperationDate]
GO
